.dashboard-agency-filter {
    @import '../../../components/autocomplete/autocomplete';
    @import '../../../components/autocomplete/errorMessage';
    @import './selectedFilters';

    .selected-filters {
        background-color: $color-gray-lightest;
        display: inline-block;
        padding: rem(12);

        .shown-filter-button {
            font-size: rem(12);
            max-width: 100%;

            &.no-click {
                &:hover {
                    background: $color-white;
                    border: 1px solid $color-gray-lighter;
                    cursor: default;
                }
            }
        }
    }
}