.dashboard-agency-filter {
    @import './selectedFilters';
    @import '../../../components/typeahead/typeahead';

    .typeahead-holder {
        position: relative;

        input {
            color: #adadad;
        }

        .awesomplete ul {
            width: 100%;
            position: static;
        }

        .typeahead-warning {
            @include usa-input-error-message;
            border: 1px solid $color-secondary-dark;
            padding: rem(15);

            .error-icon svg {
                width: rem(20);
                height: rem(20);
                fill: $color-secondary-dark !important;
                position: relative;
                top: rem(-20);
            }
            .alert-text {
                width: 80%;
                .alert-header-text {
                    font-weight: $font-bold;
                    font-size: rem(18);
                    margin: 0;
                    color: #a94442;
                }
            }
            div {
                display: inline-block;
            }
            p {
                font-size: $small-font-size;
                margin: 0;
                color: $color-secondary-darkest;
            }
        }
    }

    @import './selectedFilters';
}