.fiscal-years {
    ul.fiscal-years-list {
        @include unstyled-list;
        font-weight: $font-normal;
        padding-top: rem(15);
        width: 100%;
        .fiscal-years__wrapper {
            @include display(flex);
        }
        .fiscal-years__left {
            @include display(flex);
            @include flex(1 1 auto);
            @include flex-flow(column);
        }
        .fiscal-years__right {
            @include display(flex);
            @include flex(1 1 auto);
            @include flex-flow(column);
        }
        li.fy-option {
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
            list-style-type: none;
            .fy-option__label {
                font-weight: $font-normal;
                font-size: $small-font-size;
                line-height: rem(26);
                padding-left: rem(5);
            }
        }
    }
    .warning-tooltip {
        // space the tooltip to the right of the FY checkboxes
        margin-left: rem(175);
        margin-top: rem(-60);
    }
}
