.DateRangePicker {
    margin-top: rem(12);
    .DayPicker_weekHeader_li {
        // override global li styling
        &:before {
            content: '';
            display: block;
        }
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .DateRangePickerInput {
        .DateInput_input__focused {
            border-bottom-color: $color-primary;
        }
        .DayPickerKeyboardShortcuts_show__bottomRight {
            &:before {
                border-right-color: $color-primary;
            }
        }
    }

    .CalendarDay {
        border-color: $color-gray-light;

        &.CalendarDay__selected {
            background-color: $color-primary;
            border-color: $color-gray-light;
            color: $color-white;
        }
    
        &.CalendarDay__selected_span {
            background-color: $color-cool-blue-lighter;
            border-color: $color-gray-light;
            color: $color-white;
            &:hover {
                background-color: $color-cool-blue-light;
            }
        }
    
        &.CalendarDay__hovered_span {
            background-color: $color-cool-blue-lighter;
            border-color: $color-gray-light;
            color: $color-white;
            &:hover {
                background-color: $color-primary;
                border-color: $color-gray-light;
                color: $color-white;
            }
        }
    }
}
