.quarter-picker {
    .warning-tooltip {
        // space the tooltip to the right of the quarter buttons
        margin-left: rem(230);
        margin-top: rem(-50);
    }
    ul.quarter-picker__list {
        @include unstyled-list;
        @include display(flex);
        @include align-items(center);
        @include flex(1 1 auto);

        padding: rem(5) 0;

        li.quarter-picker__list-item {
            margin-right: rem(2);
            margin-left: rem(1);

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            button.quarter-picker__quarter {
                @include button-unstyled;

                color: $color-gray;
                text-align: center;
                line-height: rem(22);
                font-weight: $font-bold;
                background-color: $color-gray-light;
                padding: rem(3) rem(18);

                &.quarter-picker__quarter_first {
                    border-radius: rem(30) 0 0 rem(30);
                }

                &.quarter-picker__quarter_last {
                    border-radius: 0 rem(30) rem(30) 0;
                }

                &:active, &.quarter-picker__quarter_active {
                    background-color: $color-primary;
                    color: $color-white;
                }

                &:hover{
                    background-color: $color-primary-darker;
                    color: $color-white;
                }

                &.quarter-picker__quarter_disabled {
                    background-color: $color-gray-lightest;
                    cursor: not-allowed;
                    color: $color-gray-light;
                    opacity: 0.90;
                }
            }
        }
    }
}
