.selected-filters {
    @include display(flex);
    @include flex-flow(row wrap);
    background-color: $color-gray-lightest;
    padding: rem(5);
    margin-top: rem(15);
    margin-bottom: rem(10);
    &:empty {
        display: none;
    }
    .shown-filter-button {
        background-color: $color-white;
        border: 1px solid $color-gray-lighter;
        border-radius: rem(4);
        color: $color-gray;
        font-size: $smallest-font-size;
        font-weight: normal;
        min-height: rem(31);
        height: auto;
        padding: rem(6) rem(10);
        text-align: left;
        width: auto;
        max-width: 90%;
        line-height: 1.3;
        margin-bottom: rem(2);
        margin-top: rem(2);
        @include display(flex);
        @include align-items(center);
        &:empty {
            display: none;
        }
        .close {
            @include display(flex);
            font-size: $small-font-size;
            padding: 0 rem(5) rem(1) rem(10);
            opacity: 1;
            color: $color-gray;
        }
        &:hover {
            border: 1px solid $color-cool-blue-lighter;
            cursor: pointer;
            @include transition(all 0.25s $ease-in-out-sine);
            & .close {
                cursor: pointer;
                color: $color-cool-blue;
            }
        }
    }
}
