.submission-id-filter {
    @import './selectedFilters';
    @import '../../submissionsTable/textFilter';
    form.text-filter {
        border: solid 1px $color-gray-lighter;
        margin-top: 10px;
        height: 40px;
        font-size: rem(14);
    }
}