.submission-id-filter {
    @import './selectedFilters';
    @import '../../submissionsTable/textFilter';
    form.text-filter {
        border: solid 1px $color-gray-lighter;
        margin-top: 10px;
        height: 40px;
        font-size: rem(14);
        @include align-items(center);
        @include justify-content(space-between);
        .text-filter__input {
            @include flex(1 1 80%);
        }
        .text-filter__button {
            @include flex(0 0 20%);
        }
    }
}