.overwrite-wrapper {
    @include flex(0 1 auto);
    width: 100%;
    padding-left: 0;
    .upload-warning {
        margin: rem(15) 0;
    }
    .button-list {
        padding-top: 0px;
        .upload-buttons {
            @include display(flex);
            @include flex-direction(row);

            > div {
                @include flex(0 1 auto);
                width: 50%;
                padding-left: 10px;
                &:first-child {
                    padding-left: 0px;
                    padding-right: 10px;
                }
            }
        }

        .usa-da-icon {
            .usa-da-icon-info-circle {
                width: 5.5rem;
                height: 5.5rem;
                position: relative;
            }
        }
    }
}