.error-tabs {
	margin-top: 40px;
	width: 100%;
	background-color: $color-gray-dark;

	.tab-item {
		margin-top: 20px;
		margin-left: 10px;
		display: inline-block;
		padding: 0px 30px 0px 15px;

		background-color: $color-gray-dark;

		line-height: 5rem;
		font-size: 1.6rem;

		color: $color-gray;
		cursor: pointer;

		&:link, &:visited, &:hover, &:active {
			text-decoration: none;

		}

		&:first-child {
			margin-left: 20px;
		}

		&.active {
			background-color: $color-white;
		}

		.count-badge {
			font-weight: bold;
			margin-left: 10px;
		}
	}
}