.calendar-range-datepicker-wrapper {
    min-width: 500px;
    left: -180px;
    box-shadow: none;
    border: none;

    .calendar-range-datepicker {
        margin: 0 rem(20) rem(10) rem(20);

        .inner-calendar-datepicker {
            display: block;
            font-size: 1.1rem;
            padding-bottom: 1rem;

            .rdp-months {
                justify-content: space-between;
                max-width: 100%;
                gap: 0;

                .rdp-nav {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                .rdp-month {
                    .rdp-month_caption {
                        justify-content: space-around;
                        font-family: $font-sans;
                        font-size: rem(12);
                    }

                    table {
                        td {
                            border: 1px solid #f0f0f0;
                            width: rem(30);
                            height: rem(37.5);
    
                            button {
                                border-radius: 0;
                                color: black;
                                font: inherit;
                                width: 100%;
                                height: 100%;
    
                                &:hover {
                                    background-color: #F0F8FF;
                                }
    
                                &:disabled {
                                    color: $color-gray-lighter;
                                    background-color: $color-white;
                                }
                            }
    
                            &.rdp-selected:not(.rdp-outside) {
                                color: $color-gray-lightest;
                                background-color: #0071bc;
                                opacity: 0.5;
                                border-color: $color-primary-darker;
                                font: var(--rdp-day-font);
    
                                button {
                                    color: $color-gray-lightest;
                                    &:hover {
                                        background-color: #0071bc;
                                    }
                                }
                            }
    
                            &.rdp-range_start:not(.rdp-outside), &.rdp-range_end:not(.rdp-outside) {
                                opacity: 1;
    
                                button {
                                    background-color: #3f6fb3;
                                    border-color: #3f6fb3;
                                }
                            }
    
                            &.rdp-outside {
                                background: $color-white;
                                border-color: #f0f0f0;
                                color: $color-gray-lighter;
                                cursor: default;
                                font: var(--rdp-day-font);
    
                                button {
                                    color: $color-gray-lighter;
                                    background: $color-white;
                                    border: none;
                                    cursor: default;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .button-bar {
        text-align: center;

        button {
            background-color: transparent;
            border: 1px solid #78a0d6;
            color: #78a0d6;

            &:hover {
                background-color: #3f6fb3;;
                color: $color-white;
            }
        }
    }
}
