.dashboard-table {
    table {
        width: 100%;

        .dashboard-table__file-column {
            width: rem(137);
        }

        .dashboard-table__fyq-column {
            width: rem(114);
        }

        .dashboard-table__label-column {
            width: rem(129);
        }

        .dashboard-table__instances-column {
            width: rem(117);
        }

        .dashboard-table__rule-column {
            padding-right: 2em;
        }

        thead {
            color: $color-white;
            background: $color-gray;

            tr {
                height: rem(53);

                th {
                    padding-left: rem(6);
                }
            }
        }

        tbody {
            color: #555;

            tr {
                height: rem(41);

                &:nth-child(odd) {
                    background-color: #f7f7f7;
                }

                &:nth-child(even) {
                    background-color: $color-white;
                }
            }

            td {
                padding-left: rem(6);

                .ellipse-box {
                    display: block;
                    display: -webkit-box;
                    max-width: 100%;
                    margin: auto;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}