.dashboard-page__agency {
    padding: rem(10) 0 rem(15);
    font-size: $h4-font-size; 

    .dashboard-page__agency-icon {
        margin-right: rem(15);
    }
}
.dashboard-page__summary-table {
    font-size: rem(14);
    width: rem(638);
    
    .dashboard-page__summary-table-row {
        margin: 0 rem(16) 0;
        padding: rem(10) rem(30) rem(10);
        line-height: rem(32);
        border: solid rem(1) $color-gray-lightest;
    }
    svg {
        @include display(flex);
        @include justify-content(flex-end);
        margin-left:auto;
        margin-right:rem(12);
        font-size: rem(18);
    }
    .row-8 {
        width: 8%;
    }
    .row-12 {
        width: 12%;
    }
    .row-16 {
        width: 16%;
    }
    .row-17 {
        width: 17%;
    }
    .row-23 {
        width: 23%;
    }
}
