// addData Page

div.usa-da-submission-items {
	margin: 3em;

	.usa-da-submission-item {
		> div {
		border: 1px solid black;
		padding: 1em;
		}
	}
}

div.usa-da-dropzone {
	border: 2px dashed gray;
	padding: 2em;
}
