// addData Page
.usa-da-submit-row {
    h2 {
        margin-bottom: 20px;
    }
}

.usa-da-submit-review,
.usa-da-submit-review:hover {
    padding: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color: $color-green;
    color: $color-white;
    text-decoration: none;
    display: block;
}

div.usa-da-submission-instructions {
    margin: 6.0rem 0;
    border-left: 8px solid $color-primary-alt-light;
    & p {
        margin-bottom: 0;
        padding: 20px 0 20px 10px;
    }
}

div.usa-da-submission-items {
    margin-top: 60px;
    padding-bottom: 30px;

    .usa-da-submission-item {
        margin-top: 4.0rem;
        &:first-child {
            margin-top: 0em;
        }
        > div {}
        .usa-da-submission-item-drop-wrapper {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            @media (max-width: $screen-md-min) {
                display: block;
                width: 100%;
            }
        }
        .usa-da-submission-item-title {
            display: table-cell;
            vertical-align: middle;
            @media (max-width: $screen-md-min) {
                display: block;
                text-align: center;
                padding-bottom: 1.5em;
                width: 100%;
            }
        }
        .usa-da-submission-vertical-center {
            display: table;
            width: 100%;
        }
    }
}

div.usa-da-validate-items {
    padding: 0;
    .usa-da-validate-item {
        margin-bottom: 40px;
        position: relative;
        @include contentBlockWrapper() &.successful {
            opacity: 0.3;
        }
    }
    .usa-da-validate-item-status-section {
        border-right: 1px solid #e4e2e0;
        min-height: 171px;
    }
    .usa-da-validate-item-header {
        border-bottom: 1px solid #e4e2e0;
        min-height: 6.0rem;
        h4,
        p {
            margin: 0;
            line-height: 6.0rem;
            color: $color-gray;
        }
        h4 {
            font-weight: $font-light;
            font-size: 2.4rem;
            @media screen and (max-width: $medium-screen) {
                line-height: 1.2em;
                margin-bottom: 1.5rem;
            }
        }
        p {
            font-size: 1.2rem;
            text-align: right;
            @media screen and (max-width: $medium-screen) {
                text-align: left;
                line-height: 1.8rem;
                margin-bottom: 10px;
            }
        }
    }
    .usa-da-validate-item-file-name {
        font-size: 0.85em;
        margin: 4px 0 10px;
        color: $color-gray;
    }
    .usa-da-validate-item-body {
        text-align: center;
        font-size: $h4-font-size;
        font-weight: bold;
        padding: 15px 0;
        height: 111px;
        @extend .flex-center-content;
        & .usa-da-validate-item-message {
            color: $color-secondary;
            margin: -35px 0 0 0;
        }
        & .validate-message-loading{
            color: blue;
        }
        & .usa-da-validate-txt-wrap {
            margin: -35px 0 0 0;
        }
        & .usa-da-validate-loading-message {
            margin: -35px 0 0 0;
        }
    }
    .usa-da-validate-icon {
        font-size: 0.7em;
        text-align: center;
        &:before {
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .usa-da-validate-item-footer-wrap {
        position: relative;
    }
    .usa-da-validate-item-footer {
        text-align: center;
        background-color: $color-gray-lightest;
        font-size: 1.2rem;
        color: $color-gray;
        padding: 2px 0;
        height: 36px;
        cursor: pointer;
        bottom: 0;
        width: 100%;
        position: absolute;
        &.usa-da-header-error {
            & .usa-da-icon {
                & svg {
                    height: 20px;
                    width: 20px;
                    position: relative;
                    top: 5px;
                    fill: $color-gray-dark;
                }
            }
            &:hover {
                background: #ececec;
            }
            &.active {
                background: #a3a5aa;
                color: $color-white;
                border: 1px solid #999ba1;
                border-bottom: none;
                & .usa-da-icon {
                    & svg {
                        fill: $color-white;
                    }
                }
                &:hover {
                    background: #93959a;
                    color: $color-white;
                }
            }
        }
    }
    .usa-da-validate-item-file-section {
        padding: 0;
        text-align: center;
        @include display(flex);
        @include flex-direction(column);
        @include align-content(center);
        @include justify-content(center);
        height: 171px;
        .usa-da-validate-item-file-section-result {
            height: 50px;
            width: 35px;
            margin: 0 auto;
            background: url('../graphics/file_icon_lg.png') no-repeat;
            background-size: 35px 50px;
            position: relative;
            & .usa-da-icon {
                width: 2.4rem;
                height: 2.4rem;
                position: absolute;
                top: 13px;
                left: 6px;
                & .usa-da-icon-exclamation-circle {
                    fill: $color-secondary;
                }
                & .usa-da-icon-check-circle {
                    fill: $color-green-light;
                }
                & .usa-da-icon-cloud-upload {
                    fill: $color-gray-dark;
                    left: 9px
                }
            }
        }
        .usa-da-validate-item-file-section-correct-button,
        .full-overlay .buttonHolder {
            margin: 10px 0 0;
            .usa-da-validate-upload-button {
                box-shadow: inset 0 0 0 1px $color-secondary;
                border-radius: 0;
                font-size: 1.1rem;
                font-weight: 600;
                color: $color-secondary;
                padding: 1rem 2rem;
                background-color: $color-white;
                cursor: pointer;
                width: 88%;
                margin: 0 auto;
                &:hover {
                    background-color: $color-secondary;
                    color: $color-white;
                }
                &.optional-upload {
                    border: 1px solid $color-gray;
                    color: $color-gray;
                    box-shadow: initial;
                    &:hover {
                        background-color: $color-gray-dark;
                        color: $color-white;
                    }
                }
            }
        }
    }
    .usa-da-submission-item-drop-wrapper {
        padding: 0;
    }
}

.usa-da-validate-item-bottom-section {
    border-top: 1px solid #ccc;
}

.usa-da-validate-item-message-label {
    font-weight: 300;
    font-family: 'Source Sans Pro';
    color: $color-gray;
}

.usa-da-validate-item-warning {
    position: relative;
    border-right: 1px solid #ccc;
    .usa-da-validate-item-message-count {
        color: $color-gold;
        &.none {
            color: $color-gray-dark;
        }
    }
    .usa-da-validate-item-footer {
        position: relative;
    }
}

.usa-da-validate-item-critical {
    .usa-da-validate-item-message-count {
        color: $color-secondary;
        &.none {
            color: $color-gray;
        }
    }
    .usa-da-validate-item-footer {
        position: relative;
    }
}

.usa-da-validate-error-report {
    padding: 15px 0 30px;
    h3 {
        margin: 0;
    }
    td,
    th {
        text-align: left;
    }
}

.usa-da-validation-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: as-alpha($color-gray-dark, 0.85);
    z-index: 999;
    width: 100%;
    color: $color-white;
    & .usa-da-overlay-content-wrap {
        @extend .flex-center-content;
        height: 150px;
        @media screen and (max-width: $small-screen) {
            display: block;
            min-height: auto;
        }
    }
    & h6 {
        color: $color-white;
        margin-top: 0;
        @media screen and (max-width: $small-screen) {
            font-size: 1.6rem;
            margin: 1.0rem 0;
        }
    }
    & .usa-da-alert-icon {
        & svg {
            fill: $color-white;
            left: 0;
            top: -5px;
            width: 5.5rem;
            height: 5.5rem;
        }
        @media screen and (max-width: $small-screen) {
            top: 15px;
        }
    }
    & svg.usa-da-icon-check-circle,
    & svg.usa-da-icon-exclamation-circle {
        fill: $color-white;
        left: 0;
        top: -5px;
        width: 5.5rem;
        height: 5.5rem;
    }
    & .usa-da-validation-overlay-review {
        margin-left: 5px;
    }
    & .usa-da-btn-bg {
        @extend .flex-center-content;
        background: as-alpha($color-base, 0.40);
        height: 150px;
        margin-left: -22px;
        @media screen and (max-width: $medium-screen) {
            display: block;
            min-height: auto;
            margin: 0;
        }
    }

    .overlay-loading {
        width: 100%;
        h6 {
            width: 100%;
            text-align: left;
        }

        .overlay-help-text {
            font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;

            a {
                color: $color-white;
            }
        }
    }
}

div.usa-da-dropzone {
    border: 2px dashed #c8cfd7;
    padding: 6rem 2rem 2rem;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #808080;
    font-size: 1.4rem;
    position: relative;
    &:hover {
        border-color: $color-primary-alt-dark;
    }
    b {
        color: $color-gray;
    }
    & .usa-da-icon-cloud-upload {
        position: absolute;
        top: 2rem;
        left: 49%;
        height: 4.0rem;
        width: 4.5rem;
        padding-top: 0;
        padding-left: 0;
        fill: $color-gray-light;
    }
    &.active {
        border-color: $color-primary-alt-dark;
        & .usa-da-icon-cloud-upload {
            fill: $color-gray;
        }
    }
    & .usa-da-icon-cloud-upload {
        position: absolute;
        top: 2rem;
        left: 49%;
        font-size: 4rem;
        padding-top: 0;
        padding-left: 0;
    }
    &.dropped {
        & .usa-da-icon-cloud-upload {
            fill: $color-gray;
        }
        & .success .usa-da-icon-cloud-upload {
            fill: $color-green-light;
        }
        & .fail .usa-da-icon-cloud-upload {
            fill: $color-secondary;
        }
    }
    .is-caption {
        font-size: 1.4rem;
    }
    .usa-da-dropzone-fail {
        color: $color-secondary;
    }
    .usa-da-dropzone-success {
        color: $brand-success;
    }
    .progress {
        margin-top: 10px;
    }
}

.usa-da-validate-data-loading {
    min-height: 800px;
}

.usa-da-validate-fade-appear {
    opacity: 0.01;
    &.usa-da-validate-fade-appear-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}
.usa-da-validate-fade-enter {
    opacity: 0.01;
    &.usa-da-validate-fade-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}

.usa-da-validate-fade-leave {
    opacity: 1;
    &.usa-da-validate-fade-leave-active {
        opacity: 0.01;
        transition: opacity 500ms ease-in;
    }
}

.with-overlay {
    padding-bottom: 180px !important;
}

.usa-da-validate-corrected-file-holder {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;

    &.full-width {
        width: 100%;
        height: 100%;
    }

    .usa-da-icon {
        cursor: pointer;

        * {
            height: 20px;
            position: absolute;
            right: 7px;
            top: 7px;
        }
    }

    .corner-overlay {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 60px 60px 0;
        border-color: transparent $color-gray-lightest transparent transparent;
    }

    .full-overlay {
        background-color: $color-gray-lightest;
        height: 172px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.usa-da-validate-slide-appear {
    height: 0;
    &.usa-da-validate-slide-appear-active {
        height: 100%;
        transition: height 300ms ease-in;
    }
}

.usa-da-validate-slide-enter {
    height: 0;
    &.usa-da-validate-slide-enter-active {
        height: 100%;
        transition: height 300ms ease-in;
    }
}

.usa-da-validate-slide-leave {
    height: 100%;
    &.usa-da-validate-slide-leave-active {
        height: 0;
        transition: height 300ms ease-in;
    }
}