// addData Page
.usa-da-submit-row {
    h2 {
        margin-bottom: 20px;
    }
}

.usa-da-submit-review, .usa-da-submit-review:hover {
	padding: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	background-color: $color-green;
	color: $color-white;
	text-decoration: none;
	display: block;
}

div.usa-da-submission-instructions {
    margin: 6.0rem 0;
    border-left: 8px solid $color-primary-alt-light;
    & p{
        margin-bottom: 0;
        padding: 20px 0 20px 10px;
    }
}

div.usa-da-submission-items {
    margin-top: 1.5em;

    &.with-overlay {
        padding-bottom: 150px;
    }

    .usa-da-submission-item {

        
        margin-top: 4.0rem;
        // height: 120px;

        &:first-child {
            margin-top: 0em;
        }

        > div {
            // border: 1px solid #ccc;
            // padding: 1em;
        }

        .usa-da-submission-item-drop-wrapper {
            display: table-cell;
            vertical-align: middle;
            width: 100%;

            @media (max-width: $screen-md-min) {
                display: block;
                width: 100%;
            }
        }

        .usa-da-submission-item-title {
            display: table-cell;
            vertical-align: middle;
            // width: 75%;

            @media (max-width: $screen-md-min) {
                display: block;
                text-align: center;
                padding-bottom: 1.5em;
                width: 100%;
            }
        }

        .usa-da-submission-vertical-center {
            display: table;
            width: 100%;
        }
    }
}

div.usa-da-validate-items {
    padding: 0;

    .usa-da-validate-item {
        margin-top: 20px;
        border: 1px solid #ccc;
        box-shadow: $box-shadow;

        &.successful {
            opacity: 0.3;
        }
    }

    .usa-da-validate-item-top-section {
        display: table;
        width: 100%;
        margin: 0;
    }

    .usa-da-validate-item-status-section {
        float: none;
        display: table-cell;
        margin-left: 15px;
        margin-right: 15px;
    }

    .usa-da-validate-item-header {
        border-bottom: 1px solid #ccc;

        h4, p {
            margin: 15px 0;
        }

        h4 {
            font-weight: $font-bold;
            font-size: $h3-font-size;
        }
    }

    .usa-da-validate-item-file-name {
        font-size: 0.85em;
    }

    .usa-da-validate-item-body {
        text-align: center;
        font-size: $h4-font-size;
        font-weight: bold;
        padding: 15px 0;
        min-height: 54px;

        .usa-da-validate-item-message {
            color: $color-secondary;
        }
    }

    .usa-da-validate-item-footer-wrap {
        position: relative;
    }

    .usa-da-validate-item-footer {
        text-align: center;
        background-color: $color-gray-lighter;
        font-size: 12px;
        padding: 6px 0;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .usa-da-validate-item-file-section {
        text-align: center;
        border-left: 1px solid #ccc;
        float: none;
        display: table-cell;
        margin-left: 15px;
        margin-right: 15px;

        .usa-da-validate-item-file-section-result {
            font-size: $h1-font-size;
        }

        .usa-da-validate-item-file-section-correct-button {
            margin: 10px 0 6px;

            .usa-da-validate-upload-button {
                border: 1px solid $color-secondary;
                border-radius: 0;
                font-size: 1.1rem;
                color: $color-secondary;
                padding: 0.8em;
                background-color: $color-white;
                cursor: pointer;

                &:hover {
                    background-color: $color-secondary;
                    color: $color-white;
                }
            }

            button {
                font-size: 1.1rem;
                color: $color-white;
                padding: 1em;
            }
        }
    }

    .usa-da-submission-item-drop-wrapper {
        padding: 0;
    }
}

.usa-da-validate-item-bottom-section {
    margin: 0;
    border-top: 1px solid #ccc;
}

.usa-da-validate-error-report {
    padding: 15px;
    

    h3 {
        margin: 0;
    }

    table {
        margin-top: 15px;
        

        th {
            text-align: left;
        }

        tbody {
            max-height: 250px;
            overflow-y: auto;
            width: 100%;
            display: block;
            border-bottom: 1px solid $color-gray-light;
        }

        tr {
            width: 100%;
            display: table;
        }

        td {
            text-align: left;
            border-bottom: none;
        }
    }

    button {
        font-size: 1.1rem;
        color: $color-white;
        padding: 1em;
    }
}

.usa-da-validation-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 150px;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
    width: 100%;

    padding: 15px;

    color: $color-white;
}

div.usa-da-dropzone {
    border: 2px dashed #c8cfd7;
    padding: 2em;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #808080;
    font-size: 1.6rem;

    .glyphicon {
        font-size: 2.0em;
        padding-bottom: 10px;
    }

    .is-caption {
        font-size: 0.85em;
    }

    .usa-da-dropzone-fail {
        color: $color-secondary;
    }

    .usa-da-dropzone-success {
        color: $brand-success;
    }

    .progress {
        margin-top: 10px;
    }

} 

.usa-da-add-data-meta {
    .meta-holder {
        padding: 30px 20px;
        @include contentBlockWrapper;

        .typeahead-holder {
            div {
                width: 100%;
                border-radius: 0;
                box-sizing: border-box;
                color: #a9a9a9;
                font-size: 1.7rem;
                margin: .2em 0;
                max-width: none;
                outline: none;
            }

            .typeahead-selector {
                text-align: left;
                background: $color-white;
                color: $color-gray-dark;
                position: absolute;
                z-index: 1000;
                width: 96%;

                li {
                    display: inline-block;
                    vertical-align: middle;
                    list-style-type: none;
                    width: 100%;
                    padding: 10px 10px 0 10px;
                    margin: 0;

                    &:hover {
                        background-color: $color-gray-dark;
                        color: $color-white;

                        * {
                            color: $color-white;
                        }
                    }

                    a, a:focus, a:visited {
                        color: $color-gray-dark;
                        text-decoration: none;
                    }

                    a:hover {
                        color: $color-white;
                        background-color: $color-gray-dark;
                    }
                }

                li:before {
                    content: "";
                    padding: 0;
                }
            }
        }

        input {
            max-width: none;
        }
    }
}

.usa-da-review-data-content-holder {
    padding: 20px 10px 0;
    margin-bottom: 20px;
    background-color: $color-white;

    .usa-da-review-data-button-holder {
        margin-bottom: 20px;

        button {
            color: $color-white;
            width: 100%;
            text-align: left;
        }
    }

    .usa-da-review-data-alternating-rows {
        > div {
            padding: 10px 0;
        }

        div.row:nth-child(even) {
            background-color: #f5f5f5;
        }
    }
}