// addData Page
    .usa-da-submit-row {
        h2 {
            margin-bottom: 20px;
        }
    }
    
    .usa-da-submit-review,
    .usa-da-submit-review:hover {
        padding: 1.5em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        background-color: $color-green;
        color: $color-white;
        text-decoration: none;
        display: block;
    }
    
    div.usa-da-submission-instructions {
        margin: 6.0rem 0;
        border-left: 8px solid $color-primary-alt-light;
        & p {
            margin-bottom: 0;
            padding: 20px 0 20px 10px;
        }
    }
    
    div.usa-da-submission-items {
        margin-top: 60px;
        padding-bottom: 30px;
        &.with-overlay {
            padding-bottom: 180px;
        }
        .usa-da-submission-item {
            margin-top: 4.0rem;
            // height: 120px;
            &:first-child {
                margin-top: 0em;
            }
            > div {
                // border: 1px solid #ccc;
                // padding: 1em;
            }
            .usa-da-submission-item-drop-wrapper {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                @media (max-width: $screen-md-min) {
                    display: block;
                    width: 100%;
                }
            }
            .usa-da-submission-item-title {
                display: table-cell;
                vertical-align: middle;
                @media (max-width: $screen-md-min) {
                    display: block;
                    text-align: center;
                    padding-bottom: 1.5em;
                    width: 100%;
                }
            }
            .usa-da-submission-vertical-center {
                display: table;
                width: 100%;
            }
        }
    }
    
    div.usa-da-validate-items {
        padding: 0;
        .usa-da-validate-item {
            margin-bottom: 40px;
            @include contentBlockWrapper() &.successful {
                opacity: 0.3;
            }
        }
        .usa-da-validate-item-status-section {
            border-right: 1px solid #e4e2e0;
            min-height: 171px;
        }
        .usa-da-validate-item-header {
            border-bottom: 1px solid #e4e2e0;
            min-height: 6.0rem;
            h4,
            p {
                margin: 0;
                line-height: 6.0rem;
                color: $color-gray;
            }
            h4 {
                font-weight: $font-light;
                font-size: 2.4rem;
                @media screen and (max-width: $medium-screen) {
                    line-height: 1.2em;
                    margin-bottom: 1.5rem;
                }
            }
            p {
                font-size: 1.2rem;
                text-align: right;
                @media screen and (max-width: $medium-screen) {
                    text-align: left;
                    line-height: 1.8rem;
                    margin-bottom: 10px;
                }
            }
        }
        .usa-da-validate-item-file-name {
            font-size: 0.85em;
            margin: 4px 0 10px;
            color: $color-gray;
        }
        .usa-da-validate-item-body {
            text-align: center;
            font-size: $h4-font-size;
            font-weight: bold;
            padding: 15px 0;
            min-height: 111px;
            @extend .flex-center-content;
            & .usa-da-validate-item-message{
                color: $color-secondary;
                margin: -35px 0 0 0;
            }
            & .usa-da-validate-txt-wrap{
                margin: -35px 0 0 0;
            }
        }
        .usa-da-validate-icon {
            font-size: 0.7em;
            text-align: center;
            &:before {
                position: relative;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .usa-da-validate-item-footer-wrap {
            position: relative;
        }
        .usa-da-validate-item-footer {
            text-align: center;
            background-color: $color-gray-lightest;
            font-size: 1.2rem;
            color: $color-gray;
            padding: 10px 0;
            cursor: pointer;
            bottom: 0;
            width: 100%;
            position: absolute;
            &.usa-da-header-error {
                & .usa-da-icon:before {
                    margin: -2px 0 0 4px;
                    font-size: 20px;
                }
                &:hover {
                    background: #ececec;
                }
                &.active {
                    background: #a3a5aa;
                    color: $color-white;
                    border: 1px solid #999ba1;
                    border-bottom: none;
                    &:hover {
                        background: #93959a;
                        color: $color-white;
                    }
                }
            }
        }
        .usa-da-validate-item-file-section {
            text-align: center;
            @include display(flex);
            @include flex-direction(column);
            @include align-content(center);
            @include justify-content(center);
            min-height: 171px;
            .usa-da-validate-item-file-section-result {
                height: 50px;
                width: 35px;
                margin: 0 auto;
                background: url('../graphics/file_icon_lg.png') no-repeat;
                background-size: 35px 50px;
                position: relative;
                & .usa-da-icon {
                    font-size: 2.0rem;
                    position: absolute;
                    top: 17px;
                    left: 8px;
                    &.usa-da-icon-exclamation-circle {
                        color: $color-secondary;
                    }
                    &.usa-da-icon-check-circle {
                        color: $color-green-light;
                    }
                    &.usa-da-icon-cloud-upload {
                        color: $color-gray-dark;
                        left: 9px
                    }
                }
            }
            .usa-da-validate-item-file-section-correct-button {
                margin: 10px 0 0;
                .usa-da-validate-upload-button {
                    box-shadow: inset 0 0 0 1px $color-secondary;
                    border-radius: 0;
                    font-size: 1.1rem;
                    color: $color-secondary;
                    padding: 1rem 2rem;
                    background-color: $color-white;
                    cursor: pointer;
                    width: 88%;
                    margin: 0 auto;
                    &:hover {
                        background-color: $color-secondary;
                        color: $color-white;
                    }
                    &.optional-upload {
                        border: 1px solid $color-gray;
                        color: $color-gray;
                        box-shadow: initial;
                        &:hover {
                            background-color: $color-gray-dark;
                            color: $color-white;
                        }
                    }
                }
            }
        }
        .usa-da-submission-item-drop-wrapper {
            padding: 0;
        }
    }
    
    .usa-da-validate-item-bottom-section {
        border-top: 1px solid #ccc;
    }
    
    .usa-da-validate-item-message-label {
        font-weight: 300;
        font-family: 'Source Sans Pro';
    }
    
    .usa-da-validate-item-warning {
        position: relative;
        border-right: 1px solid #ccc;
        .usa-da-validate-item-message-count {
            color: $color-gold;
            &.none {
                color: $color-gray-dark;
            }
        }
        .usa-da-validate-item-footer {
            position: relative;
        }
    }
    
    .usa-da-validate-item-critical {
        .usa-da-validate-item-message-count {
            color: $color-secondary;
            &.none {
                color: $color-gray-dark;
            }
        }
        .usa-da-validate-item-footer {
            position: relative;
        }
    }
    
    .usa-da-validate-error-report {
        padding: 15px 0 30px;
        h3 {
            margin: 0;
        }
        td,
        th {
            text-align: left;
        }
    }
    
    .usa-da-validation-overlay {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: as-alpha($color-gray-dark, 0.85);
        z-index: 999;
        width: 100%;
        color: $color-white;
        & .usa-da-overlay-content-wrap {
            @extend .flex-center-content;
            min-height: 150px;
            @media screen and (max-width: $small-screen) {
                display: block;
                min-height: auto;
            }
        }
        & h6 {
            color: $color-white;
            margin-top: 0;
            @media screen and (max-width: $small-screen) {
                font-size: 1.6rem;
                margin: 1.0rem 0;
            }
        }
        & .usa-da-alert-icon {
            font-size: 6.0rem;
            color: $color-white;
            left: 0;
            top: -5px;
            @media screen and (max-width: $small-screen) {
                font-size: 5.0rem;
                top: 15px;
            }
        }
        & .usa-da-validation-overlay-review {
            margin-left: 5px;
        }
        & .usa-da-btn-bg {
            @extend .flex-center-content;
            background: as-alpha($color-base, 0.40);
            min-height: 150px;
            margin-left: -22px;
            @media screen and (max-width: $medium-screen) {
                display: block;
                min-height: auto;
                margin: 0;
            }
        }
    }
    
    div.usa-da-dropzone {
        border: 2px dashed #c8cfd7;
        padding: 6rem 2rem 2rem;
        cursor: pointer;
        background-color: #f5f5f5;
        color: #808080;
        font-size: 1.4rem;
        position: relative;
        &:hover {
            border-color: $color-primary-alt-dark;
        }
        b {
            color: $color-gray;
        }
        & .usa-da-icon-cloud-upload:before {
            position: absolute;
            top: 2rem;
            left: 49%;
            font-size: 4rem;
            padding-top: 0;
            padding-left: 0;
            color: $color-gray;
            content: "\65";
            position: absolute;
            font-family: 'dataact';
            top: 1.0rem;
            left: 49%;
            color: #d5d6d8;
            font-size: 4.0rem;
        }
        &.active {
            border-color: $color-primary-alt-dark;
            & .usa-da-icon-cloud-upload:before {
                color: $color-gray;
            }
        }
        & .usa-da-icon-cloud-upload:before {
            position: absolute;
            top: 2rem;
            left: 49%;
            font-size: 4rem;
            padding-top: 0;
            padding-left: 0;
            content: "\65";
            position: absolute;
            font-family: 'dataact';
            top: 1.0rem;
            left: 49%;
            color: #d5d6d8;
            font-size: 4.0rem;
        }
        &.dropped {
            & .usa-da-icon-cloud-upload:before {
                color: $color-gray;
            }
        }
        .glyphicon {
            font-size: 2.0em;
            padding-bottom: 10px;
            position: absolute;
            top: 1.0rem;
        }
        .is-caption {
            font-size: 1.4rem;
        }
        .usa-da-dropzone-fail {
            color: $color-secondary;
        }
        .usa-da-dropzone-success {
            color: $brand-success;
        }
        .progress {
            margin-top: 10px;
        }
    }
    
    .usa-da-add-data-meta {
        .meta-holder {
            padding: 30px 20px 20px;
            @include contentBlockWrapper;
            .typeahead-holder {
                div {
                    width: 100%;
                    border-radius: 0;
                    box-sizing: border-box;
                    color: #a9a9a9;
                    font-size: 1.7rem;
                    margin: .2em 0;
                    max-width: none;
                    outline: none;
                }
                ul.typeahead-selector {
                    text-align: left;
                    background: $color-white;
                    color: $color-gray-dark;
                    position: absolute;
                    z-index: 1000;
                    width: 96%;
                    margin: -5px 0 0 0;
                    border: 1px solid #cacaca;
                    li {
                        display: inline-block;
                        vertical-align: middle;
                        list-style-type: none;
                        width: 100%;
                        padding: 10px 10px 0 10px;
                        margin: 0;
                        &:hover, &.hover {
                            background-color: $color-gray-dark;
                            color: $color-white;
                            * {
                                color: $color-white;
                            }
                        }
                        a,
                        a:focus,
                        a:visited {
                            color: $color-gray-dark;
                            text-decoration: none;
                        }
                        a:hover {
                            color: $color-white;
                            background-color: $color-gray-dark;
                        }
                    }
                    li:before {
                        content: "";
                        padding: 0;
                    }
                }
            }
            input {
                max-width: none;
            }
        }
        .datepicker__input-container {
            z-index: 10;
            & .datepicker__input {
                background: transparent;
            }
        }

        .usa-da-startDate, .usa-da-endDate, .typeahead {
            .error {
                border: 1px $color-secondary solid;
            }
        }

        .usa-da-startDate-icon,
        .usa-da-endDate-icon,
        .usa-da-agency-icon {
            &:before {
                content: "\74";
                font-family: 'dataact';
                position: absolute;
                top: 16px;
                right: 25px;
                height: 20px;
                z-index: 9;
                color: #ccc;
            }

            &.error {
                border: none;
                &:before {
                    content: "\72";
                    color: $color-secondary;
                }
            }
        }

    }
    
    .usa-da-review-data-content-holder {
        padding: 25px 10px 0;
        margin-bottom: 100px;
        background-color: $color-white;
        @include contentBlockWrapper;
        .usa-da-review-data-button-holder {
            margin-bottom: 25px;
            * {
                font-size: 17px;
            }
            button {
                width: 100%;
                text-align: left;
            }
        }
        .usa-da-review-data-alternating-rows {
            padding-right: 28px;
            margin-bottom: 23px;
            color: #555;
            > div {
                padding: 10px 0;
            }
            div.row:nth-child(even) {
                background-color: #f5f5f5;
            }
        }
    }
    
    .usa-da-treemap {
        position: relative;
        width: 100%;
        height: 300px;
        margin-top: 10px;
        .usa-da-treemap-cell {
            position: absolute;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 5px;
            cursor: pointer;
        }
    }

    .usa-da-treemap-help-wrap {
        margin-top: 10px;
        border: 1px solid $color-gray-lighter;
        min-height: 300px;
        padding: 10px;
        word-wrap: break-word;
        
        &.default {
            color: $color-gray;
        }
    }