    .usa-da-add-data-meta {
        .usa-da-date-dropdown {
            // hide the dropdown arrow
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: #ffffff;
            background-image: none;
            &.error {
                border-color: $color-secondary;
            }
        }
        .usa-da-date-through {
            text-align: center;
            font-size: 1.4rem;
            color: #555;
            line-height: 2.4rem;
            margin: 15px 0px;
            @media(max-width: $small-screen) {
                text-align: left;
            }
        }
        .usa-da-add-data-meta-label {
            margin: 15px 0px 10px;
            text-align: left;
            font-size: 1.6rem;
            color: #555;
            &.usa-da-duration,
            &.usa-da-range {
                margin: 31px 0 10px;
                border-top: 1px dashed $color-gray-lighter;
                padding-top: 30px;
            }
            &.usa-da-range {
                margin: 28px 0 10px;
            }
        }
        .usa-da-meta-submit {
            margin: 31px 0 10px;
            border-top: 1px dashed $color-gray-lighter;
            padding-top: 30px;
            & .usa-da-meta-message {
                margin: 15px 0 0;
                color: #555;
                @media(max-width: $small-screen) {
                    margin: 0 0 15px;
                    text-align: center;
                }
            }
            & .usa-da-button {
                @media(max-width: $small-screen) {
                    width: 100%;
                }
            }
        }
        .meta-holder {
            padding: 15px 30px 30px 30px;
            @include contentBlockWrapper;
            input {
                max-width: none;
                &.error {
                    border: 1px $color-secondary solid;
                }
            }
            .usa-da-datetype {
                margin-top: 0px;
                .usa-da-datetype-group {
                    float: left;
                    margin-left: 40px;
                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }
        }
        .datepicker__input-container {
            z-index: 10;
            & .datepicker__input {
                background: transparent;
            }
        }

        .usa-da-guide-link {
            font-size: 1.2rem;
            margin-top: 20px;
        }
    }

    // metadata transitions
    .usa-da-meta-fade-enter {
        opacity: 0.01;
        &.usa-da-meta-fade-enter-active {
            opacity: 1;
            transition: opacity 500ms ease-in;
        }
    }
    
    .usa-da-meta-fade-leave {
        opacity: 1;
        &.usa-da-meta-fade-enter-active {
            opacity: 0.01;
            transition: opacity 300ms ease-in;
        }
    }
    
    .usa-da-treemap {
        position: relative;
        width: 100%;
        height: 300px;
        margin-top: 10px;
        .usa-da-treemap-cell {
            position: absolute;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 5px;
            cursor: pointer;
            font-size: 1.2rem;
            border-right: 1px solid $color-white;
            border-bottom: 1px solid $color-white;

            .treemap-rule {
                font-weight: bold;
            }
        }
    }
    
    .usa-da-treemap-help-wrap {
        margin-top: 10px;
        border: 1px solid $color-gray-lighter;
        min-height: 300px;
        padding: 10px;
        word-wrap: break-word;
        font-size: 1.4rem;
        line-height: 2.4rem;    
        color: $color-gray;

        .treemap-help-title {
            font-weight: bold;
        }

        .treemap-help-description {
            b {
                text-transform: capitalize;
            }
        }
    } 
