.usa-da-admin-table-wrapper {
    @include contentBlockWrapper;
    padding: 30px 20px 20px;
    margin-bottom: 40px;
}

.usa-da-table-holder {
    &.usa-da-admin-table-holder {
        margin-top: 0;
    }
}

.usa-da-admin-table-wrapper {
	table {
		table-layout: fixed;

		.row-10 {
        	width: 10%;
	    }
	    .row-15 {
	    	width: 15%;
	    }
	    .row-20 {
	        width: 20%;
	    }
	    .row-25 {
	    	width: 25%;
	    }
	    .row-30 {
	        width: 30%;
	    }
	    .row-40 {
	    	width: 40%;
	    }
	    .row-50 {
	    	width: 50%;
	    }

	    .email-cell {
	    	word-wrap: break-word;
	    }
	}
}

.usa-da-table {
    & .usa-da-button {
        width: 100%;
    }
}

.usa-da-admin-action-block {
    display: table;
    width: 100%;
    & button + button {
        margin-top: 10px;
    }
}

// user admin modal
.usa-da-admin-modal {
    background: $color-white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 500px;
    border-radius: 4px;
    .form-group {
        margin-bottom: 10px;
        label {
            margin-top: 0px;
        }
    }
    .usa-da-modal-permissions {
        list-style-type: none;
        margin-bottom: 10px;
        li {
            list-style-type: none;
            &:before {
                content: ""
            }
        }
        input {
            position: relative;
            left: 0px;
            width: 20px;
            display: inline-block;
        }
        label {
            span {
                display: inline-block;
                margin-left: 5px;
                font-weight: normal;
            }
        }
    }
    .modal-buttons {
        button {
            margin-left: 20px;
        }
    }
}

.usa-da-admin-message-wrap {
	position: fixed;
	bottom: 0;
	z-index: 999999;
	width: 100%;
	left: 15px;

	.usa-da-admin-message {
		margin-bottom: 20px;
	}
}

.usa-da-admin-message-fade-enter {
        opacity: 0.01;
        &.usa-da-admin-message-fade-enter-active {
            opacity: 1;
            transition: opacity 500ms ease-in;
        }
    }
    
    .usa-da-admin-message-fade-leave {
        opacity: 1;
        &.usa-da-admin-message-fade-leave-active {
            opacity: 0.01;
            transition: opacity 300ms ease-in;
        }
    }