.usa-da-cross-file {
    &.usa-da-gathering-data {
        min-height: 650px;
    }
    .usa-da-cross-file-group {
        margin-bottom: 40px;
    }
    .usa-da-cross-file-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        position: relative;
        .file-left {
            flex: 0 1 auto;
            width: 40%;
        }
        .file-right {
            flex: 0 1 auto;
            width: 40%;
        }
        .file-compare {
            flex: 0 1 auto;
            height: 50px;
            width: 270px;
            position: relative;
        }
        .file-box {
            @include contentBlockWrapper();
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            .file-type {
                flex: 1 1 auto;
                width: 10%;
                font-weight: bold;
                padding: 15px;
                background-color: $color-gray-light;
                color: $color-white;
                display: flex;
                align-self: stretch;
                align-items: center;
            }
            .file-name {
                flex: 1 1 auto;
                padding: 15px;
                font-weight: bold;
                width: 70%;
                color: $color-gray;
            }
            .file-icon {
                flex: 0 1 auto;
                width: 20%;
                text-align: right;
                padding: 15px;
                .usa-da-icon {
                    & svg {
                        height: 20px;
                        width: 20px;
                        position: relative;
                        top: 5px;
                        fill: $color-gray;
                    }
                    &.success {
                        svg {
                            fill: $color-green-light;
                        }
                    }
                    &.error {
                        svg {
                            fill: $color-secondary;
                        }
                    }
                }
            }
            .corner-overlay {
                border-width: 0 50px 50px 0;
                svg {
                    right: 3px;
                    top: 5px;
                    fill: $color-gray;
                    &:hover {
                        fill: $gray-dark;
                    }
                }
            }
        }
    }
    .usa-da-item-comparison {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        .under-layer {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .line {
            flex: 0 1 auto;
            width: 100%;
            height: 2px;
            border: 1px solid $color-gray-light;
        }
        .center-item {
            flex: 0 1 auto;
            position: relative;
            z-index: 2;
            & .circle {
                width: 50px;
                height: 50px;
                border: 1px solid $color-gray-light;
                border-radius: 25px;
                text-indent: -9999px;
                background-color: $color-white;
                position: absolute;
                top: -25px;
                left: -25px;
            }
            .usa-da-icon {
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    flex: 0 1 auto;
                    height: 28px;
                    width: 28px;
                    position: relative;
                    top: -1px;
                    left: -1px;
                }
                &.success {
                    svg {
                        fill: $color-green-light;
                    }
                }
                &.error {
                    svg {
                        fill: $color-secondary;
                    }
                }
                &.loading {
                    svg {
                        fill: $color-gray;
                        top: -3px;
                    }
                }
            }
        }
    }
    .error-box {
        @include contentBlockWrapper();
        padding: 20px;
        margin-top: 40px;
        position: relative;
        h6 {
            margin-top: 0px;
        }
        .usa-da-download {
            margin-top: 0;
        }
        .vertical-line {
            position: absolute;
            border-left: 2px solid $color-gray-light;
            height: 80px;
            width: 2px;
            top: -40px;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            z-index: -1;
        }
        .button-list {
            padding-top: 15px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .download-button {
                button {
                    width: 100%;
                }
            }
            .upload-buttons-wrap {
                align-self: flex-end;
                width: 100%;
            }
            .upload-title {
                font-weight: bold;
                margin: 0 0 10px 0;
            }

            .upload-buttons {
                margin-top: 15px;
                div {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .overwrite-wrapper {
            flex: 0 1 auto;
            width: 100%;
            padding-left: 0;
            .upload-warning {
                margin-top: 15px;
            }
            .button-list {
                padding-top: 0px;
                .upload-buttons {
                    display: flex;
                    flex-direction: row;
                    > div {
                        flex: 0 1 auto;
                        width: 50%;
                        padding-left: 10px;
                        &:first-child {
                            padding-left: 0px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .loading-bubbles {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 100%;
        @keyframes bubble-anim {
            0% {
                opacity: 0.1;
            }
            33% {
                opacity: 1;
            }
            75% {
                opacity: 0.1;
            }
            100% {
                opacity: 0.1;
            }
        }
        .bubble {
            flex: 0 1 auto;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            background-color: $color-gray-dark;
            opacity: 0.1;
            margin-right: 10px;
            animation: bubble-anim 2s infinite;
            &:first-child {
                margin-left: 10px;
            }
            &.off-0 {
                animation-delay: 0s;
            }
            &.off-1 {
                animation-delay: 0.6667s;
            }
            &.off-2 {
                animation-delay: 1.3333s;
            }
        }
        .center-pad {
            flex: 0 1 auto;
            width: 70px;
            height: 20px;
        }
    }
    .file-warning {
        display: flex;
        flex-direction: row;
        position: relative;
        .icon-wrap {
            flex: 0 1 auto;
            width: 40px;
            min-width: 40px;
            .usa-da-icon {
                height: 30px;
                width: 30px;
                & svg {
                    fill: $color-primary;
                }
            }
        }
        .warning-description {
            flex: 0 1 auto;
            font-size: 1.4rem;
            color: $color-gray;
            ul {
                margin-bottom: 0;
                list-style-type: none;
                li {
                    list-style-type: none;
                    margin-bottom: 1rem;
                    &:before {
                        content: '';
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}