.usa-da-help-page {
    margin-top: 20px;

    a {
        text-decoration: none;
    }
}

.usa-da-help-sidebar {
    background-color: $color-gray-warm-light;
    padding: 20px;

    h4 {
        padding-bottom: 10px;
        border-bottom: 1px solid $color-gray-dark;
    }
}

.usa-da-help-content {

}