.usa-da-help-content{
    @include contentBlockWrapper;
    padding: 20px 30px;
    margin: 0 0 40px;

    .help-table {
        table-layout: fixed;
        width: 100%;

        .col-15 {
            width: 15%;
        }
        .col-25 {
            width: 25%;
        }
        .col-45 {
            width: 45%;
        }
        .col-40 {
            width: 40%;
        }
        .col-12 {
            width: 12%;
        }
        .col-18 {
            width: 18%;
        }
        .col-20 {
            width: 20%;
        }

        .break-word {
            word-wrap: break-word;
        }
    }
}

.usa-da-help-page {
    margin-top: 10px;
    a {
        text-decoration: none;
    }
}

.usa-da-help-sidebar {
    ul + h6 {
        margin-top: 0;
    }
    h6 {
        margin-bottom: 1.3rem;
    }
    ul, li {
        list-style-type: none;
    }
    li a {
        font-size: 1.4rem;
    }
    li:before {
        content: "";
        padding-right: 0;
    }
}
.usa-da-help-top-button {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    right: 40px;
    overflow: hidden;
    background-color: $color-gray-light;
    @include transition(all 0.5s ease-in-out);
    a {
        display: block;
        svg {
            fill: $color-white;
            position: relative;
            top: -3px;
            @include transition(all 0.5s ease-in-out);
        }
        .hidden-label {
            font-size: 0;
        }
    }
    &:hover {
        background-color: $color-primary-alt-dark;
        & svg {
            top: -5px;
        }
    }
}