// landing Page

.usa-da-button-holder {
	margin: 60px auto;

	.usa-da-button-landing {
		background-color: $color-gray-lightest;
		color: $color-gray;
		width: 100%;
		padding: 2em;
		border: 1px solid $color-gray-lighter;
		cursor: pointer;
		display: inline-block;
		font-family: $font-sans;
		font-size: 2.0rem;
		font-weight: 700;
		line-height: 1;
		outline: none;
		text-align: center;
		text-decoration: none;
		-webkit-font-smoothing: antialiased;

		&:hover {

		}

		&:visited {
			color: $color-gray;
		}

		&.disabled {
			background-color: $color-gray-light;
			cursor: default;
			padding-bottom: 2.5rem;

			div {
				font-size: 1.5rem;
			}
		}
	}
}