// registration Page

.usa-da-reg-wrapper{
    @include contentBlockWrapper;
    padding: 30px 20px 20px;
}


.usa-da-registration {
    input {
        max-width: none;

        &.error {
            border: 1px solid $color-secondary;
        }
    }
    button {
        margin: .5em;
    }
    .usa-alert,
    .alert {
        text-align: left;
    }
    .usa-da-icon-register {
        @extend .usa-da-icon;
        top: 14px !important;
        left: 8px !important;
        color: $color-gray-light;
    }
}

#registrationEmail {
    padding-left: 1rem;
}

.usa-da-warning-msg {
    @include align-self(stretch);
    & p {
        max-width: 100%;
        font-size: 1.1rem;
        color:$color-white;
        & strong{
            color:$color-secondary-light;
        }
    }
}