//REVIEW DATA PAGE
.usa-da-review-data-content-holder {
    padding: 30px 20px;
    margin-bottom: 100px;
    background-color: $color-white;
    @include contentBlockWrapper;
    & .usa-da-review-data-alternating-rows {
        padding-right: 28px;
        margin-bottom: 23px;
        color: #555;
        > div {
            padding: 14px 0;
        }
        & div.row:nth-child(even) {
            background-color: $color-gray-lightest;
        }
        @media(max-width:$small-screen) {
            margin: 30px 0 20px;
        }
    }
    & .usa-da-icon > svg {
        width: 2.4rem;
        height: 2.4rem;
        fill: $gray-dark;
        position: relative;
        top: 5px;
    }
    & .usa-da-file-wrap {
        position: relative;
        background: #fff url('/graphics/large_file_icon.png') no-repeat;
        height: 28.3rem;
        width: 24.0rem;
        margin: 0 auto;
        position: relative;
        z-index: 999;
        & .usa-da-icon-CheckCircle {
            width: 10rem;
            margin: 0 auto;
            & > svg {
                margin: 20px 0 0;
                height: 10rem;
                width: 10rem;
                fill: $color-green-light;
                animation: rotateCheck 6s infinite;
            }
        }
        &:after {
            content: "";
            height: 237px;
            width: 100%;
            background: transparent;
            display: block;
            position: absolute;
            left: -1px;
            top: 44px;
            box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
            z-index: -1;
        }
        .usa-da-submission-info {
            margin: 15px auto;
            width: 100%;
            & ul {
                padding: 0 0 0.8rem 0;
                margin: 0 auto;
                width: 60%;
            }
            & li {
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
            & ul.usa-da-submission-bottom-links {
                border-top: 1px solid #ccc;
                width: 80%;
                margin: 0 auto;
                padding: 0 9%;
                & li {
                    float: left;
                    font-size: 1.1rem;
                    line-height: 1.8rem;
                    margin: 0.5rem 0 0;
                    padding: 0.3rem 0 0 0;
                    &:first-child {
                        padding: 0.3rem 1.5rem 0 0.5rem;
                    }
                    & .usa-da-icon {
                        & svg {
                            fill: $color-gray-light;
                            height: 2.0rem;
                            width: 2.0rem;
                            padding: 0 0.4rem 0 0;
                        }
                    }
                }
            }
        }
    }
    & .usa-da-submission-bottom-big-links {
        & .usa-da-button.btn-primary {
            font-size: $base-font-size;
            line-height: 4.2rem;
            position: relative;
            & svg {
                margin: 0 10px 0 0;
                top: 7px;
                fill: $color-white;
                height: 2.4rem;
                width: 2.6rem;
            }
            & .usa-da-icon-Globe {
                & svg {
                    height: 2.6rem;
                    width: 2.6rem;
                }
            }
            @media(max-width:$small-screen) {
                line-height: 20px;
                text-align: left;
                padding: 20px 15px 20px 15px;
                & .usa-da-icon {
                    float: left;
                }
                &.last {
                    margin: 20px 0 0;
                }
            }
        }
    }
}



@keyframes rotateCheck {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}