.dashboard-filters {
    background-color: $color-gray-dark;
    padding: rem(7.5);
    border: solid rem(1) $color-white;
    border-bottom: 0;
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-start);
    @media (max-width: $large-screen) {
        @include flex-wrap(wrap);
    }
    .dashboard-filters__label {
        @include display(flex);
        @include flex(0 0 auto);
        @include align-items(center);
        padding-right: rem(10);
        color: $color-white;
        .filter-icon {
            padding-right: rem(6);
            & svg {
                color: $color-white;
            }
        }
    }
    .dashboard-filters__filter {
        @include display(flex);
        @include flex(0 0 auto);
        padding-right: rem(8);
        @import './_textFilter';
        // REPLACE RESPONSIVE WITH BOOTSTRAP IN THE FUTURE
        /* Small Devices, Tablets */
        @media (min-width : 768px) and (max-width : 991px) {
            input {
                max-width: rem(80);
            }
        }

        /* Medium Devices, Desktops */
        @media (min-width : 992px) and (max-width : 1199px) {
            input {
                max-width: rem(80);
            }
        }

        /* Large Devices, Wide Screens */
        @media (min-width : 1200px) {
            input {
                max-width: rem(120);
            }
        }
    }
    @import './_typeaheadFilter';
    .dashboard-filters__submit-content {
        @include display(flex);
        .dashboard-filters__reset {
            @include display(flex);
            @include flex(0 0 auto);
            border: 0;
            color: $color-white;
            background-color: transparent;
            margin-right: rem(5);
        }
        .dashboard-filters__submit {
            @include display(flex);
            @include flex(0 0 auto);
            border: 0;
            padding: rem(10) rem(20);
            background-color: $color-primary;
            font-weight: $font-bold;
            &:hover {
                background-color: $color-primary-darker;
            }
            &:disabled {
                background-color: $color-gray-lighter;
                color: $color-gray;
                cursor: not-allowed;
                opacity: 0.65;
            }
        }
    }
}
