.usa-da-formatted-table {
    @import "../../components/tables/_submissionTable";
    @include submissionTable;

    @import "../../components/tables/_submissionTableLastModified";
    @include submissionTableLastModified;

    .usa-da-recent-activity-link {
        @import "../../components/tables/_submissionTableLink";
        @include submissionTableLink;

        .date-link {
            white-space: pre;
        }
    }

    .white-space {
        white-space: pre;
    }

    @import "../../components/tables/_submissionTableProgress";

}


.paginator-wrap {
    @import "../../sharedComponents/_paginator";
}

.submission-table-content {
  &.loading {
      opacity: 0.3;
  }
}
