.dashboard-filters__filter_typeahead {
    @import '../../components/typeahead/_typeahead';
    // override typeahead styles
    .typeahead-holder {
        .usa-da-typeahead {
            margin: 0;
            .awesomplete {
                margin: 0;
                input {
                    margin: 0;
                    padding: rem(5) rem(10);
                    border-radius: rem(5);
                }
                ul {
                    width: 35%;
                }
            }
            .alert-error {
                @include display(flex);
                @include align-items(center);
                margin-bottom: 0;
                border: 0;
                padding: 0;
                div {
                    display: inline-block;
                }
                .error-icon {
                    padding-right: rem(5);
                    svg {
                        height: rem(20);
                        width: rem(20);
                    }
                }
                .alert-header-text {
                    font-size: $small-font-size;
                    width: auto;
                    color: $color-white;
                }
                p {
                    display: none;
                }
            }
        }
        // REPLACE RESPONSIVE WITH BOOTSTRAP IN THE FUTURE
        /* Small Devices, Tablets */
        @media (min-width : 768px) and (max-width : 991px) {
            input {
                max-width: rem(120);
            }
        }

        /* Medium Devices, Desktops */
        @media (min-width : 992px) and (max-width : 1199px) {
            input {
                max-width: rem(120);
            }
        }

        /* Large Devices, Wide Screens */
        @media (min-width : 1200px) {
            input {
                max-width: none;
            }
        }
    }

    .filterdropdown {
        .btn-default {
            color: $color-white;
            background-color: transparent;
            width: 120px;
            padding: rem(5);
            font-size: rem(13);
        }
        .btn .caret {
            margin-left: 5px;
        }
        .active {
            background-color: $color-gray-dark;
            border: 0;
            border-radius: 0;
            font-size: rem(13);
            font-weight: 600;
        }
        .dropdown-menu {
            padding: rem(12.5) rem(10) rem(5) rem(10);
            margin-top: rem(14);
            border-radius: 0;
            li {
                display: block;
            }
            li:after {
                margin-bottom: rem(10);
            }
            li::before {
                display: none;
            }
            .divider {
                width: 100%;
                &:after {
                    margin-bottom: 0;
                }
            }
            input {
                display: inline;
                border-radius: 0 !important;
                width: auto;
                margin-right: rem(10);
            }
            &.submission-type-dropdown {
                padding: 0;
                li {
                    margin: 0;
                    &:after {
                        margin: 0;
                    }
                }
                button {
                    @include button-unstyled;
                    padding: rem(7.5);
                    width: 100%;
                    &:hover, &:focus {
                        background-color: $color-gray-warm-light;
                    }
                }
            }
        }
        .typeahead-warning {
            position: relative;
            div {
                display: inline-block;
            }
        }
        .usa-da-typeahead .alert-error {
            .alert-header-text {
            color: $color-secondary;
            position: relative;
            bottom: rem(2);
            }
        }
    }

    &.agency-name {
        width: rem(150);
    }
}
