.usa-da-submissions-table-page {
	@import "../../layouts/content/content";
	@include contentLayout;

    .table-heading {
        @include display(flex);
        @include justify-content(space-between);
        @include align-items(baseline);
        .table-heading__title {
            @include display(flex);
            @include flex(1 1 auto);
            margin: 0;
            padding: rem(40) 0 rem(15);
            font-size: 3.0rem;
            font-weight: 200;
            line-height: 1;
        }
        .table-heading__message {
            @include display(flex);
            @include flex(0 0 auto);
            font-style: italic;
            .filters-message {
                @include display(flex);
                @include justify-content(flex-start);
                svg {
                    font-size: rem(18);
                    @include flex(0 0 auto);
                    color: $color-gray;
                    margin-right: rem(5);
                }
                span.filters-message__count {
                    padding: 0 rem(6);
                    margin: 0 rem(4);
                    background-color: $color-gold;
                    border-radius: rem(2);
                    font-style: normal;
                    font-weight: $font-bold;
                }
            }
        }
    }

    .trash-icon{
		cursor: pointer;
	}

	.trash-link:hover{
        text-decoration: none;
        cursor: pointer;
    }

    .internal-banner {
        @import "../../layouts/login/_topBanner";
        @include loginTopBanner;
    }

    @import "./_filters";
    @import "./_filterBar";
    @import "./_table";
	@import "../../components/datepicker/_calendar-range-datepicker";
}
