.usa-da-button,
.usa-da-button-primary,
.usa-da-button:visited,
.usa-da-button-primary:visited,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
    font-size: 1.4rem;
    font-weight: $font-bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
    text-decoration: none!important;
    cursor: pointer;
    &.btn-lg {
        padding: 16px 24px 15px;
        font-size: 1.6rem;
        line-height: 1.3rem;
        border-radius: 0;
    }
    &.btn-primary {
        @include btnBase($color-white, $color-primary);
        &:active {
           @include btnBase($color-white, $color-primary-darkest); 
        }
        &:hover {
            @include btnBase($color-white, $color-primary-darker);
        }
    }
    &.btn-primary-alt {
        @include btnBase($color-base, $color-primary-alt);
        &:active {
            @include btnBase($color-white, $color-primary-alt-darkest);
        }
        &:hover {
            @include btnBase($color-base, $color-primary-alt-dark);
        }
    }
    &.btn-danger {
        @include btnBase($color-white, $color-secondary);
        &:active {
            @include btnBase($color-white, $color-secondary-darkest);
        }
        &:hover {
            @include btnBase($color-white, $color-secondary-dark);
        }
    }
    &.btn-danger-outline {
        @include btnBase($color-secondary, transparent);
        box-shadow: inset 0 0 0 1px $color-secondary;
        &:active {
            @include btnBase($color-white, $color-secondary-darkest);
            box-shadow: none;
        }
        &:hover {
            @include btnBase($color-white, $color-secondary);
        }
    }
    &.btn-default{
        @include btnBase($color-primary, transparent);
        box-shadow: inset 0 0 0 1px $color-primary;
        &:active {
            @include btnBase($color-primary-darkest, transparent);
        }
        &:hover {
            @include btnBase($color-primary-darkest, $color-primary-alt-lightest);
        }
    }
    &.btn-default-gray {
        @include btnBase($color-white, $color-gray);
        &:active {
            @include btnBase($color-primary-darkest, $color-base);
        }
        &:hover {
            @include btnBase(none, $color-gray-dark);
        }
    }
    &.btn-default-dark-bg {
        @include btnBase($color-white, transparent);
        box-shadow: inset 0 0 0 1px $color-white;
        &:active {
            @include btnBase($color-gray-lighter, transparent);
            box-shadow: inset 0 0 0 1px $color-gray-lighter;
        }
        &:hover {
            @include btnBase($color-white, $color-gray);
            box-shadow: inset 0 0 0 1px $color-gray;
        }
    }
    &.btn-optional {
        @include btnBase($color-gray, transparent);
        box-shadow: inset 0 0 0 1px $color-gray-light;
        &:active {
            @include btnBase($color-primary-darkest, transparent);
        }
        &:hover {
            @include btnBase($color-primary-darkest, $color-primary-alt-lightest);
        }
    }

    &.btn-staged-upload {
        @include btnBase($color-green, $color-green-lightest);
        box-shadow: inset 0 0 0 1px $color-green-lighter;
        &:active {
            @include btnBase($color-white, $color-green-light);
        }
        &:hover {
            @include btnBase($color-white, $color-green-light);
        }
    }

    &.btn-disabled, &[disabled], & fieldset[disabled]{
        cursor: not-allowed;
        opacity: 0.55;
        background:$color-gray-lighter;
        -webkit-box-shadow: none;
        box-shadow: none;
        color:$color-gray;
        &:hover{
        	opacity: 0.75;
        	background:$color-gray-lighter;
        	color:$color-gray;
        }
    }

    &.btn-bdr{
    	border: white solid 1px;
    }
    &.btn-full{
        width: 100%;
    }
}