@mixin baseButton {
	font-size: 1.4rem;
    font-weight: $font-bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
    text-decoration: none!important;
    cursor: pointer;

    &.btn-bdr{
    	border: white solid 1px;
    }
    &.btn-full{
        width: 100%;
    }

    &.btn-lg {
        padding: 16px 24px 15px;
        font-size: 1.6rem;
        line-height: 1.3rem;
        border-radius: 0;
    }

    // @import "./_disabled";
    &.btn-disabled, &[disabled], & fieldset[disabled]{
        cursor: not-allowed;
        opacity: 0.55;
        background:$color-gray-lighter;
        -webkit-box-shadow: none;
        box-shadow: none;
        color:$color-gray;
        &:hover{
            opacity: 0.75;
            background:$color-gray-lighter;
            color:$color-gray;
        }
    }
}