@mixin downloadButton {
	font-size: rem(13);
    margin-top: 0.7rem;
    color: $color-gray;
    & .usa-da-icon.usa-da-download-report {
        & svg {
            font-size: rem(20);
            color: $color-gray-light;
            margin: 3px 0 0 0;
            position: relative;
            top: rem(3);
            left: rem(-2);
            padding: 0 3px;
        }
    }
    &:hover{
        cursor: pointer;
        color: $color-gray-dark;
        & .usa-da-icon.usa-da-download-report {
            & svg {
            color: $color-gray-dark;
        	}
    	}
    }
}