@mixin downloadButton {
	font-size: 1.2rem;
    margin-top: 0.7rem;
    color: $color-gray;
    & .usa-da-icon.usa-da-download-report {
        & svg {
            fill: $color-gray-light;
            height: 1.8rem;
            margin: 3px 0 0 0;
            position: relative;
            top: 0.5rem;
            left: -0.2rem;
            padding: 0 3px;
        }
    }
    &:hover{
        cursor: pointer;
        color: $color-gray-dark;
        & .usa-da-icon.usa-da-download-report {
            & svg {
            fill: $color-gray-dark;
        	}
    	}
    }
}