// base styling for alerts
@mixin baseAlert {
	color: #333;
    font-size: 1.4rem;
    border-radius: 0;
    position: relative;
    margin: 20px 0;

	h3 {
        font-size: 2.4rem;
        font-weight: $font-bold;
        margin: 0 0 5px 48px;
    }

	h5 {
        margin:10px 0 12px;
    }

    p {
        max-width: none;
    }

	p, ul {
        margin: 5px 0 5px 48px;
        text-align: left;
    }

	.usa-da-icon {
        width: 3.4rem;
        height: 3.4rem;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .alert-header-text {
        font-family: $font-sans;
        color: #555;
        font-size: 2.4rem;
        font-weight: 700;
        margin: 0 0 5px 48px;
    }
}

@mixin successAlert {
    @include baseAlert;
    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);

	background: #e7f4e4;
    svg {
        fill: #5cb85c;
    }
}

@mixin infoAlert {
	@include baseAlert;
    @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);

    background: #e1f3f8;
    svg {
        fill: #5bc0de;
    }
}

@mixin warningAlert {
    @include baseAlert;
    @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);

    background: #fff1d2;
    svg {
        fill: #f0ad4e;
    }
}

@mixin dangerAlert {
	@include baseAlert;
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);

    background: #f9dede;
    .usa-da-icon {
	    svg{
        	fill: #d9534f;
    	}
    }
}
