// base styling for alerts
@mixin baseAlert {
	color: #333;
    font-size: 1.4rem;
    border-radius: 0;
    position: relative;
    margin: 20px 0;

	h3 {
        font-size: 2.4rem;
        font-weight: $font-bold;
        margin: 0 0 5px 48px;
    }

	h5 {
        margin:10px 0 12px;
    }

    p {
        max-width: none;
    }

	p, ul {
        margin: rem(5) 0 rem(5) 0;
        text-align: left;
    }

	.usa-da-icon {
        vertical-align: top;
        font-size: rem(34);
        padding: 0;
    }

    .alert-text {
        padding-left: rem(15);
        width: 92%;

        @media(max-width:$small-screen) {
            width: 90%;
        }
    }

    .alert-header-text {
        font-family: $font-sans;
        color: #555;
        font-size: 2.4rem;
        font-weight: 700;
        margin: 0 0 rem(5) 0;
    }
}

@mixin successAlert {
    @include baseAlert;

	background: #e7f4e4;
    svg {
        color: #5cb85c;
    }
}

@mixin infoAlert {
	@include baseAlert;

    background: #e1f3f8;
    svg {
        color: #5bc0de;
    }
}

@mixin warningAlert {
    @include baseAlert;

    background: #fff1d2;
    svg {
        color: $color-gold-dark;
    }
}

@mixin dangerAlert {
	@include baseAlert;

    background: #f9dede;
    svg{
        color: #d9534f;
    }
}
