.usa-da-validate-corrected-file-holder {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;

    .corner-overlay {
        button {
            background-color: transparent;
            border:none;
        }
        @import "../../../components/replacementCorner/replacementCorner";
        @include replacementCorner;

        border-width: 0 50px 50px 0;

        .usa-da-icon {
            svg {
                right: rem(5);
                top: rem(5);
            }
        }
    }
}
