.center-item {
    flex: 0 1 auto;
    position: relative;
    z-index: 2;
    & .circle {
        width: 50px;
        height: 50px;
        border: 1px solid $color-gray-light;
        border-radius: 25px;
        text-indent: -9999px;
        background-color: $color-white;
        position: absolute;
        top: -25px;
        left: -25px;
    }
    .usa-da-icon {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            flex: 0 1 auto;
            height: 28px;
            width: 28px;
            position: relative;
            top: -1px;
            left: -1px;
        }
        &.success {
            svg {
                fill: $color-green-light;
            }
        }
        &.error {
            svg {
                fill: $color-secondary;
            }
        }
        &.loading {
            svg {
                fill: $color-gray;
                top: -3px;
            }
        }
    }
}