.center-item {
    @include flex(0 1 auto);
    position: relative;
    z-index: 2;
    & .circle {
        width: 50px;
        height: 50px;
        border: 1px solid $color-gray-light;
        border-radius: 25px;
        text-indent: -9999px;
        background-color: $color-white;
        position: absolute;
        top: -25px;
        left: -25px;
    }
    .usa-da-icon {
        height: 50px;
        width: 50px;
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        svg {
            @include flex(0 1 auto);
            font-size: rem(24);
            position: relative;
            top: -1px;
            left: -1px;
        }
        &.success {
            svg {
                color: $color-green-light;
            }
        }
        &.error {
            svg {
                color: $color-secondary;
            }
        }
        &.loading {
            svg {
                color: $color-gray;
                top: rem(-1);
                font-size: rem(27);
            }
        }
        &.warning {
            svg {
                color: $color-gold;
            }
        }
    }
}