.usa-da-validate-item-header {
	border-bottom: 1px solid #e4e2e0;
    min-height: 6.0rem;
    h4,
    p {
        margin: 0;
        line-height: 6.0rem;
        color: $color-gray;
    }
    h4 {
        font-weight: $font-light;
        font-size: 2.4rem;
        @media screen and (max-width: $medium-screen) {
            line-height: 1.2em;
            margin-bottom: 1.5rem;
        }
    }
    p {
        font-size: 1.2rem;
        text-align: right;
        @media screen and (max-width: $medium-screen) {
            text-align: left;
            line-height: 1.8rem;
            margin-bottom: 10px;
        }
    }
    .col-md-6 {
        @media screen and (min-width: $medium-screen) {
            padding-left: 10px;
            padding-right: 0;
        }
    }
}