.usa-da-page-title {
    position: relative;
	& h1 {
		margin-top: 0;
	}
	& p {
		font-size: 1.6rem;
		margin: 0 0 2.6rem 0;
		color: $color-white;
		&:last-child{
			margin-bottom: 0;
		}
	}

	& ul {
		font-size: 1.6rem;
		margin-left: 3rem;
		margin-bottom: 2.6rem;
	}
	& a, p a {
		color: #d6d7d9;
		text-decoration: underline;
		&:hover{
			color: $color-white;
		}
	}
}