.usa-da-button {
	@import "../../../components/buttons/_primary";
	@include primaryButton;

	&.decline-button {
		@include baseButton;
		background:$color-gray-lighter;
        color:$color-gray-dark;
                
        &:hover{
            background:$color-gray-light;
            color:$color-gray-dark;
        }
	}

	&.revalidate-button {
		@include baseButton;
		background: $color-green;
		color: $color-white;

		&:hover {
			background: $color-green-dark;
		}
	}

	&.cancel-button {
		@include baseButton;
		background: $color-secondary;
		color: $color-white;

		&:hover {
			background: $color-secondary-dark;
		}
	}
}