.usa-da-review-data-user-row {
    height: 41px;
    margin: 1rem 0 1rem;
    padding: 0.5rem 0 0.5em;
    border: 1px solid #cacaca;
    color: #696969;
    .usa-da-icon {
        @include button-unstyled;
        cursor: pointer;
        
        svg {
            height: rem(20);
            margin: rem(5);
            margin-bottom: rem(2.5);
            fill: $color-gray-dark;
        }
    }
    span {
        vertical-align: super;
    }
}