// modals sit outside of pages, so they need to be included separately
.usa-da-modal-page {
	// limit the modal styles to just modals; preventing style leakage
	@import "./landing/landingModal";

	@import "./admin/adminModal";

	@import "./reviewData/reviewData";
}