// modals sit outside of pages, so they need to be included separately
.usa-da-modal-page {
	// limit the modal styles to just modals; preventing style leakage
	@import "./landing/landingModal";

	@import "./reviewData/reviewData";

	@import "./generateFile/generateFile";

	@import "./dashboard/dashboardModal";

	@import "./settings/settingsModal";

	.delete-button{
		margin-right:10px;
	}

	.delete-modal-content{
		background-color:#f2dede;
		padding:15px;
	}
}