.usa-da-shared-modal {
    @import "../../layouts/modal/modal";
    @include modalLayout;

    .usa-da-shared-close {
        @include modalClose;
        & button {
            font-size: rem(25);

            svg {
                margin-bottom: rem(5);
            }
        }
    }
    
    .usa-da-button {
        @import "../../components/buttons/_primary";
        @include primaryButton;
        @import "../../components/buttons/_optional";
        @include optionalButton;

        padding: rem(10) rem(40);
        font-size: rem(15);

        &.btn-primary {
            margin-top: -5px;
            border: solid 1px #0071bc;
        }

        &.btn-default {
            background: white;
            box-shadow: none;
            border: solid 1px #0071bc;

            &:active {
                background: white;
            }
        }
        
        &.cancel-button {
            margin-right: rem(20);
        }
    }
    
    .alert-warning {
        @import "../../components/alerts/_alerts";
        @include warningAlert;
        margin-top: rem(20);
        &.alert-warning_test-submission {
            padding: rem(15) rem(15) rem(15) 0;
            h3 {
                margin-left: rem(58);
                font-size: rem(18);
            }
            .exclamation-triangle-icon {
                font-size: rem(25);
                color: $color-gold-dark;
                float: left;
                margin-left: 17px;
                margin-top: 6px;
            }
        }
        p {
            margin-left: rem(58);
        }
    }
}

