.table-paginator {
    ul, li {
        // hide list styling
        list-style-type: none;
        padding: 0;
        margin: 0;

        &:before {
            padding: 0;
            content: '';
            display: block;
        }
    }

    li {
        float: left;
        margin-left: 0.4em;

        &:first-child {
            margin-left: 0;
        }

        button {
            display: inline-block;
            padding: 0.4em 0.8em;
            border: 1px solid black;
            background-color: transparent;
        }

        &.active {
            button {
                font-weight: bold;
            }
        }

        svg {
            &.fa-ellipsis {
                font-size: rem(10);

                &.ellipsis-pre {
                    margin-right: rem(5);
                }

                &.ellipsis-post {
                    margin-left: rem(5);
                }
            }
        }

        &.page-arrow {
            button {
                padding: 0.4em 0.2em;

                .usa-da-icon {
                    height: 2.4rem;
                    width: 2.2rem;
                    & svg{
                        fill: $color-gray;
                    }
                }
            }
        }
    }
}
