@mixin modalClose {
	position: absolute;
    top: 10px;
    right: 10px;
    & a {
        display: block;
        width: 20px;
        height: 20px;
        & svg {
            fill: $color-gray-light;
        }
        &:hover {
            & svg {
                fill: $gray-dark;
            }
        }
    }
}