@mixin modalClose {
	position: absolute;
    top: 10px;
    right: 10px;
    & button {
		background-color: transparent;
		border:none;
        display: block;
        font-size: rem(23);
        & svg {
            color: $color-gray-light;
        }
        &:hover {
            & svg {
                color: $gray-dark;
            }
        }
    }
}
