@import "./_modalClose";
@mixin modalLayout {
	position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    outline: none;
    width: 60%;
    max-width: 750px;
    padding: 30px 30px 20px;
    background-color: $color-white;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 16px;
    @media(max-width: $small-screen) {
        width: 80%;
    }
    hr {
        background-color: $color-gray-dark;
    }
}