.usa-da-upload-fabs-file-page {
	@import "../../layouts/content/content";
	@include contentLayout;

	// import typeahead styles
	@import "../../components/typeahead/_typeahead";

	@import "../../layouts/validation/validation";
	@include validationLayout;

	.alert-warning {
		@import "../../components/alerts/_alerts";
		@include warningAlert;
		background-color: rgb(255,252,246);
		border-color: rgb(243,199,77);
		background: rgb(255,252,246);
		.alert-header-text {
		    margin: 0 0 5px 40px;
		    font-weight: bold;
		}
		p {
		    margin: 5px 0 5px 40px;
		    font-size: 1.6rem;
		}
		.usa-da-icon-file-upload {
			width: 2.0rem;
		}
	}

	.validation-holder {
		.alert-error {
			@import "../../components/alerts/_alerts";
			@include dangerAlert;
		}

		.alert-success {
			@import "../../components/alerts/_alerts";
			@include successAlert;
		}

		.button-text-container {
			margin-top: 1%;
			font-weight: $font-bold;
			color: $color-gray;
			@import '../../components/tooltip/_tooltips';
			svg {
				top: rem(3);
				margin-left: rem(5);
				margin-right: rem(5);
			}
			.tooltip-popover-container .tooltip-popover {
			    bottom: 37px;
				left: -141px;
				span {
					margin-bottom: 10px;
					display: block;
				}
			}

		}

		& svg.usa-da-icon-check-circle,
		& svg.usa-da-icon-info-circle,
		& svg.usa-da-icon-file-upload {
			width: rem(15);
		    height: rem(15);
		    position: relative;
	    }
	    & svg.usa-da-icon-check-circle {
	        fill: $color-green-light;
	    }
		& svg.usa-da-icon-info-circle {
	        fill: $color-gray;
	    }
	}

	.internal-banner {
		@import "../../layouts/login/_topBanner";
		@include loginTopBanner;
	}

	.select-agency-holder {
		@import "../addData/fields/_label";
		@include contentBlockWrapper;
		padding: 15px 30px 30px 30px;

		.usa-da-select-agency-label {
			margin: 15px 0px 10px;
			text-align: left;
			font-size: 1.6rem;
		}

		.usa-da-typeahead {
			&.disabled {
				input {
					background-color: #f1f1f3;
					color: #bfb4b3;
				}
			}
		}

		.dashed-border-top {
			margin: 31px 0 10px;
			border-top: 1px dashed $color-gray-lighter;
		}

		.usa-da-submission-type {
            .usa-da-submission-type-group {
				input {
					float: left;
					margin: rem(4) rem(8) 0 0;
				}
                margin-top: rem(20);
                .subtype-description {
                    font-style: italic;
                }

                label {
                    font-weight: bold;
                    line-height: rem(18);
                    .subtype-description {
                        font-weight: normal;

                        &.test-submission-note {
                            margin-top: rem(7.5);
                            b {
                                color: $color-gray;
                            }
                        }
                    }
                }
            }
        }

		.usa-da-date-select {
			padding-top: 30px;
			@import "../generateFiles/generateItem/generateItem";

			// have to create this layer of classes so it overrides the imported ones
			.usa-da-generate-item .date-range-wrapper .generate-datepicker {

				&.disabled {
					input {
						background-color: #f1f1f3;
						color: #bfb4b3;
					}

					a {
						cursor: default;
					}
				}
			}
		}

		.usa-da-upload-fabs-file-box {
			padding-top: 30px;
			@import "../addData/uploadPage/uploadDropzone";

			.usa-da-submission-item {
				margin-bottom: 10px;
			}
		}

		// import the alerts
		.alert-error {
			@import "../../components/alerts/_alerts";
			@include dangerAlert;
		}

		// style the icons
		.usa-da-form-icon {
			@import "../../components/inputs/_fieldIcon";
			@include fieldIcon;
		}

		.usa-da-button {
			@import "../../components/buttons/_optional";
			@include optionalButton;

			margin-bottom: 10px;

			@import "../../lib/spinkit/spinners/2-double-bounce";

			.sk-double-bounce {
				margin: 0;
				margin-right: 7.5px;

				display: inline-block;
				width: 15px;
				height: 15px;

				top: 2px;

				.sk-child {
					background-color: black;
				}
			}
		}

		.right-align-box {
			text-align: right;
		}
	}

	.usa-da-validate-item {
        @import "../validateData/fileItem/fileItem";
        @include fileItem;
		.file-container {
			padding-top: rem(20);
		}
        .usa-da-validate-item-file-section {
        	.usa-da-validate-corrected-file-holder.full-width{
        		.full-overlay{
        			height: 107%;
        		}
        	}
        }
    }

    .header-box{
   	    right: 41px;
	    font-size: 1.1rem;
	    letter-spacing: 0.031rem;
	    color: #f1f1f1;
	    background: #262B30;
	    padding: 4px 10px;
	    width: 90%;
	    margin-left: -25%;
	    margin-top: 25%;
    }

    .plain {
    	font-weight: normal;
    	margin-bottom: 0;
    }
}

button:disabled.us-da-disabled-button {
	color: #5b616b;
	background: #d6d7d9;
	padding: 1rem 2rem;
	font-size: 1.4rem;
	font-weight: 700;
	border-style: none;
	opacity:.55;
	box-shadow: none;
	cursor: not-allowed;
}

.us-da-button {
	color: #ffffff;
	background: #0071bc;
	padding: 1rem 2rem;
	font-size: 1.4rem;
	font-weight: 700;
	border-style: none;
	box-shadow: none;

	&.revalidate-button {
		margin-right: 5px;
	}
}
