.cross-file-page {
	@import "../../layouts/validation/validation";
	@include validationLayout;

	// style the warning for published submissions
	.internal-banner {
		@import "../../layouts/login/_topBanner";
		@include loginTopBanner;
	}

	// style the instructions
	.usa-da-submission-instructions {
		@import "../../components/typography/_instructions";
		@include instructions;
	}

	// import the loading animations and styles
	&.usa-da-gathering-data {
        min-height: 650px;
    }
	@import "./loading/crossFileLoading";

	// style the file items
	@import "./fileItem/fileItem";

	// style the error box
	@import "./errorBox/errorBox";

	// position the elements
	@import "./_layout";

	.warning {
		background-color: transparent;
	}

}