.usa-da-submission-bottom-big-links {

    .usa-da-button {
        @import "../../../components/buttons/_primary";
        @include primaryButton;

        &.btn-primary.btn-lg {
            font-size: $base-font-size;
            line-height: 4.2rem;
            position: relative;
            & svg {
                margin: 0 10px 0 0;
                position: relative;
                top: 7px;
                fill: $color-white;
                height: 2.4rem;
                width: 2.6rem;
            }
            & .usa-da-icon-Globe {
                & svg {
                    height: 2.6rem;
                    width: 2.6rem;
                }
            }
            @media(max-width:$small-screen) {
                line-height: 20px;
                text-align: left;
                padding: 20px 15px 20px 15px;
                & .usa-da-icon {
                    float: left;
                }
                &.last {
                    margin: 20px 0 0;
                }
            }
        }
    }
}