.usa-da-history-page {
    @import "../../layouts/content/content";
    @include contentLayout;

    @import "../../components/alerts/_alerts";
    .alert-danger {
        @include dangerAlert;
    }
    .alert-warning {
        @include warningAlert;
    }

    .alert {
        div {
            display: inline-block;
        }
    }

    h2 {
        font-size: $h2-font-size;
        margin-bottom: rem(10);
    }

    .submission-list {
        display: block;
        list-style: none;
        list-style-type: none;
        margin-top: rem(15);

        &.publications {
            margin-bottom: rem(50);
        }

        li {
            &:before, &:after {
                display: none;
            }
        }
    }

    .file-link {
        cursor: pointer;
        font-size: $small-font-size;
        margin-bottom: rem(10);

        &:hover {
            cursor: pointer;
        }

        &:before {
            content: '-';
        }

        &:after {
            margin: none;
        }
    }

    .cert-desc {
        font-size: rem(12);
        margin-bottom: rem(15);
    }

    .active-submission {
        display: block;
        background-color: #323A45;
        color: white;
        border-radius: rem(5);
        font-size: rem(16);
        list-style-type: none;
        padding: rem(10);
        list-style: none;
    }

    .submission {
        @include button-unstyled;
        font-size: rem(16);
        padding: rem(10);
        padding-left: 0;
        cursor: pointer;
        display: block;
    }

    .metadata {
        margin-bottom: rem(5);
    }

    .header {
        padding-top: rem(15);
        font-size: rem(15);
        font-weight: 200;
    }

    .download-box {
        border: solid 1px #323A45;
        min-height: rem(300);
        margin-top: rem(30);
        overflow: scroll;

        .usa-da-download {
            @import "../../components/buttons/_optional";
            @include optionalButton;
            padding: rem(10) 0;
    
            background-color: transparent;
            color: $color-primary;
            font-weight: 600;
            font-size: rem(14);
    
            &:hover {
                color: $color-primary-darker;
                & .usa-da-icon.usa-da-download-report {
                    & svg {
                        fill: $color-primary-darker;
                    }
                }
            }
        }
    }
}
