.usa-da-history-page {
    @import "../../layouts/content/content";
    @include contentLayout;

    @import "../../components/alerts/_alerts";
    .alert-danger {
        @include dangerAlert;
    }
    .alert-warning {
        @include warningAlert;
    }

    h2 {
        font-size: $h2-font-size;
    }

    ul {
        display: block;
        list-style: none;
        list-style-type: none;
        margin-top: rem(15);

        li {
            &:before, &:after {
                display: none;
            }
        }
    }

    .file-link {
        cursor: pointer;
        font-size: $small-font-size;
        margin-bottom: 10px;

        &:hover {
            cursor: pointer;
        }

        &:before {
            content: '-';
        }

        &:after {
            margin: none;
        }
    }

    .cert-desc {
        font-size: rem(12);
        margin-bottom: rem(15);
    }

    .active-submission {
        display: block;
        background-color: #323A45;
        color: white;
        border-radius: 5px;
        font-size: rem(16);
        list-style-type: none;
        padding: 10px;
        list-style: none;
    }

    .submission {
        @include button-unstyled;
        font-size: rem(16);
        padding: 10px;
        padding-left: 0;
        cursor: pointer;
    }

    .submission-list {
        list-style: none;
        list-style-type: none;
        display: block;
    }

    .metadata {
        margin-bottom: 5px;
    }

    .header {
        padding-top: 1.5rem;
        font-size: 1.5rem;
        font-weight: 200;
    }

    .download-box {
        border: solid 1px #323A45;
        min-height: 300px;
        margin-top: 3rem;
        overflow: scroll;
    }
}
