.dashboard-page__impacts {
    padding: rem(20);

    h4 {
        margin-bottom: 0;
        margin-top: rem(20);
        font-size: $h3-font-size;
        font-weight: $font-normal;
        clear: both; // for IE
    }
    p {
        margin-bottom: 0;
    }

    .flex-wrapper {
        @include flex-direction(row);
        @include display(flex);
        max-width: rem(700);

        .impact-section {
            flex: 1 1 25%;
            padding: 1rem;  
            margin-top: 15px;

            img {
                float: left;
                width: 30%;
            }
            .impact-section__stats {
                float: left;
                text-align: center;
                width: 70%;
            }
            .impact-section__count {
                width: 100%;
                height: rem(40);
                p {
                    font-size: $h1-font-size;
                    font-weight: $font-light;
                }
                .results-table-content {
                    margin: 0;
                    min-height: 0
                }
                .results-table-error, .results-table-loading {
                    margin: 0
                }
                .icon, .loading-animation {
                    width: 2.5rem;
                    height: 2.5rem;
    
                    svg {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
                .description, .loading-message {
                    font-size: 1.6rem;
                    line-height: 1
                }
            }
            .impact-section__level {
                font-size: $h3-font-size;
                font-weight: $font-bold;
                text-transform: uppercase;
                width: 100%
            }
        }
    }
}