@import "../../../components/inputs/_container";
@import "../../../components/inputs/_generic";

.usa-da-input-container {
    @include inputContainer;

    input {
    	@include genericInput;
    }

    .usa-alert,
    .alert {
        text-align: left;
    }

    .usa-da-icon{
        position: absolute;
        left: 10px;
        top: 15px;
        width: 2.2rem;
        height: 2.2rem;
        overflow: hidden;
        fill: $color-gray-dark;
        & svg {
            fill: $gray-dark
        } 
    }

    .agency-padding {
        margin-bottom: 20px;
    }
}