@import 'components/tables/_scrollableTable';

@mixin bottomSideTable {
	@include scrollableTable;

	th, td {
        text-align: left;
        word-break: normal;

        &.colA {
            width: 24%;
        }

        &.colB {
            width: 59.8%;
        }

        &.colC {
            width: 15.9%;
        }
    }
}