@mixin validationProgressCurrentStep {
	.name, .step span {
		opacity: 1;
	}

	.step {
		border: 1px solid $color-primary-alt-darkest;
		background-color: $color-primary-alt-darkest;
		color: $color-white;

		&:before {
			background-color: $color-primary-alt-darkest;
			z-index: -1;
			bottom: 0.9em;
		}
	}
}