@mixin validationProgressDoneStep {
	.step {
		border: 1px solid $color-focus;
		background-color: $color-focus;
		color: $color-white;

		&:before, &:after {
			background-color: $color-focus;
			z-index: -1;
			bottom: 0.9em;
		}
	}
}