@mixin validationProgressStep {
    li {
        float: left;
        text-align: center;
        position: relative;
        z-index: 5;
        margin: 0.5rem 0 0;
        font-size: 1.4rem;

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    .name {
        display: block;
        text-align: center;
        font-size: 1.2rem;
        a {
            color: $color-gray;
            &:hover {
                text-decoration: none;
            }
        };
    }

    .step {
        background-color: $color-white;
        border-radius: 100%;
        line-height: 1.2;
        width: 2.4em;
        height: 2.4em;
        padding-top: 0.6em;
        display: inline-block;
        z-index: 0;

        .stepLink {
            color: $color-gray-cool-light;
            background-color: transparent;
            border: none;
        }

        a {
            color: $color-gray-cool-light;
            &:hover {
                text-decoration: none;
            }
        }

        span {
            opacity: 0.3;
        }

        &:before {
            content: "";
            display: block;
            background-color: $color-white;
            height: 0.4em;
            width: 50%;
            position: absolute;
            bottom: 0.9em;
            left: 0;
            z-index: -1;
        }

        &:after {
            content: "";
            display: block;
            background-color: $color-white;
            height: 0.4em;
            width: 50%;
            position: absolute;
            bottom: 0.9em;
            right: 0;
            z-index: -1;
        }
    }

    li:first-of-type {
        .step:before {
            display: none;
        }
    }

    li:last-of-type {
        .step:after {
            display: none;
        }
    }
}
