@import "../content/content";
@import "./progress/progress";

// the validation layout is based on the content layout
@mixin validationLayout {
	@include contentLayout;


	// implement the progress bar
	.usa-da-content-step-block {
		color: $color-gray-light;
		background-color: $color-gray-cool-light;
		border-bottom: 1px solid $color-white;
	
		.usa-da-progress-bar {
			@include validationProgress;
		}
	}
}