.icon-wrapper {
	height: 50px;
    width: 35px;
    margin: 0 auto;
    background: url('../graphics/file_icon_lg.png') no-repeat;
    background-size: 35px 50px;
    position: relative;

}

.file-name {
	text-align: center;
	font-size: 0.85em;
    margin: 10px;
    word-wrap: break-word;
    color: $color-gray;
}

.usa-da-button {
	@import "../../../components/buttons/_primary";
	@include primaryButton;
}

.usa-da-icon {
    font-size: rem(22);
    position: absolute;
    top: rem(10);
    left: rem(4.5);
    & .fa-circle-exclamation {
        color: $color-secondary;
    }
    & .fa-circle-check {
        color: $color-green-light;
    }
}

@import "./_spinner";