.generate-header {
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	position: relative;
	border-bottom: 1px solid $color-gray-lighter;

	.generate-type {
		flex: 0 0 auto;
		position: relative;
		align-items: center;
		justify-content: center;
		display: flex;

		width: 80px;

		background-color: $color-gray-lighter;
		padding: 20px;
		font-weight: bold;

		span {
			flex: 1 1 auto;
			position: relative;
		}
	}
	.generate-title {
		flex: 1 1 auto;
		position: relative;

		text-align: left;
		padding: 20px;

		font-weight: bold;
	}
}