.usa-da-steps-line {
    &:after {
        content: "";
        height: 100%;
        background: $color-primary-alt;
        width: 4px;
        position: absolute;
        left: 39px;
        @media(max-width: $medium-screen) {
            display: none;
        }
    }
    &.first-step {
        &:after {
            top: 45px;
        }
    }
    &.last-step {
        &:after {
            height: 60px;
        }
    }
}

.usa-da-submission-guide-step {
    position: relative;
    & .submission-guide-step-number {
        position: absolute;
        left: calc(#{$whiteBorderMargin} - #{$numberWidthHeight}/2 + #{$whiteBorderWidth}/2);
        top: 55px;
        border: 1px solid $color-primary-alt;
        background-color: $color-primary-alt;
        color: $color-white;
        border-radius: 100%;
        line-height: 1.7;
        width: $numberWidthHeight;
        height: $numberWidthHeight;
        padding-top: 0.6rem;
        display: inline-block;
        z-index: 100;
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
        @media(max-width: $medium-screen) {
            left: 20px;
        }
        &.first-step {
            top: 40px;
        }
    }
}