.usa-da-dropzone {
    border: 2px dashed #c8cfd7;
    padding: 1rem 2rem 2rem;
    cursor: pointer;
    background-color: #f5f5f5;
    color: $color-gray;
    font-size: 1.4rem;
    position: relative;

    .usa-da-icon {
        font-size: rem(36);

        svg {
            color: $color-gray-light;
            margin-bottom: rem(-5);
        }

        &.success {
            svg {
                color: $color-green-light;
            }
        }

        &.fail {
            svg {
                color: $color-secondary;
            }
        }
    }

    &.dropped {
        svg {
            color: $color-gray;
        }
    }
    svg.usa-da-icon-loading-spinner {
     	width: 35px;
      margin-bottom: 10px;
    }
    &:hover {
        border-color: $color-primary-alt-dark;
    }
    b, strong {
        color: $color-gray;
    }
    &.active {
        border-color: $color-primary-alt-dark;
        & .usa-da-icon-cloud-upload {
            fill: $color-gray;
        }
    }
    .is-caption {
        font-size: 1.4rem;
    }
    .usa-da-dropzone-fail {
        color: $color-secondary;
    }
    .usa-da-dropzone-success {
        color: $color-green-light;
    }
    .progress {
        margin-top: 10px;
    }

    &.non-interactive {
        cursor: not-allowed;

        svg {
            color: $color-gray;
        }

        &:hover {
            border-color: #c8cfd7;
        }
    }
}
