@mixin rightSideIcon {
    .usa-da-icon {
        font-size: rem(21);
        position: absolute;
        top: rem(10);
        left: rem(7);
        & .fa-exclamation-circle {
            color: $color-secondary;
        }
        & .fa-check-circle {
            color: $color-green-light;
        }
        & .fa-cloud-upload-alt {
            color: $color-gray-dark;
            position: relative;
            left: rem(-2);
        }
    }

    .usa-da-warning-icon {
        .fa-exclamation-circle {
            color: $color-gold;
        }
    }
}