@mixin rightSideIcon {
    .usa-da-icon {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        top: 13px;
        left: 6px;
        & .usa-da-icon-exclamation-circle {
            fill: $color-secondary;
        }
        & .usa-da-icon-check-circle {
            fill: $color-green-light;
        }
        & .usa-da-icon-cloud-upload {
            fill: $color-gray-dark;
            left: 9px
        }
    }

    .usa-da-warning-icon {
        .usa-da-icon-exclamation-circle {
            fill: $color-gold;
        }
    }
}