@mixin rightSideIcon {
    .usa-da-icon {
        font-size: rem(21);
        position: absolute;
        top: rem(10);
        left: rem(4.5);
        & .exclamation-circle-icon {
            color: $color-secondary;
        }
        & .check-circle-icon {
            color: $color-green-light;
        }
        & .cloud-upload-icon {
            color: $color-gray-dark;
            position: relative;
            left: rem(-2);
        }
    }

    .usa-da-warning-icon {
        .exclamation-circle-icon {
            color: $color-gold;
        }
    }
}