.narrative-wrapper {

    &.col-md-8 {
        padding-left: 0;
    }

    .gray-bg {
        padding: 15px;
        padding-top: 5px;
        background-color: $color-gray-lightest;
    }

    .row {
        margin-bottom: 0;
    }

    @media(max-width: $medium-screen) {
        select {
            margin-bottom: 1rem;
        }
    }

    textarea {
        width: 100%;
        height: 10rem;
    }

    .usa-da-button {
        @import "../../../components/buttons/_optional";
        @include optionalButton;

        float: right;

        &.btn-default {
            background: white;

            &:active {
                background: white;
            }
        }
    }

    .save-state {
        margin-bottom: 0;
        margin-top: 8px;
        padding-right: 10px;
        float: right;

        font-size: 1.6rem;

        &.Saved {
            color: $color-green-light;
        }

        &.Error {
            color: $color-secondary-dark;
        }
    }

    .file-dropdown {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .narrative-box {
        padding-bottom: 10px;
    }

    .usa-da-download {
        // implement the download button
        @import "../../../components/buttons/_download";
        @include downloadButton;
    }
}