.narrative-wrapper {

    padding: rem(30);
    padding-top: rem(20);
    background-color: $color-gray-lightest;

    h4 {
        margin: 0;
        margin-bottom: rem(20);
        font-size: rem(18);

        &.extra-padding {
            margin-top: rem(20);
        }
    }

    h5 {
        margin: rem(5) 0 rem(5) rem(20);
        font-size: $base-font-size;
        font-weight: 400;
    }

    &.collapsed {
        padding: rem(20) rem(30);

        .file-labels {
            font-weight: 600;

            .regular-weight {
                font-weight: 400;
            }
        }
    }

    .row {
        margin-bottom: 0;
    }

    .collapse-button {
        @import "../../../components/buttons/_primary";
        @include primaryButton;
        float: right;
        padding: 0;

        background-color: transparent;
        color: $color-primary;

        &:hover {
            background-color: transparent;
            color: $color-primary-darker;
        }

        svg {
            font-size: rem(18);
            margin-bottom: rem(-2);

            &.fa-chevron-down {
                margin-left: rem(10);
            }
        }
    }

    .collapsed-text {
        margin: 0;
    }

    .narrative-box {
        margin-left: rem(20);
        padding-bottom: 10px;

        textarea {
            width: 100%;
            height: rem(41);
            max-width: 100%;
            padding: rem(10);

            &.invalid-ascii {
                border: 2px solid $color-gold-light;
                border-radius: rem(5px);
            }
        }

        & svg {
            color: $color-gold-light;
            font-size: rem(12);
            margin-bottom: rem(1);
            margin-right: rem(5);
        }
    }

    .comment-buttons {
        margin-top: rem(15);

        .save-buttons {
            @include display(flex);
            @include justify-content(flex-end);
    
            .usa-da-button {
                @import "../../../components/buttons/_optional";
                @include optionalButton;
                padding: rem(5) rem(25);
                font-weight: 600;
        
                &.btn-transparent {
                    background-color: transparent;
                    color: $color-primary;
                    margin-right: rem(5);
        
                    &:hover {
                        background-color: transparent;
                        color: $color-primary-darker;
                    }
                }
            }
        }
    
        .save-state {
            margin: 0;
            font-weight: 600;
    
            svg {
                width: rem(20);
                height: rem(20);
                position: relative;
                left: rem(-5);
                top: rem(4);

                &.fa-check-circle {
                    color: $color-green-light;
                }

                &.fa-times-circle {
                    color: $color-secondary-dark;
                }

                &.fa-exclamation-triangle {
                    color: #f0ad4e;
                }
            }
        }

        .usa-da-download {
            // implement the download button
            @import "../../../components/buttons/_optional";
            @include optionalButton;
            margin-left: rem(20);
            margin-top: 0;
            padding: rem(0) 0;
    
            background-color: transparent;
            color: $color-primary;
            font-weight: 600;
            font-size: rem(14);
    
            & .usa-da-icon.usa-da-download-report {
                & svg {
                    fill: $color-primary;
                }
            }
    
            &:hover {
                color: $color-primary-darker;
                & .usa-da-icon.usa-da-download-report {
                    & svg {
                        fill: $color-primary-darker;
                    }
                }
            }

            @media (max-width: $medium-screen - 1) {
                display: block;
                margin: auto;
                margin-bottom: rem(20);
            }
        }
    }
}