.narrative-wrapper {

    padding: rem(30);
    padding-top: rem(20);
    background-color: $color-gray-lightest;

    h4 {
        margin: 0;
        margin-bottom: rem(20);
        font-size: rem(18);
    }

    h5 {
        margin: rem(5) 0 rem(5) rem(20);
        font-size: $base-font-size;
        font-weight: 400;
    }

    .row {
        margin-bottom: 0;
    }

    .narrative-box {
        margin-left: rem(20);
        padding-bottom: 10px;

        textarea {
            width: 100%;
            max-width: 100%;
            padding: rem(10);
        }
    }

    .comment-buttons {
        margin-top: rem(15);

        .save-buttons {
            @include display(flex);
            @include justify-content(flex-end);
    
            .usa-da-button {
                @import "../../../components/buttons/_optional";
                @include optionalButton;
                padding: rem(5) rem(25);
                font-weight: 600;
        
                &.btn-transparent {
                    background-color: transparent;
                    color: $color-primary;
        
                    &:hover {
                        background-color: transparent;
                        color: $color-primary-darker;
                    }
                }
            }
        }
    
        .save-state {
            margin: 0;
    
            svg {
                width: rem(20);
                height: rem(20);
                position: relative;
                left: rem(-5);
                top: rem(4);

                &.fa-check-circle {
                    color: $color-green-light;
                }

                &.fa-times-circle {
                    color: $color-secondary-dark;
                }
            }
        }

        .usa-da-download {
            // implement the download button
            @import "../../../components/buttons/_download";
            @include downloadButton;
            margin-left: rem(20);
            margin-top: 0;
    
            color: $color-primary;
            font-weight: 600;
            font-size: rem(14);
    
            & .usa-da-icon.usa-da-download-report {
                & svg {
                    fill: $color-primary;
                }
            }
    
            &:hover {
                color: $color-primary-darker;
                & .usa-da-icon.usa-da-download-report {
                    & svg {
                        fill: $color-primary-darker;
                    }
                }
            }
        }
    }
}