/* Progress Bar */
.usa-da-progress-bar {
	margin: 0 auto;
	font-size: 1.3em;
	font-weight: $font-bold;
	padding: 3rem 0 2.8rem;

	/* Progress Tracker v2 */
	.usa-da-progress-bar-holder[data-steps="2"] li { width: 49%; }
	.usa-da-progress-bar-holder[data-steps="3"] li { width: 33%; }
	.usa-da-progress-bar-holder[data-steps="4"] li { width: 24%; }
	.usa-da-progress-bar-holder[data-steps="5"] li { width: 19%; }
	.usa-da-progress-bar-holder[data-steps="6"] li { width: 16%; }
	.usa-da-progress-bar-holder[data-steps="7"] li { width: 14%; }
	.usa-da-progress-bar-holder[data-steps="8"] li { width: 12%; }
	.usa-da-progress-bar-holder[data-steps="9"] li { width: 11%; }

	.usa-da-progress-bar-holder {
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;

		&:last-child {
			font-size: $base-font-size;
			font-family: $font-sans;
		}
	}

	.usa-da-progress-bar-holder li {
		float: left;
		text-align: center;
		position: relative;
		z-index:5;
		margin: 0.5rem 0 0;
		font-size: 1.4rem;

		&::before {
			display: none;
		}

		&::after {
			display: none;
		}
	}

	.usa-da-progress-bar-holder .name {
		display: block;
		vertical-align: bottom;
		text-align: center;
		color: $color-gray-dark;
		opacity: 0.3;
		font-size: 1.2rem
	}

	.usa-da-progress-bar-holder .step {
		color: $color-gray-cool-light;
		background-color: $color-white;
		border-radius: 100%;
		line-height: 1.2;
		width: 2.4em;
		height: 2.4em;
		padding-top: 0.6em;
		display: inline-block;
		z-index: 0;
	}

	.usa-da-progress-bar-holder .step span {
		opacity: 0.3;
	}

	.usa-da-progress-bar-holder .usa-da-progress-bar-step-current .name,
	.usa-da-progress-bar-holder .usa-da-progress-bar-step-current .step span {
		opacity: 1;
	}

	.usa-da-progress-bar-holder .step:before {
		content: "";
		display: block;
		background-color: $color-white;
		height: 0.4em;
		width: 50%;
		position: absolute;
		bottom: 0.9em;
		left: 0;
		z-index: -1;
	}

	.usa-da-progress-bar-holder .step:after {
		content: "";
		display: block;
		background-color: $color-white;
		height: 0.4em;
		width: 50%;
		position: absolute;
		bottom: 0.9em;
		right: 0;
		z-index: -1;
	}

	.usa-da-progress-bar-holder li:first-of-type .step:before {
		display: none;
	}

	.usa-da-progress-bar-holder li:last-of-type .step:after {
		display: none;
	}

	.usa-da-progress-bar-holder .usa-da-progress-bar-step-done .step,
	.usa-da-progress-bar-holder .usa-da-progress-bar-step-current .step {
		border: 1px solid $color-focus;
		background-color: $color-focus;
		color: $color-white;
	}

	.usa-da-progress-bar-holder .usa-da-progress-bar-step-done .step:before,
	.usa-da-progress-bar-holder .usa-da-progress-bar-step-done .step:after,
	.usa-da-progress-bar-holder .usa-da-progress-bar-step-current .step:before {
		background-color: $color-focus;
		z-index: -1;
		bottom: 0.9em;
	}

	.usa-da-progress-bar-holder .usa-da-progress-bar-step-done .step,
	.usa-da-progress-bar-holder .usa-da-progress-bar-step-current .step {
		border: 1px solid $color-focus;
	}
}