@mixin fieldIcon {
    svg {
        position: absolute;
        top: rem(14);
        right: rem(25);
        z-index: 9;
        color: #ccc;
        font-size: rem(22);
    }
    &.error {
        & svg {
            color: $color-secondary;
        }
    }
    &.date svg {
        top: rem(12);
    }
}