@mixin genericInput {
	border: 1px solid #cacaca;
	border-radius: 0;
	box-sizing: border-box;
	color: #696969; // standardize on firefox 
	display: block;
	font-size: $base-font-size;
	margin: .2em 0;
	width: 100%;
	padding: 1rem .7em;
	max-width: none;

	&.usa-da-input-success {
	border: 3px solid $color-green-light;
	}

    &.error {
        border: 1px solid $color-secondary;
    }
}
