// Override component library default styles
.usa-dt-picker {
    background-color: transparent;
    .usa-dt-picker__dropdown-container {
        @include flex(1 1 auto);
        .usa-dt-picker__button {
            margin: 0;
            padding: rem(3);
            .usa-dt-picker__button-text {
                font-size: $small-font-size;
                font-weight: $font-normal;
                color: $font-color;

            }
            .usa-dt-picker__button-icon {
                svg {
                    width: rem(16);
                    height: rem(16);
                }
            }
        }
        .usa-dt-picker__list {
            z-index: 4;
            width: auto;
            overflow: hidden; // prevent scrollbars in this list
            .usa-dt-picker__list-item {
                border-top: 0;
                .usa-dt-picker__item {
                    font-size: $small-font-size;
                    font-weight: $font-normal;
                    color: $font-color;
                }
            }
        }
    }
}
