.rule-settings-top {
    @include display(flex);
    justify-content: space-between;
    flex-wrap: wrap;

    .description {
        @media (min-width: 975px) {
            @include flex(0 0 370px);
        }
    }

    .validation-rule-select {
        padding-top: rem(10);
        @include flex(0 0 auto);
        @media (min-width: 975px) {
            padding-left: rem(10);
            padding-top: 0;
        }

        h2 {
            margin: 0;
            margin-bottom: rem(5);
            font-size: rem(16);
            font-weight: bold;
        }

        .validation-rule-picker-dropdown {
            width: rem(220);
            border: 1px solid $color-gray-lighter;
            height: auto;

            .filter__dropdown-button-list-container {
                @include display(flex);
                @include align-self(flex-end);
                @include flex(0 1 auto);
                width: rem(220);

                .filter__dropdown-button {
                    margin: 0 rem(10);
                    padding: rem(5) 0;
                    width: 100%;
                }
                
                .filter__dropdown-button-text {
                    @include display(flex);
                    @include flex(1 1 auto);
                    color: $color-gray;
                    font-size: rem(20);
                    line-height: rem(25);
                    font-weight: $font-light;
                }

                .filter__dropdown-chevron {
                    @include flex(0 0 rem(2));

                    svg {
                        color: #555;
                        height: rem(20);
                        width: rem(20);
                    }
                }

                .filter__dropdown-list {
                    top: rem(35);
                    left: rem(-1);
                    width: rem(220);
                    border: 1px solid #d6d7d9;

                    .filter__dropdown-list-item {
                        margin: 0;
                        
                        &.active {
                            background-color: $color-white;

                            &:hover {
                                background-color: #f5f6f7;
                            }

                            .filter__dropdown-item {
                                color: #0071bc;
                            }
                        }

                        .filter__dropdown-item {
                            font-size: rem(18);
                            font-weight: $font-normal;
                            padding: rem(10) rem(15);

                            &:hover {
                                color: #0071bc;
                            }
                        }
                    }
                }
            }
        }

        .usa-dt-picker__dropdown-container {
            width: rem(220);
            border: 1px solid $color-gray-lighter;

            .usa-dt-picker__list {
                border: 1px solid $color-gray-lighter;
                width: rem(220) !important;
                left: 0 !important;
                z-index: 5;

                .usa-dt-picker__item {
                    width: rem(200);
                }
            }

            .usa-dt-picker__button {
                margin: 0 1rem;
                padding: .5rem 0;
            }
        }
    }
}
