.rule-settings-top {
    @include display(flex);
    @include flex-direction(horizontal);
    justify-content: space-between;

    .description {
        @include flex(0 0 auto);
        width: rem(370);
    }

    .validation-rule-select {
        @include flex(0 0 auto);

        h2 {
            margin: 0;
            margin-bottom: rem(5);
            font-size: rem(16);
            font-weight: bold;
        }

        .usa-dt-picker__dropdown-container {
            width: rem(220);
            border: 1px solid $color-gray-lighter;

            .usa-dt-picker__list {
                border: 1px solid $color-gray-lighter;
                width: rem(220) !important;
                left: 0 !important;

                .usa-dt-picker__item {
                    width: rem(200);
                }
            }

            .usa-dt-picker__button {
                margin: 0 1rem;
                padding: .5rem 0;
            }
        }
    }
}
