.settings-modal {
    background-color: $color-white;
    border: solid rem(1) $color-gray-lighter;
    border-radius: rem(3);
    width: rem(975);
    height: rem(650);
    max-height: rem(650);
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;

    .close-button {
        float: right;
        font-size: rem(30);
        height: rem(30);
        padding: 0;
        margin-right: rem(12);
        margin-top: rem(12);
        border: none;
        background-color: $color-white;
        overflow: hidden;

        svg {
            margin-bottom: rem(5);
        }
    }

    .settings-modal__content {
        @include display(flex);
        width: rem(935);
        height: 100%;
        margin: 0;
    }

    .settings-modal__sidebar {
        @include flex(0 0 auto);
        @include align-self(stretch);
        background-color: #f1f1f1;
        padding: rem(12);
        padding-top: rem(32);
        width: rem(240);
        overflow: hidden;

        h1 {
            margin: 0;
            margin-bottom: rem(25);
            font-size: rem(25);
            font-weight: bold;
        }

        h2 {
            margin-bottom: 0;
            margin-top: rem(45);
            font-size: rem(16);
            font-weight: bold;

            svg {
                height: rem(16);
                width: rem(16);
                margin-right: rem(5);
            }
        }

        .settings-agency-filter {
            @import '../../dashboard/filters/selectedFilters';
            @import '../../../components/typeahead/typeahead';

            .typeahead-holder {
                position: relative;
        
                input {
                    color: #adadad;
                }
        
                .awesomplete ul {
                    width: 100%;
                    position: static;

                    max-height: rem(350);
                    overflow-y: auto;
                    display: block;
                }
        
                .typeahead-warning {
                    @include usa-input-error-message;
                    border: 1px solid $color-secondary-dark;
                    padding: rem(15);
        
                    .error-icon svg {
                        width: rem(20);
                        height: rem(20);
                        fill: $color-secondary-dark !important;
                    }
                    .alert-header-text {
                        font-weight: $font-bold;
                        font-size: rem(18);
                        margin: 0;
                        margin-left: rem(28);
                        color: #a94442;
                    }
                    p {
                        font-size: $small-font-size;
                        margin: 0;
                        color: $color-secondary-darkest;
                    }
                }
            }
        }
    }

    .settings-modal__main {
        @include flex(0 0 auto);
        @include align-self(stretch);
        padding-top: rem(32);
        padding-bottom: rem(25);
        padding-right: 0;
        padding-left: rem(25);
        width: rem(695);

        h2 {
            margin: 0;
            margin-bottom: rem(25);
            font-size: rem(25);
            font-weight: light;
        }

        .rule-settings-top {
            @include display(flex);
            @include flex-direction(horizontal);
            justify-content: space-between;

            .description {
                @include flex(0 0 auto);
                width: rem(370);
            }

            .validation-rule-select {
                @include flex(0 0 auto);

                h2 {
                    margin: 0;
                    margin-bottom: rem(5);
                    font-size: rem(16);
                    font-weight: bold;
                }

                .usa-dt-picker__dropdown-container {
                    width: rem(220);
                    border: 1px solid $color-gray-lighter;

                    .usa-dt-picker__list {
                        border: 1px solid $color-gray-lighter;
                        width: rem(220) !important;
                        left: 0 !important;

                        .usa-dt-picker__item {
                            width: rem(200);
                        }
                    }

                    .usa-dt-picker__button {
                        margin: 0 1rem;
                        padding: .5rem 0;
                    }
                }
            }
        }
    }
}