.settings-modal {
    background-color: $color-white;
    border: solid rem(1) $color-gray-lighter;
    border-radius: rem(3);
    max-width: rem(975);
    height: rem(725);
    overflow-wrap: break-word;

    .close-button {
        float: right;
        font-size: rem(30);
        height: rem(30);
        padding: 0;
        margin-right: rem(12);
        margin-top: rem(12);
        border: none;
        overflow: hidden;
        background-color: $color-white;
        svg {
            margin-bottom: rem(5);
        }
    }

    .settings-modal__content {
        @include display(flex);
        @import './sidebar';
        .settings-modal__main {
            @include flex(1 1 auto);
            @include align-self(stretch);
            padding: rem(32) 0 rem(25) rem(25);
            @media(min-width: 975px) {
                @include flex(0 0 695px);
            }

            h2 {
                margin: 0;
                margin-bottom: rem(25);
                font-size: rem(25);
                font-weight: light;
            }

            .usa-dt-picker {
                .usa-dt-picker__button-text {
                    color: $color-gray;
                }
            }

            @import './ruleSettings';
            @import '../../../components/tabs/tabs';
            .tabs {
                .tabs__content {
                    .tabs__item {
                        margin-left: 0;
                    }
                }
            }
            @import './messages';
            @import '../../../components/tables/brokerTable';
            @include brokerTable;
            .settings-table {
                display: block;
                height: rem(350);
                overflow-y: auto;
                margin-top: rem(25);
                @media(min-width: 975px) {
                    height: rem(410);
                }
                tr.settings-table__row {
                    td.settings-table__data {
                        padding-top: rem(12);
                        padding-bottom: rem(12);
                    }
                }
                .settings-table__impact-dropdown {
                    height: auto;

                    .filter__dropdown-button {
                        border: 0;
                        margin: 0;
                    }
                    .filter__dropdown-button-text {
                        color: $font-color;
                        padding-right: rem(10);
                    }
                    .filter__dropdown-chevron {
                        svg {
                            color: #555; 
                            margin-top: rem(4);
                        }
                    }
                }
                .settings-table__rule {
                    padding-left: rem(10);
                }
                .horizontal-bars-icon {
                    margin-right: rem(10);
                }
                @import './impactDropdown';
                .settings-table__data {
                    &.settings-table__data_significance {
                        white-space: nowrap;
                    }
                }
            }
            @import './saveStatus';
        }
    }
}
