.usa-da-upload-detached-files-page {
	@import "../../layouts/content/content";
	@include contentLayout;

	// import typeahead styles
	@import "../../components/typeahead/_typeahead";

	.validation-holder {
		.alert-error {
			@import "../../components/alerts/_alerts";
			@include dangerAlert;
		}
	}

	.select-agency-holder {
		@include contentBlockWrapper;
		padding: 15px 30px 30px 30px;

		.usa-da-select-agency-label {
			margin: 15px 0px 10px;
			text-align: left;
			font-size: 1.6rem;
		}

		.usa-da-typeahead {
			&.disabled {
				input {
					background-color: #f1f1f3;
					color: #bfb4b3;
				}
			}
		}

		.dashed-border-top {
			margin: 31px 0 10px;
			border-top: 1px dashed $color-gray-lighter;
		}

		.usa-da-date-select {
			padding-top: 30px;
			@import "../generateFiles/generateItem/generateItem";

			// have to create this layer of classes so it overrides the imported ones
			.usa-da-generate-item .date-range-wrapper .generate-datepicker {

				&.disabled {
					input {
						background-color: #f1f1f3;
						color: #bfb4b3;
					}

					a {
						cursor: default;
					}
				}
			}
		}

		.usa-da-upload-detached-files-box {
			padding-top: 30px;
			@import "../addData/uploadPage/uploadDropzone";

			.usa-da-submission-item {
				margin-bottom: 10px;
			}
		}

		// import the alerts
		.alert-error {
			@import "../../components/alerts/_alerts";
			@include dangerAlert;
		}

		// style the icons
		.usa-da-form-icon {
			@import "../../components/inputs/_fieldIcon";
			@include fieldIcon;
		}

		.usa-da-button {
			@import "../../components/buttons/_optional";
			@include optionalButton;

			margin-bottom: 10px;

			@import "../../lib/spinkit/spinners/2-double-bounce";

			.sk-double-bounce {
				margin: 0;
				margin-right: 7.5px;

				display: inline-block;
				width: 15px;
				height: 15px;

				top: 2px;

				.sk-child {
					background-color: black;
				}
			}
		}

		.right-align-box {
			text-align: right;
		}
	}

	.usa-da-validate-item {
        @import "../validateData/fileItem/fileItem";
        @include fileItem;
    }

    .us-da-disabled-button {
    	color: #5b616b;
    	background: #d6d7d9;
    	padding: 1rem 2rem;
    	font-size: 1.4rem;
    	font-weight: 700;
    	border-style: none;
    	opacity:.55;
    	box-shadow: none;
    	cursor: not-allowed;
    }

    .us-da-button {
    	color: #ffffff;
    	background: #0071bc;
    	padding: 1rem 2rem;
    	font-size: 1.4rem;
    	font-weight: 700;
    	border-style: none;
    	box-shadow: none;
    }
}