@mixin replacementCorner {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 60px 60px 0;
    border-color: transparent $color-gray-lightest transparent transparent;
    button {
        background-color: transparent;
        border:none;
    }

    .usa-da-icon {
        cursor: pointer;
        font-size: rem(20);

        svg {
            position: absolute;
            right: rem(8);
            top: rem(9);
            color: $color-gray;
            &:hover {
                color: $color-gray-dark;
            }
        }

        .trash-icon {
            font-size: rem(17);
        }
    }
}
