.raw-files-page {
    font-size: $h5-font-size;

    button {
        @include button-unstyled;
        color: $color-primary-alt-dark;

        &:hover {
            text-decoration: underline;
        }
    }

    .raw-files-breadcrumb {
        margin: 0 rem(5);
        margin-bottom: rem(15);

        &.first {
            margin-left: 0;
        }
    }

    .raw-files-item {
        margin: rem(5) 0;
    }
}