@media(min-width: $medium-screen) {
	@include display(flex);
	@include flex-direction(row);
	position: relative;
}

.login-left {
    display: block;
    width: 100%;


    @media(min-width: $medium-screen) {
        @include flex(1 1 auto);
        position: relative;
        width: 60%;
    }
}

.login-right {
    display: block;
    width: 100%;


    @media(min-width: $medium-screen) {
        @include flex(1 1 auto);
        position: relative;
        width: 40%;
        margin-left: 30px;
    }

}