// import the innput fields
@import "../../components/inputs/_container";
// import the login button
@import "../../components/buttons/_primary";
// import the top banner
@import "./_topBanner";


@mixin loginForm {

	// style the outer wrapper
    padding: 40px 40px 29px;
    margin: 40px 0;
    background: as-alpha($color-white, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.25);
    // @media screen and (max-width: 1199px) and (min-width: $medium-screen) {
        padding: 40px 20px 29px;
    // }

    // style the form components
    p.msg {
        color: $color-white;
        margin: 0 0 30px;
    }
    p.info {
        color: $color-white;
        margin: 0 0 20px -15px;
        @media screen and (max-width: $small-screen) {
            text-align: center;
        }
    }
    .usa-da-reset-success {
        margin: 20px 0 0 0;
        padding: 0;
        color: $color-white;
        font-size: $small-font-size;

        p {
            color: $color-white;
            font-size: $small-font-size;
        }

        a {
            color: $color-gray-lighter;
            text-decoration: underline;

            &:hover {
                color: $color-white;
            }
        }
    }

    .usa-da-input-container {
        @include inputContainer;

        input {
            width: 100%;
            font-family: $font-sans;
            font-size: 1.6rem;

            padding-left: rem(55);
            height: rem(44);
            margin-top: 0;
            margin-bottom: 0;
            max-width: none;
            &[name="password"] {
                margin-bottom: 0;
            }
        }

        .usa-da-input-with-icon {
            padding-left: 2.5em;
        }

        .usa-da-icon {
            font-size: rem(20);
            position: absolute;
            left: rem(10);
            top: rem(9);
            color: $color-gray-dark;
        }
    }
    
    .usa-da-button {
        @include primaryButton;

        margin: 0;
        @media screen and (max-width: $small-screen) {
            width: 100%
        }
        &.disabled {
            background-color: $color-gray-light;
            color: $color-gray;
            cursor: default;
        }
    }

    // style site banners
	.internal-banner {
		@include loginTopBanner;

        padding: rem(15);
        margin-bottom: rem(20);
        border-bottom: 0 !important;

        .container {
            width: 100%;
        }
    }

    .alert {
        @include dangerAlert;
        & svg {
            margin-bottom: rem(-2);
            &.exclamation-circle-icon {
                color: $color-secondary;
                font-size: rem(25);
            }
        }

        .alert-header-text {
            display: inline-block;
            margin-left: rem(5);
        }

        p {
            margin-left: rem(30);
            margin-top: 0;
        }
    }
}
