// layouts associated with the login page style
@import "./_background";
@import "./_topBanner";
@import "./_centerBanner";
@import "./_warningFooter";
@import "./loginForm/loginForm";
@import "./_loadingAnimation";
@import "../default/header/_warningBanner";

@mixin loginLayout {

	// handle the basic outer positioning
	.flex-wrapper{
		@include display(flex);
	    @include flex-direction(column);
	}

	.usa-da-login {
		@include loginBackground;
		@include headerWarningBanner;
	}

	.login-banner-wrap {
		@include loginCenterBanner;
	}

	.usa-da-warning-msg {
		@include loginWarningFooter;
	}

	.usa-da-login-container {
		// implement the login form styles
		@include loginForm;
	}

	.usa-da-button {
		&.bottom-login-button {
			margin-top: rem(15);
		}
	}
}