.bar-axis {
    font-size: rem(16);
    color: #666;
    fill: #666;
    line.y-axis,
    line.x-axis {
        stroke: $color-gray-light;
    }
    .axis-labels {
        .axis-item {
            &.y-axis {
                .grid-line {
                    .grid-line__line {
                        stroke: $color-gray-lighter;
                    }
                    .grid-line__row {
                        fill: transparent;
                        stroke: none;
                    }
                }
                &:nth-child(even) {
                    .grid-line__row {
                        fill: $color-gray-lightest;
                        fill-opacity: 0.5;
                    }
                }
                &:last-of-type {
                    .grid-line__row {
                        // we need one fewer rows than the number of ticks,
                        // so hide the topmost row
                        display: none;
                    }
                }
            }
        }
    }
}