.category-buttons {
    @include display(flex);
    width: rem(525);
    margin: auto;
    @include justify-content(space-between);
    @include align-items(center);
    padding: 0 rem(25);
    .category-button {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
        height: rem(30);
        @include button-unstyled;
        border: solid 1px $color-gray-light;
        border-radius: 3px;
        width: rem(138);
        .circle-icon {
            margin-right: rem(5);
        }
        &.category-button_filtered, &:disabled {
            opacity: 0.7;
        }
    }
}
