.dashboard-graph-section {
    @import './axis';
    &.dashboard-graph-section_active {
        @import './categoryButtons';
        .dashboard-graph {
            margin-top: rem(50);
        }
        .axis-labels {
            .x-axis:first-child {
                display: none;
            }
            .x-axis:last-child {
                display: none;
            }
        }
    }
    .warnings-info-graph__tooltip {
        font-family: $font-sans;
        $color-tooltip-border: $color-gray-lighter;
        opacity: 100;
        background-color: $color-white;
        border: solid rem(1) $color-tooltip-border;
        padding: rem(15);
        color: $color-gray;
        box-shadow: 0 2px 30px 0 rgba(0,0,0,0.19);
        .tooltip__title {
            font-size: rem(18);
            font-weight: $font-semibold;
        }
        hr {
            margin-bottom: rem(10);
            margin-top: rem(4);
        }
        .tooltip__body {
            font-size: rem(16);
            line-height: rem(20);
            table {
                width: 100%;
                tr {
                    height: rem(26);
                    th {
                        font-weight: $font-normal;
                        padding-right: rem(15);
                    }
                    td {
                        color: $color-primary;
                        font-weight: $font-semibold;
                        text-align: right;
                    }
                }
            }
        }
        // inherit from the standard tooltip arrow style
        @import "components/tooltip/_arrow";
        .tooltip-pointer {
            // override the coloring
            &:after {
                background: $color-white;
            }
        }
    }

    .results-table-content {
        .title, .description, .loading-message {
            font-size: rem(30);
        }
        .results-table-error {
            margin-top: rem(202);
            margin-bottom: rem(201);
            max-width: none;
        }
        .results-table-no-results {
            .no-results-icon {
                svg {
                    color: $color-primary;
                }
            }
            margin-top: rem(202);
            margin-bottom: rem(201);
            max-width: none;
        }
        .results-table-loading {
            .loading-animation {
                svg.loading-bars {
                    rect {
                        fill: $color-primary;
                    }
                }
            }
            margin-top: rem(235);
            margin-bottom: rem(235);
            max-width: none;
        }
    }

    .bar-graph {
        // prevent cutting off the topmost y-axis label
        overflow: visible;
        .bar-graph__axis-label {
            font-size: rem(18);
            color: $color-gray;
        }
        .significance-rules {
            .rule-circle {
                .rule-circle__text {
                    font-weight: $font-semibold;
                }
            }
        }
    }
}
