.dashboard-graph-section {
    @import './axis';
    &.dashboard-graph-section_active {
        @import './categoryButtons';
        .dashboard-graph {
            margin-top: rem(50);
        }
        .axis-labels {
            .x-axis:first-child {
                display: none;
            }
            .x-axis:last-child {
                display: none;
            }
        }
    }
    .warnings-info-graph__tooltip {
        font-family: $font-sans;
        $color-tooltip-border: $color-gray-lighter;
        opacity: 100;
        background-color: $color-white;
        border: solid rem(1) $color-tooltip-border;
        color: $color-gray;
        padding: 0;
        box-shadow: 0 2px 30px 0 rgba(0,0,0,0.19);
        &.historic {
            width: rem(340);
        }
        .tooltip__title {
            font-size: rem(18);
            font-weight: $font-semibold;
            padding: rem(15);
            padding-bottom: rem(4);
            &.historic {
                background-color: $color-gray-lighter;
                padding: rem(10) rem(20);
                font-weight: $font-bold;
            }
        }
        hr {
            margin: 0 rem(12.5);
            border-top: solid rem(1) $color-gray-lighter;
        }
        .tooltip__body {
            font-size: rem(16);
            line-height: rem(20);
            padding: rem(15);
            padding-top: rem(10);
            &.historic {
                padding: rem(12) rem(20);
                padding-top: rem(10);
            }
            table {
                width: 100%;
                tr {
                    height: rem(26);
                    th {
                        font-weight: $font-normal;
                        padding-right: rem(15);
                    }
                    td {
                        font-weight: $font-semibold;
                        text-align: right;
                    }
                }

                &.tooltip__historic-dashboard-table {
                    tr {
                        font-size: rem(14);
                        &:nth-child(even) {
                            background-color: $color-gray-lightest;
                        }
                        &.last-row {
                            border-top: solid 1px $color-gray-light;
                            background-color: $color-white;
                            td {
                                padding-left: rem(15);
                                padding-top: rem(5);
                            }
                            &.no-border {
                                border-top: none;
                                padding-top: 0;
                            }
                        }
                        &.highlighted {
                            background-color: $color-gray-lighter;
                        }
                        th {
                            text-align: right;
                            font-weight: $font-semibold;
                            padding: 0 rem(10);
                        }
                        td  {
                            font-weight: $font-normal;
                            padding: 0 rem(10);
                            &.highlighted {
                                font-weight: $font-semibold;
                            }
                            & svg {
                                height: rem(12);
                                width: rem(12);
                                margin-right: rem(5);
                                margin-bottom: rem(1);
                            }
                        }
                        .text-left {
                            text-align: left;
                            width: 40%;
                        }
                    }
                }
            }

        }
        // inherit from the standard tooltip arrow style
        @import "components/tooltip/_arrow";
        .tooltip-pointer {
            // override the coloring
            &:after {
                background: $color-white;
            }

            &.historic {
                // override the coloring
                &:after {
                    background: $color-gray-lighter;
                }
            }
        }
    }

    @import '../../../components/messages/messages';

    .bar-graph {
        // prevent cutting off the topmost y-axis label
        overflow: visible;
        .bar-graph__axis-label {
            font-size: rem(18);
            color: $color-gray;
        }
        .significance-rules {
            .rule-circle {
                .rule-circle__text {
                    font-weight: $font-semibold;
                }
            }
        }
    }
}
