.warnings-info {
    @import './axis';

    .results-table-error {
        .icon {
            color: #d9534f !important;
        }
        .title, .description {
            font-size: rem(30) !important;
        }
        margin-top: rem(179);
        margin-bottom: rem(179);
    }

    .results-table-no-results{
        .title, .description {
            font-size: rem(30) !important;
        }
        margin-top: rem(202);
        margin-bottom: rem(201);
    }

    .results-table-loading{
        margin-top: rem(235);
        margin-bottom: rem(235);
    }
}