// this is the second header bar, below the black user bar
// it contains the logo and the nav menu
@mixin headerMenuBar {
	.usa-da-header-navbar {
        display: table;
    }
    .usa-da-header-links {
        padding-right: 0;

        @media(max-width: $medium-screen) {
            padding: 0;
        }
    }
    .usa-da-header-brand,
    .usa-da-header-brand:hover,
    .usa-da-header-brand:visited {
        font-size: 2.5rem;
        line-height: ($header-height - $top-header-height);
        font-weight: $font-light;
        height: ($header-height - $top-header-height);
        color: $color-white;
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        margin: 0;

        @media(max-width: $medium-screen) {
            line-height: 6rem;
            height: 6rem;
        }
    }
    #usa-da-header-link-holder {
        height: 100%;
        line-height: ($header-height - $top-header-height);
        font-size: 15px;
        font-weight: $font-normal;
        & li {
            height: 100%;
            display: table;
            margin: 0;
            border-left: 1px solid #3b4452;
            &:before, &:after {
                padding: 0;
                display: none;
            }
            &:last-child {
                border-right: 1px solid #3b4452;
            }
        }
    }
    #usa-da-header-link-holder > li > a, #usa-da-header-link-holder > li > button {
        border: none;
        background-color: $color-gray-dark;
        color: $color-white;
        height: ($header-height - $top-header-height);
        display: table-cell;
        vertical-align: middle;
        padding: 1.5rem 2.0rem;
        font-size: 1.4rem;
        &:hover {
            background-color: $color-gray;
        }
        &.disabled {
            cursor: default;
            color: #71747c;
            & .comingSoon {
                text-align: center;
                font-size: 1.3rem;
                background: url('../graphics/coming_soon_ribbon.png');
                height: 61px;
                width: 91px;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 9999;
            }
            & .permissionsRequired {
                text-align: center;
                font-size: 1.3rem;
                background: url('../graphics/permissions_ribbon.png');
                height: 65px;
                width: 106px;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 9999;
            }
            &:hover {
                background-color: $color-gray-dark;
            }
        }
    }
    #usa-da-header-link-holder > li.active > * {
        background-color: $color-darkest;
        color: $color-gold-lighter;
    }
    #usa-da-header-link-holder > li > .usa-da-user-info {
        background-color: $color-gray-dark;
        color: $color-primary-alt-light;
    }
    #usa-da-header-link-holder > li > .header-dropdown {
        @extend .dropdown-menu;
        display: block;
        border-radius: 0;
        background-color: $color-gray-dark;
        border: 1px solid #3b4452;
        li {
            border: none;
            width: 100%;
            &::before {
                display: none;
            }
            a {
                color: $color-primary-alt;
                vertical-align: middle;
                padding: 1.5rem 1.0rem;
                font-size: 1.4rem;
                &:hover {
                    background-color: $color-darkest;
                    color: $color-primary-alt;
                }
            }
        }
    }
}