@mixin headerUserMenu {
	ul.usa-da-top-head-menu {
        list-style: none;
        padding: 0;
        display: block;
        float: right;
        height: $top-header-height;
        margin-top: 0;
    }
    li.usa-da-top-head-menu-item {
        list-style: none;
        font-size: 1.2rem;
        display: inline-block;
        padding-left: 25px;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        & a:hover,
        & a:active,
        & a:focus {
            color: $color-gray-light;
            text-decoration: none;
            & .usa-da-icon-user,
            & .usa-da-icon-cog {
                fill: $color-gray-light;
            }
        }
        &:before {
            content: '';
        }
        & a {
            color: $color-cool-blue-lightest;
            & .usa-da-icon-user,
            & .usa-da-icon-cog {
                height: 14px;
                width: 15px;
                position: relative;
                top: 3px;
                left: -5px;
                fill: $color-cool-blue-lightest;
            }
            & .usa-da-icon-cog {
                height: 15px;
                width: 15px;
                left: -4px;
            }
        }
        & .header-dropdown {
            background: $color-base;
            position: absolute;
            z-index: 999999;
            min-width: 100px;
            max-width: 200px;
            & li {
                float: left;
                padding: 0 10px;
                & a {
                    color: $color-white;
                    font-size: 1.2rem;
                }
                &::before {
                    display: none;
                }
            }
        }
    }
}