@mixin headerUserMenu {
    ul.usa-da-top-head-menu {
        list-style: none;
        padding: 0;
        display: block;
        float: right;
        height: $top-header-height;
        margin: 0;
    }
    li.usa-da-top-head-menu-item {
        list-style: none;
        font-size: 1.2rem;
        display: inline-block;
        padding-left: 2.5rem;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        color: $color-cool-blue-lightest;

        button {
            background-color: transparent;
            border: none;
            outline: none;
        }
        & button:hover,
        & button:active,
        & button:focus {
            color: $color-gray-light;
            text-decoration: none;
        }
        &:before {
            content: '';
        }
        svg {
            margin-right: 1rem;
            height: 15px;
            width: 15px;
        }
        & .header-dropdown {
            background: $color-base;
            position: absolute;
            z-index: 999;
            margin-top: 0;

            & li {
                display: list-item;
                margin: .5rem;

                & button {
                    color: $color-white;
                    font-size: 1.4rem;
                }
                &::before {
                    display: none;
                }
            }
        }
    }
}
