@import "../../../components/alerts/_alerts";

// this is the warning banner at the top of the page
@mixin headerWarningBanner {	
    .usa-da-header-warning-banner {
        @include baseAlert;
        @include alert-variant($alert-warning-bg, $alert-warning-border, black);

        margin: 0 !important;
        padding-left: rem(15);
        height: $warning-banner-height;
        width: 100%;

        div, p {
            display: inline-block;
        }

        .usa-da-icon {
            font-size: rem(30);
            svg {
                color: $color-gold-dark;
            }
        }

        p {
            padding: calc(#{$warning-banner-height} / 5);
            margin: 0;
            vertical-align: middle;
        }
    }
}