@import "./_userBar";
@import "./_menuBar";
@import "./_titleBar";
@import "./_warningBanner";

@mixin defaultHeader {
    .usa-da-header {
        background-color: $color-gray-dark;
        border: none;
        height: fit-content;
        border-radius: 0;
        margin-bottom: 0;

        @include headerUserBar;
        @include headerWarningBanner;
    }

    .usa-da-header-container {
        height: 100%;
        @include display(flex);
        @include justify-content(space-between);
        @include headerMenuBar;

        &:before {
            content: none;
        }

        &:after {
            content: none;
        }

        @media(max-width: $medium-screen) {
            @include flex-direction(column);
        }
    }

    .usa-da-content-dark {
        @include headerTitleBar;
    }

    .usa-da-content-teal {
        @include headerTitleBar;
        background-color: #13646C;
    }
}