$grid-margins:      3rem;
$header-height:		11rem;
$top-header-height:	3.1rem;
$text-max-width:    53rem;
$site-max-width:    90%;
$site-margins:      3rem;
$article-max-width: 600px;
$input-max-width:   46rem;