// Magic Numbers
$border-radius:     rem(3px);
$button-border-radius: 0;
$box-shadow:        0 0 2px rgba(#000, .3);
$focus-shadow:      0 0 3px $color-focus, 0 0 7px $color-focus;
$button-stroke:		inset 0 0 0 2px;