// Typography
$em-base:             10px;

$base-font-size:      1.4rem;
$small-font-size:     1.4rem;
$smallest-font-size:  1.1rem;
$lead-font-size:      2.0rem;
$title-font-size:     5.2rem;

$h1-font-size:        4.5rem;
$h2-font-size:        3.0rem;
$h3-font-size:        2.0rem;
$h4-font-size:        1.7rem;
$h5-font-size:        1.5rem;
$h6-font-size:        1.3rem;
$base-line-height:    2.4rem;
$heading-line-height: 1.3;
$lead-line-height:    1.7;

$font-sans:           'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font-serif:          'Merriweather', 'Georgia', 'Times New Roman', serif;

$font-light:		  200;
$font-normal:         400;
$font-semibold:       600;
$font-bold:           700;

html {
    font-size: $em-base;
}

body {
    font-size: $base-font-size;
    margin: 0;
    line-height: 1.428571429;
    color: #333;
}

p {
    margin: 0 0 10px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}