.usa-da-landing-modal {
   @import "../../../layouts/modal/modal";
    @include modalLayout;
    .usa-da-landing-modal-close {
        @include modalClose;
    }
    
    h6 {
        margin-bottom: 3.0rem;
    }
    ul,
    li {
        font-size: $small-font-size;
        color: #525252;
    }
    ul {
        margin-top: 1.5rem;
        margin-bottom: 3.5rem;
        margin-left: 0;
    }
    .usa-da-review-data-user-row {
        height: 41px;
        margin: 1rem 0 1rem;
        padding: 0.5rem 0 0.5em;
        border: 1px solid #cacaca;
        color: #696969;
        .usa-da-icon,
        .usa-da-icon * {
            height: 20px;
            cursor: pointer;
            margin: 0.25rem;
            color: #696969;
        }
        span {
            vertical-align: super;
        }
    }

    // implement warning styles
    .alert-warning {
    	@import "../../../components/alerts/_alerts";
    	@include warningAlert;
    }
}