// helper positioning classes
/*****  RELATIVELY POSITION ELEMENTS *****/
.pos-rel{position:relative}

/***** GLOBAL MARGIN AND PADDING *****/
.pad-10{padding: 10px;}
.pad-15{padding: 15px;}
.pr-10 {padding-right:10px;}
.pr-20 {padding-right:20px;}

.mt-0 	{margin-top: 0}
.mt-5 	{margin-top: 5px}
.mt-10	{margin-top: 10px}
.mt-15 	{margin-top: 15px}
.mt-20	{margin-top: 20px}
.mt-25	{margin-top: 25px}
.mt-30	{margin-top: 30px}
.mt-35	{margin-top: 35px}
.mt-40	{margin-top: 40px}
.mt-45	{margin-top: 45px}
.mt-50	{margin-top: 50px}
.mt-55	{margin-top: 55px}
.mt-60	{margin-top: 60px}

.mr-0 	{margin-right: 0}
.mr-5 	{margin-right: 5px}
.mr-10	{margin-right: 10px}
.mr-15 	{margin-right: 15px}
.mr-20	{margin-right: 20px}
.mr-25	{margin-right: 25px}
.mr-30	{margin-right: 30px}
.mr-35	{margin-right: 35px}
.mr-40	{margin-right: 40px}
.mr-45	{margin-right: 45px}
.mr-50	{margin-right: 50px}
.mr-55	{margin-right: 55px}
.mr-60	{margin-right: 60px}

.mb-0 	{margin-bottom: 0}
.mb-5 	{margin-bottom: 5px}
.mb-10	{margin-bottom: 10px}
.mb-15 	{margin-bottom: 15px}
.mb-20	{margin-bottom: 20px}
.mb-25	{margin-bottom: 25px}
.mb-30	{margin-bottom: 30px}
.mb-35	{margin-bottom: 35px}
.mb-40	{margin-bottom: 40px}
.mb-45	{margin-bottom: 45px}
.mb-50	{margin-bottom: 50px}
.mb-55	{margin-bottom: 55px}
.mb-60	{margin-bottom: 60px}