.dashboard-page-active {
    .tabs {
        .tabs__content {
            @include justify-content(flex-start);
        }
    }
    .dashboard-page__content{
        margin-top: 0;
        &.dashboard-page__content_below {
            margin-top: rem(40);
        }

        h2 {
            img {
                height: 5rem;
                margin-right: 1.5rem;
            }
        }
        hr {
            margin-left: 2rem;
            width: 90%;
            border-top: solid 0.2rem #9eb5cf;
            float: left; // for IE
        }


        .results-table-loading {
            .loading-animation {
                svg.loading-bars {
                    rect {
                        fill: $color-primary;
                    }
                }
            }
        }

        .dashboard-page__submission-overview {
            .results-table-loading {
                padding-top: 6rem;
                padding-bottom: 6rem;
            }
            .results-table-error {
                padding-top: 5.4rem;
                padding-bottom: 5.4rem;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .submission-overview-details {
            padding-left: 5.8rem;
            padding-bottom: 4.8rem;

            h3 {
                margin-bottom: 1rem;
                font-size: 2.7rem;
                font-weight: bold;
                color: $font-color;
                text-transform: capitalize;
            }
            .flex-wrapper {
                @include flex-direction(row);
                @include display(flex);

                .overview-section {
                    flex: 1 1 25%;
                    font-size: 1.6rem;

                    h4 {
                        margin-top: 0;
                        margin-bottom: 1rem;
                        font-size: 1.4rem;
                        font-weight: normal;
                    }
                }
            }
        }

        @import './impacts/_impacts.scss';
    }
}
