.dashboard-choose-filters-flex {
    height: 100%;
    display: flex;
    //display: -ms-flex;
    //display: -webkit-flex;

    .dashboard-choose-filters {
        width: 100%;
        margin: rem(50) rem(100);
        padding-top: rem(225);
        border: solid rem(2) $color-gray-light;
        border-radius: rem(5);
        background-color: $color-gray-lighter;
        text-align: center;
        color: $color-gray;

        .dashboard-choose-filters__arrow {
            font-size: rem(46);
        }

        .dashboard-choose-filters__message {
            font-size: rem(25);
        }
    }
}