.dashboard-viz {
    padding: rem(20);
    &.no-top-pad {
        padding-top: 0;
    }
    h3.dashboard-viz__heading {
        font-size: rem(24);
        font-weight: $font-semibold;
        line-height: rem(31);
        border-bottom: solid 1px $color-gray-light;
        max-width: rem(379);
        padding-bottom: rem(5);
        margin: rem(10) 0 rem(3);
        clear: both; // for IE
    }
    h4.dashboard-viz__heading {
        font-size: $h3-font-size;
        font-weight: $font-normal;
        margin: 0 0 rem(3);
        clear: both; // for IE
    }
}
