.dashboard-filters-wrapper {
    .dashboard-filters {
        background-color: $color-gray;
        padding: rem(10);
        border: solid rem(1) $color-white;
        border-bottom: 0;
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-between);
        .dashboard-filters__label {
            @include display(flex);
            @include flex(0 0 auto);
            @include align-items(center);
            color: $color-white;
            .filter-icon {
                height: rem(14);
                width: rem(20);
                padding-right: rem(6);
                .usa-da-icon-filter {
                    height: rem(14);
                    width: rem(14);
                    fill: $color-white;
                }
            }
        }
        .dashboard-filters__filter {
            @include display(flex);
            @include flex(0 0 auto);
            &.dashboard-filters__filter_agency {
                @import '../../components/typeahead/_typeahead';
                // override dropdown width
                .typeahead-holder {
                    .awesomplete ul {
                        width: 35%;
                    }
                }
            }
            @import './_textFilter';
        }
        .dashboard-filters__submit-content {
            @include display(flex);
            .dashboard-filters__reset {
                @include display(flex);
                @include flex(0 0 auto);
                border: 0;
                color: $color-white;
                background-color: transparent;
            }
            .dashboard-filters__submit {
                @include display(flex);
                @include flex(0 0 auto);
                border: 0;
                border-radius: rem(5);
                padding: rem(5) rem(15);
            }
        }
    }
    @import "./_filterBar";
}
