.dashboard-filters {
    background-color: $color-gray;
    padding: rem(10);
    border: solid rem(1) $color-white;
    border-bottom: 0;
    @include display(flex);
    @include align-items(baseline);
    @include justify-content(space-between);
    .dashboard-filters__label {
        @include display(flex);
        @include flex(0 0 auto);
        @include align-items(center);
        padding-right: rem(15);
        color: $color-white;
        .filter-icon {
            height: rem(14);
            width: rem(20);
            padding-right: rem(6);
            .usa-da-icon-filter {
                height: rem(14);
                width: rem(14);
                fill: $color-white;
            }
        }
    }
    .dashboard-filters__filter {
        @include display(flex);
        @include flex(0 0 auto);
        @import './_textFilter';
        padding-right: rem(10);

        &.dashboard-filters__filter_agency {
            @import '../../components/typeahead/_typeahead';
            // override typeahead styles
            .typeahead-holder {
                .usa-da-typeahead {
                    margin: 0;
                    .awesomplete {
                        margin: 0;
                        input {
                            margin: 0;
                            padding: rem(5) rem(10);
                            border-radius: rem(5);
                        }
                        ul {
                            width: 35%;
                        }
                    }
                    .alert-error {
                        @include display(flex);
                        @include align-items(center);
                        margin-bottom: 0;
                        border: 0;
                        padding: 0;
                        .error-icon {
                            padding-right: rem(5);
                            svg {
                                height: rem(20);
                                width: rem(20);
                            }
                        }
                        .alert-header-text {
                            font-size: $small-font-size;
                            width: auto;
                            color: $color-white;
                        }
                        p {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .dashboard-filters__submit-content {
        @include display(flex);
        .dashboard-filters__reset {
            @include display(flex);
            @include flex(0 0 auto);
            border: 0;
            color: $color-white;
            background-color: transparent;
            margin-right: rem(10);
        }
        .dashboard-filters__submit {
            @include display(flex);
            @include flex(0 0 auto);
            border: 0;
            padding: rem(10) rem(20);
            background-color: $color-primary;
            font-weight: $font-bold;
            &:hover {
                background-color: $color-primary-darker;
            }
            &:disabled {
                background-color: $color-gray-lighter;
                color: $color-gray;
                cursor: not-allowed;
                opacity: 0.65;
            }
        }
    }
}
