.select-submission-table {
    h2.dashboard-viz__heading {
        border-bottom: 0;
        font-size: rem(25);
        padding: 0;
    }
    .dashboard-table {
        .select-submission-table__button {
            @include button-link;
        }
        th {
            padding: rem(16) rem(10);
        }
        td {
            padding: rem(20) rem(12);
        }
    }
}
