.select-submission-table {
    h2.dashboard-viz__heading {
        border-bottom: 0;
        font-size: rem(25);
        padding: 0;
    }
    @import '../../components/tables/brokerTable';
    @include brokerTable;
    table.broker-table {
        .select-submission-table__button {
            @include button-link;
        }
    }
}
