.usa-da-formatted-table {
    @import "../../components/tables/_submissionTable";
    @include submissionTable;

    .usa-da-recent-activity-link {
        @import "../../components/tables/_submissionTableLink";
        @include submissionTableLink;

        .date-link {
            white-space: pre;
        }

        .usa-da-icon-eye {
            margin-right: 0px;
        }
    }

    .white-space {
        white-space: pre;
    }

    @import "../../components/tables/_submissionTableProgress";

}

.submission-table-content {
    &.loading {
        opacity: 0.3;
    }
}


.paginator-wrap {
    @import "../../components/tables/_submissionPaginator";
}