.usa-da-dashboard-page {
    @import '../../layouts/content/content';
    @import '../../components/tooltip/warningTooltip';
    @include contentLayout;
    .display-2 {
        padding-top: rem(24);
    }

    // styling any site banners
    .internal-banner {
        @import '../../layouts/login/_topBanner';
        @include loginTopBanner;
    }
    @import './dashboardTabs';
    .dashboard-page {
        padding: rem(30);
        .dashboard-page__wrapper {
            @include flex-direction(row);
            @include display(flex);
            width: 100%;
            @media(max-width: $small-screen) {
                display: block;
                .dashboard-page__filters {
                    margin-top: 0;
                    width: 100%;
                    margin-right: 0;
                }
                .dashboard-page__content {
                    margin-left: 0;
                    margin-top: rem(15);
                }
            }
            .dashboard-page-active {
                width: 100%;
            }
        }
        .dashboard-page__filters {
            @include display(flex);
            @include flex(0 0 auto);
            width: rem(260);
            background-color: $color-white;
            margin-right: rem(15);
            margin-top: rem(50);
            border-radius: rem(5);
            border: solid rem(1) $color-gray-lighter;
            @import './filterSidebar';
        }
        .dashboard-page__content {
            background-color: $color-white;
            @include flex(1 1 auto);
            min-width: 0;
            margin-top: rem(50);
            margin-left: rem(15);
            border-radius: rem(5);
            border: solid rem(1) $color-gray-lighter;
            h2 {
                padding: rem(10) rem(20) rem(3);
                font-size: $h2-font-size;
                margin: 0;
                line-height: rem(38);
            }
            hr {
                border-top: solid rem(1) $color-gray-lighter;
                margin-top: 0;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: rem(26);
            }
            button {
                &.back-button {
                    @include button-unstyled;
                    margin: 1.5rem 1rem;
                    padding-right: 0.5rem;

                    .button-wrapper {
                        @include display(flex);
                        @include justify-content(space-between);
                        @include align-items(center);

                        .button-content {
                            @include flex(1 1 auto);
                            position: relative;
                            font-size: $h4-font-size;
                        }

                        .button-icon {
                            @include flex(0 0 3.6rem);
                            @include display(flex);
                            @include align-items(center);
                            color: $color-primary;
                        }

                        & svg {
                            @include flex(1 1 auto);
                            position: relative;
                            height: 3.5rem;
                            width: 3.6rem;
                        }
                    }
                }
            }
            @import './dashboardMessage';
            @import './dashboardViz';
            @import './graph/dashboardGraph';
            @import './table/summary.scss';
            @import './table/dashboardTable';
            @import './selectSubmissionTable';
        }
        .dashboard-page-active {
            .dashboard-page__content{
                margin-top: 0;
                &.dashboard-page__content_below {
                    margin-top: rem(40);
                }

                h2 {
                    img {
                        height: 5rem;
                        margin-right: 1.5rem;
                    }
                }
                hr {
                    margin-left: 2rem;
                    width: 90%;
                    border-top: solid 0.2rem #9eb5cf;
                    float: left; // for IE
                }

                .submission-overview-details {
                    padding-left: 5.8rem;
                    padding-bottom: 4.8rem;

                    h3 {
                        margin-bottom: 1rem;
                        font-size: 2.7rem;
                        font-weight: bold;
                        color: $font-color;
                        text-transform: capitalize;
                    }
                    .flex-wrapper {
                        @include flex-direction(row);
                        @include display(flex);

                        .overview-section {
                            flex: 1 1 25%;
                            font-size: 1.6rem;

                            h4 {
                                margin-top: 0;
                                margin-bottom: 1rem;
                                font-size: 1.4rem;
                                font-weight: normal;
                            }
                        }
                    }
                }

                @import './impacts/_impacts.scss';
            }
        }
    }
}
