.usa-da-dashboard-page {
    @import '../../layouts/content/content';
    @import '../../components/tooltip/warningTooltip';
    @include contentLayout;
    .display-2 {
        padding-top: rem(24);
    }
    @import "./dashboardTabs";
    .dashboard-page {
        padding: rem(30);
        @include display(flex);
        .dashboard-page__filters {
            @include display(flex);
            @include flex(0 0 auto);
            width: rem(260);
            background-color: $color-white;
            margin-right: rem(15);
            border-radius: rem(5);
            border: solid rem(1) $color-gray-lighter;
            @import "./filterSidebar";
        }
        .dashboard-page__content {
            background-color: $color-white;
            @include flex(1 1 auto);
            margin-left: rem(15);
            border-radius: rem(5);
            border: solid rem(1) $color-gray-lighter;
            h2 {
                padding: rem(10) rem(20) rem(3);
                font-size: $h2-font-size;
                margin: 0;
                line-height: rem(38);
            }
            h3 {
                margin: rem(10) 0 rem(3);
                font-size: rem(24);
                line-height: rem(31);
                font-weight: $font-semibold;
                border-bottom: solid rem(1) #979797;
                width: rem(379);
            }
            hr {
                border-top: solid rem(1) $color-gray-lighter;
                margin-top: 0;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: rem(26);
            }
            .dashboard-page__visualizations{
                padding: rem(20);
            }
            @import "./chooseFilters";
            @import './dashboardViz';
            @import './graph/warningsInfoGraph';
            @import "./visualizations/summary.scss";
        }
        @media(max-width: $small-screen) {
            display: block;
            .dashboard-page__filters {
                width: 100%;
                margin-right: 0;
            }
            .dashboard-page__content {
                margin-left: 0;
                margin-top: rem(15);
            }
        }
    }
}
