.usa-da-dashboard-page {
	@import "../../layouts/content/content";
	@include contentLayout;

    .table-title {
        font-size: 3.0rem;
        font-weight: 200;
        line-height: 1;
    }

    .trash-icon{
		cursor: pointer;
	}

	.trash-link:hover{
        text-decoration: none;
        cursor: pointer;
    }

    .published-submission-warning-banner {
        @import "../../layouts/login/_topBanner";
        @include loginTopBanner;
    }

    @import "./_table";
}