ul.usa-da-submission-bottom-links {
    border-top: 1px solid #ccc;
    width: 80%;
    margin: 0 auto;
    &.no-bullet{
        list-style-type: none;
        padding: 0 9%;
        & li{
            margin: 0!important;
            &:before{
                display: none;
            }
        }
    }

    & li {
        float: left;
        font-size: 1.1rem;
        line-height: 1.8rem;
        margin: 0.5rem 0 0;
        padding: 0.3rem 0 0 0;
        &:first-child {
            padding: 0.3rem 1.5rem 0 0.5rem;
        }
        & .usa-da-icon {
            & svg {
                fill: $color-gray-light;
                height: 2.0rem;
                width: 2.0rem;
                padding: 0 0.4rem 0 0;
                top: 5px;
                position: relative;
            }
        }
    }
}