.usa-da-submission-info {
    margin: 0 auto;
    margin-top: rem(20);
    width: 100%;
    
    font-size: 1.2rem;

    .row {
        margin: 0 0 rem(5) 0;
        position: relative;

        .left-col {
            text-align: right;
            padding-right: rem(5);
        }

        .data {
            font-weight: $font-semibold;
            padding-left: rem(5);
        }
    }
}