.usa-da-file-wrap {
    @import "../../../components/buttons/_primary";

    position: relative;
    background: #fff url('/graphics/large_file_icon.png') no-repeat;
    width: 24.0rem;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    & .usa-da-icon-check-circle {
        width: rem(90);
        margin: 0 auto;
        & svg {
            margin: 20px 0 0;
            height: rem(90);
            width: rem(90);
            position: relative;
            top: 5px;
            color: $color-green-light;
        }
    }
    &:after {
        content: "";
        height: 237px;
        width: 100%;
        background: transparent;
        display: block;
        position: absolute;
        left: -1px;
        top: 44px;
        box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
    button {
        @include primaryButton;
        margin-top: rem(45);
        font-size: rem(14);
        padding: rem(16);
    }

    @import "./_fileStats";
    @import "./_bottomLinks";

    .revert-submission-alert {
        padding: rem(15);
        &.revert-submission-alert_error {
            @include dangerAlert;
            border: solid 2px $alert-danger-border;
        }
        &.revert-submission-alert_success {
            @include successAlert;
            border: solid 2px $alert-success-border;
        }
    }
}
