.usa-da-file-wrap {
    position: relative;
    width: 24.0rem;
    position: relative;
    border: 1px black solid;
    & .usa-da-icon-check-circle {
        width: rem(90);
        margin: 0 auto;
        & svg {
            margin: 20px 0 0;
            height: rem(90);
            width: rem(90);
            position: relative;
            top: 5px;
            color: $color-green-light;
        }
    }

    @import "./_fileStats";
}
