.usa-da-formatted-table {
	@import "../../../components/tables/_submissionTable";
	@include submissionTable;

    .usa-da-recent-activity-link {
        @import "../../../components/tables/_submissionTableLink";
        @include submissionTableLink;
    }

    .white-space {
    	white-space: pre;
    }

    .trash-icon{
        cursor: pointer;
    }

    .trash-link:hover{
        text-decoration: none;
        cursor: pointer;
    }

    @import "../../../components/tables/_submissionTableProgress";
}