// this is a footer that exists throughout the entire site
.usa-da-page-content {
    min-height: 100%;
    padding-bottom: 55px;
    overflow: auto;
}

.usa-da-footer {
    font-family: $font-sans;
    text-align: center;
    background-color: $color-darkest;
    line-height: 35px;
    color: $color-white;
    position: relative;
    height: 35px;
    margin-top: -35px;
    width: 100%;
}
