.navbar-toggle{
	display: none;
}

.usa-da-gathering-data{
    text-align: center;
    padding: 30px;
}

.hidden-screen-reader {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}