// this file may only include styles involved in wrapping the outer html and body elements
// it may not be used for implement globally shared styles

// import the global components
@import "../components/typography/_global";
@import "../components/lists/_global";
@import "../components/positioning/_global";

html, body {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
	background: $color-background;
    font-family: $font-sans;
}

.usa-da-site_wrap {
	@include display(flex);
	@include flex-direction(column);
	min-height: 100vh;
	padding-bottom: 55px;
}

.site_content {
	@include flex(1);
}

