@mixin validationLastUpdated {
    right: 41px;
    font-size: 1.1rem;
    letter-spacing: 0.031rem;
    color: $color-gray-lightest;
    background: #262B30;
    padding: 4px 10px;
    width: 81.5%;
}