.usa-da-review-data-content-holder {
    padding: 30px 20px;
    margin-bottom: 100px;
    background-color: $color-white;
    @include contentBlockWrapper;

    @import "./leftSide/leftSide";
    @import "./rightSide";
    @import "./narrative/narrative";
    @import './submissionButtons';

    .test-submission-error {
        margin-top: 10px;
    }

    .revert-submission-alert {
        padding: rem(15);
        &.revert-submission-alert_error {
            @include dangerAlert;
            border: solid 2px $alert-danger-border;
        }
        &.revert-submission-alert_success {
            @include successAlert;
            border: solid 2px $alert-success-border;
        }
    }
}
