.usa-da-review-data-content-holder {
    padding: rem(40);
    margin-bottom: 100px;
    background-color: $color-white;
    @include contentBlockWrapper;

    @import "./leftSide/leftSide";
    @import "./rightSide";
    @import "./narrative/narrative";
    @import './submissionButtons';

    h4 {
        font-weight: $font-normal;
        margin: 0;
    }

    h5 {
        font-size: rem(20);
        font-weight: $font-semibold;
        margin-top: rem(30);
        margin-bottom: rem(10);

        .not-bold {
            font-weight: $font-normal;
        }
    }

    hr {
        border-top: 1px dashed $color-gray-lighter;
    }

    .comment-note {
        font-style: italic;
        margin-top: rem(20);
        
        b {
            font-weight: $font-semibold;
        }
    }

    .comments-header {
        @include display(flex);
        @include align-items(baseline);

        font-weight: 600;

        .unsaved-comments {
            @include display(flex);
            @include justify-content(flex-end);

            & svg {
                margin-right: rem(5);
                margin-top: rem(2);
                color: $color-gold-light;
            }
        }
    }
}
