.right-side {
    .row {
        margin: auto 0;
    }
    .usa-da-review-data-alternating-rows {
        color: #555;
        border: 1px solid $color-gray-light;
        > div {
            padding: 14px 0;
        }
        .row {
            padding-left: rem(10);

            .data {
                font-weight: $font-semibold;
            }
        }
        & div.row:nth-child(odd) {
            background-color: $color-gray-lightest;
        }
        @media(max-width:$small-screen) {
            margin: 30px 0 20px;
        }
    }
}

