// .row{ border: 1px solid #ccc}

body{
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
	background: #f5f5f5;
}

.site_wrap{
	@include display(flex);
    @include flex-direction(column);
    min-height: 100vh;
}

.site_content{
@include flex(1);
}


h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
  margin-bottom: $base-line-height;
}

/***** MIXINS *****/
@mixin contentBlockWrapper() {
    background-color: $color-white;
    box-shadow: 0 1px 2px rgba(43,59,93,.29);
}

@mixin alphaMark() {
	    content:"Alpha";
        background: as-alpha($color-green-light, .9);
        padding: 7px 13px 7px 12px;
        margin-left: 8px;
        font-size: 1.2rem;
        font-weight: $font-bold;
        color: $color-white;
        position: relative;
        top: -8px;
        @include border-radius(15px 0px 15px 0px)
}

@mixin border-radius($radius) {
	@include prefixer(border-radius, $radius, webkit moz spec);
}


/* Colors */
$color-darkest: #2C333B;

/* Fonts */
@font-face {
	font-family: "dataact";
	src:url("../fonts/dataact.eot");
	src:url("../fonts/dataact.eot?#iefix") format("embedded-opentype"),
	url("../fonts/dataact.woff") format("woff"),
	url("../fonts/dataact.ttf") format("truetype"),
	url("../fonts/dataact.svg#dataact") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Sizing */
$header-height: 8rem;

/* Classes */
.usa-da-text-white {
	color: white
}

/* Functions */
@function as-alpha($hex-color, $alpha) {
	$-local-red: red(rgba($hex-color, 1));
	$-local-green: green(rgba($hex-color, 1));
	$-local-blue: blue(rgba($hex-color, 1));

	@return rgba($-local-red, $-local-green, $-local-blue,$alpha);
}

/* Icons */
[class^="usa-da-icon-"]:before,
[class*=" usa-da-icon-"]:before {
	font-size: 1em;
	font-family: "dataact" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-webkit-osx-font-smoothing: grayscale;
	padding-left: .4em;
	padding-top: .4em;
	position: absolute;
}

.usa-da-icon-lock:before {
	content: "a";
}
.usa-da-icon-unlock:before {
	content: "b";
}
.usa-da-icon-unlock-alt:before {
	content: "c";
}
.usa-da-icon-user:before {
	content: "d";
}

/* Elements */
.display-1, .display-2, h1, h2, h3, h4, h5 {
	font-family: $font-sans;
	font-weight: 700;
	line-height: 1.3em;
}

.display-1 {
	font-size: 52px;
	margin-bottom: 20px;
}

.display-2 {
	font-size: 44px;
	font-weight: 300;
	margin-bottom: 20px;
}

h1 {
	font-size: 44px;
	margin-top: 60px;
	margin-bottom: 24px;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 13px;
	font-weight: 400;
}

p {
	a, a:hover, a:visited, a:focus {
		color: $color-focus;
	}
}

@mixin list-row($height, $line-height) {
	height: $height;
	line-height: $line-height;
    display: inline-block;
    &:first-child {
        padding-left: 0
    }
    &:last-child {
        border-right: none;
        padding-right: 0;
    }
    &:before {
        display: none;
    }
}


/* Tables */
.usa-da-table-holder {
	margin: 60px auto;
	text-align: center;
}

.usa-da-table {
	width: 100%;

	thead {
		tr {
			background-color: $color-gray-light;
			border: 1px solid $color-gray-light;
		}

		th {
			color: white;
			border: 1px solid $color-gray-light;
			border-right: 1px solid $color-gray-lightest;
		}

		th:last-child {
			border-right: 1px solid $color-gray-light;
		}
	}

	th, td {
		border: 1px solid $color-gray-light;
		padding: 1.0rem 2.0rem;
		color: $color-gray;
	}

	.usa-da-table-sorter {
		.sort-icon {
			color: $color-primary-alt-lightest;
			margin-left: 10px;
			cursor: pointer;
		}
	}
}

/* Header */
.usa-da-header {
	background-color: $color-gray-dark;
	border: none;
	height: $header-height;
	border-radius: 0;
	margin-bottom: 0;

	.usa-da-header-container {
		height: 100%;

		.usa-da-header-navbar {
			height: 100%;
			display: table;
		}

		.usa-da-header-brand, .usa-da-header-brand:hover, .usa-da-header-brand:visited {
			font-size: 2.5rem;
			line-height: $header-height;
			font-weight: $font-light;
			height: $header-height;
			color: $color-white;
			display: table-cell;
			vertical-align: middle;
			padding: 0;
	&:after{
		@include alphaMark;
    }
		}

		#usa-da-header-link-holder {
			padding: 0 12px;
			height: 100%;
			line-height: $header-height;
			font-size: 15px;
			font-weight: $font-normal;

			li {
				height: 100%;
				display: table;
				margin: 0;
				border-left: 1px solid #3b4452;
				&:before {
					padding: 0;
					display: none;
				}
				&:first-child{
					border-left: 1px solid #3b4452;
				}
			}
		}

		#usa-da-header-link-holder > li > a {
			background-color: $color-gray-dark;
			color: $color-white;
			height: $header-height;
			display: table-cell;
			vertical-align: middle;
			padding: 1.5rem 2.0rem;
			font-size: 1.4rem;

			&:hover {
				background-color: $color-gray;
			}

			&.disabled {
				cursor: default;
				color: #71747c;

				& .comingSoon {
					text-align: center;
					font-size: 1.3rem;
					background: url('../graphics/coming_soon_ribbon.png');
					height: 61px;
					width: 92px;
					display: block;
					position: absolute;
					top: 0;
					right: -2px;
					z-index: 9999;
				}
				&:hover {
					background-color: $color-gray-dark;
				}
			}

			&.admin {
				background-color: $color-cool-blue-lighter;
				color: $color-gray-dark;

				&:hover {
					background-color: $color-cool-blue-light;
				}
			}
		}

		#usa-da-header-link-holder > li.active > * {
			background-color: $color-darkest;
			color: $color-gold-lighter;
		}

		#usa-da-header-link-holder > li > .usa-da-user-info {
			background-color: $color-gray-dark;
			color: $color-primary-alt-light;
		}

		#usa-da-header-link-holder > li > .header-dropdown {
			@extend .dropdown-menu;
			display: block;
			border-radius: 0;
			background-color: $color-gray-dark;
			border: 1px solid #3b4452;


			li {
				border: none;
				width: 100%;

				a {
					color: $color-primary-alt;
					vertical-align: middle;
					padding: 1.5rem 1.0rem;
					font-size: 1.4rem;

					&:hover {
						background-color: $color-darkest;
						color: $color-primary-alt;
					}
				}
			}
		}
	}
}

/* Content */
.usa-da-content {
	//@extend .styleguide-content;
	margin: auto 0;
	padding-bottom: 1.5em;
	width: 100%;
	max-width: 100%;
	font-weight: $font-normal;

	h1 {
		font-weight: $font-light;
		margin-top: 0;
	}
}

.usa-da-content-dark {
	color: white;
	background-color: $color-darkest;

	& .row.usa-da-content-landing {
		background: url('../graphics/bar_bg.png') no-repeat bottom right;
		padding-bottom: 20px;
	}
	& .row.usa-da-content-add-data {
		background: url('../graphics/line_bg.png') no-repeat bottom right;
	}
}

.usa-da-content-step-block {
	color: $color-gray-light;
	background-color: $color-gray-cool-light;
	border-bottom: 1px solid $color-white;
}

.usa-da-content-lighter-gray {
	color: $color-base;
	background-color: $color-gray-lighter;
	border-bottom: 1px solid #e5e5e5;
}

.usa-da-page-title {
	& h1 {
		margin-top: 0;
	}
	& p {
		font-size: 1.6rem;
		margin: 0 0 2.6rem 0;
		color: $color-white;
		&:last-child{
			margin-bottom: 0;
		}
	}

	& ul {
		font-size: 1.6rem;
		margin-left: 3rem;
		margin-bottom: 2.6rem;
	}
	& a, p a {
		color: #d6d7d9;
		text-decoration: underline;
		&:hover{
			color: $color-white;
		}
	}
}

.site_content {
	&.pending-page {
		background-color: $color-darkest;
	}
}

/* Progress Bar */
.usa-da-progress-bar {
	margin: 0 auto;
	font-size: 1.3em;
	font-weight: $font-bold;
	padding: 4rem 0;

	/* Progress Tracker v2 */
	.usa-da-progress-bar-holder[data-steps="2"] li { width: 49%; }
	.usa-da-progress-bar-holder[data-steps="3"] li { width: 33%; }
	.usa-da-progress-bar-holder[data-steps="4"] li { width: 24%; }
	.usa-da-progress-bar-holder[data-steps="5"] li { width: 19%; }
	.usa-da-progress-bar-holder[data-steps="6"] li { width: 16%; }
	.usa-da-progress-bar-holder[data-steps="7"] li { width: 14%; }
	.usa-da-progress-bar-holder[data-steps="8"] li { width: 12%; }
	.usa-da-progress-bar-holder[data-steps="9"] li { width: 11%; }

	.usa-da-progress-bar-holder {
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;

		&:last-child {
			font-size: $base-font-size;
			font-family: $font-sans;
		}
	}

	.usa-da-progress-bar-holder li {
		float: left;
		text-align: center;
		position: relative;
		z-index:5;
		margin: 0.5rem 0 0;
		font-size: 1.4rem;

		&::before {
			display: none;
		}

		&::after {
			display: none;
		}
	}

	.usa-da-progress-bar-holder .name {
		display: block;
		vertical-align: bottom;
		text-align: center;
		color: $color-gray-dark;
		opacity: 0.3;
	}

	.usa-da-progress-bar-holder .step {
		color: $color-gray-cool-light;
		background-color: $color-white;
		border-radius: 100%;
		line-height: 1.2;
		width: 2.4em;
		height: 2.4em;
		padding-top: 0.6em;
		display: inline-block;
		z-index: 0;
	}

	.usa-da-progress-bar-holder .step span {
		opacity: 0.3;
	}

	.usa-da-progress-bar-holder .usa-da-progress-bar-step-current .name,
	.usa-da-progress-bar-holder .usa-da-progress-bar-step-current .step span {
		opacity: 1;
	}

	.usa-da-progress-bar-holder .step:before {
		content: "";
		display: block;
		background-color: $color-white;
		height: 0.4em;
		width: 50%;
		position: absolute;
		bottom: 0.9em;
		left: 0;
		z-index: -1;
	}

	.usa-da-progress-bar-holder .step:after {
		content: "";
		display: block;
		background-color: $color-white;
		height: 0.4em;
		width: 50%;
		position: absolute;
		bottom: 0.9em;
		right: 0;
		z-index: -1;
	}

	.usa-da-progress-bar-holder li:first-of-type .step:before {
		display: none;
	}

	.usa-da-progress-bar-holder li:last-of-type .step:after {
		display: none;
	}

	.usa-da-progress-bar-holder .usa-da-progress-bar-step-done .step,
	.usa-da-progress-bar-holder .usa-da-progress-bar-step-current .step {
		border: 1px solid $color-focus;
		background-color: $color-focus;
		color: $color-white;
	}

	.usa-da-progress-bar-holder .usa-da-progress-bar-step-done .step:before,
	.usa-da-progress-bar-holder .usa-da-progress-bar-step-done .step:after,
	.usa-da-progress-bar-holder .usa-da-progress-bar-step-current .step:before {
		background-color: $color-focus;
		z-index: -1;
		bottom: 0.9em;
	}

	.usa-da-progress-bar-holder .usa-da-progress-bar-step-done .step,
	.usa-da-progress-bar-holder .usa-da-progress-bar-step-current .step {
		border: 1px solid $color-focus;
	}
}

/* Footer */
.usa-da-footer {
	font-family: $font-sans;
	text-align: center;
	background-color: $color-darkest;
	color: $color-white;
	padding: 10px 0;
}


/* Buttons */
.usa-da-button-holder {
	margin: 60px auto;
}

.usa-da-button-big {
	background-color: $color-gray-lightest;
	color: $color-gray;
	width: 100%;
	padding: 2em;
	border: 1px solid $color-gray-lighter;
	cursor: pointer;
	display: inline-block;
	font-family: $font-sans;
	font-size: 2.0rem;
	font-weight: 700;
	line-height: 1;
	outline: none;
	text-align: center;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;

	&:hover {

	}

	&:visited {
		color: $color-gray;
	}

	&.submit {
		background-color: $color-primary;
		color: $color-white;
		border: 0;
		border-radius: 0;
		cursor: pointer;
		font-family: Source Sans Pro,Helvetica,Arial,sans-serif;
		font-weight: 700;
		outline: none;
		text-align: center;
		text-decoration: none;
		width: 100%;
		-webkit-font-smoothing: antialiased;
	}

	&.disabled {
		background-color: $color-gray-light;
		color: $color-gray;
		cursor: default;
		padding-bottom: 2.5rem;

		div {
			font-size: 1.5rem;
		}
	}
}

.usa-da-button-bigger {
	width: 70%;
	padding: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.usa-da-button-biggest {
	width: 100%;
	padding: 3em;

	&.disabled {
		padding-bottom:4.5rem;
	}
}

/* Inputs */

.usa-da-input-container {
	margin-bottom: 20px;
	display: inline-flex;
	position: relative;
	width: 100%;

	.usa-da-input-with-icon {
		padding-left: 2.5em;
	}

	div.usa-da-icon-nobg {
		background-image: inherit !important;
	}
	div.usa-da-icon {
		background-image: url("../graphics/form_bg.png");
		background-repeat:no-repeat;
		background-size:contain;
		background-position:center;
		margin: 0;
		position: absolute;
		left: 0;
		top: 1px;
		height: 42px;
		width: 48px;
		overflow: hidden;
		float: left;
		font-size: 24px;
	}
}



.alert {
    color: #333 !important;
    font-size: 1.4rem;
    border-radius: 0;
    position: relative;

	h3 {
        font-size: 2.4rem;
        font-weight: $font-bold;
        margin: -4px 0 5px 48px;
    }

	h5 {
        margin:10px 0 8px;
    }

	p, ul {
        margin: 5px 0 5px 48px;
    }

	.glyphicon {
        font-size: 3.2rem;
        position: absolute;
        top: 15px;
        left: 15px;
    }
}

.alert-success {
    background: #e7f4e4;
    .glyphicon {
        color: #5cb85c;
    }
}

.alert-info {
    background: #e1f3f8;
    .glyphicon {
        color: #5bc0de;
    }
}

.alert-warning {
    background: #fff1d2;
    .glyphicon {
        color: #f0ad4e;
    }
}

.alert-danger, .alert-error {
    background: #f9dede;
    .glyphicon {
        color: #d9534f;
    }
}

.alert-block{
    border: 1px solid #ccc;
    padding: 15px 15px 0;
}


/***** FORMS *****/
input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea,
select {
	border: 1px solid #cacaca;
	color: #696969;
}

.usa-button,
.usa-button-primary,
.usa-button:visited,
.usa-button-primary:visited,
button,
[type="button"],
[type="submit"],
[type="reset"],
[type="image"] {
 margin-right:0;
}

[type="submit"]:disabled, .usa-button-disabled {
opacity: 0.4;
}



/***** GLOBAL MARGIN AND PADDING *****/
.mt-0 	{  margin-top: 0;  }
.mt-5 	{  margin-top: 5px;  }
.mt-10	{  margin-top: 10px;  }
.mt-15 	{  margin-top: 15px;  }
.mt-20	{  margin-top: 20px;  }
.mt-25	{  margin-top: 25px;  }
.mt-30	{  margin-top: 30px;  }
.mt-35	{  margin-top: 35px;  }
.mt-40	{  margin-top: 40px;  }
.mt-45	{  margin-top: 45px;  }
.mt-50	{  margin-top: 50px;  }
.mt-55	{  margin-top: 55px;  }
.mt-60	{  margin-top: 60px;  }

.mr-0 	{  margin-right: 0;  }
.mr-5 	{  margin-right: 5px;  }
.mr-10	{  margin-right: 10px;  }
.mr-15 	{  margin-right: 15px;  }
.mr-20	{  margin-right: 20px;  }
.mr-25	{  margin-right: 25px;  }
.mr-30	{  margin-right: 30px;  }
.mr-35	{  margin-right: 35px;  }
.mr-40	{  margin-right: 40px;  }
.mr-45	{  margin-right: 45px;  }
.mr-50	{  margin-right: 50px;  }
.mr-55	{  margin-right: 55px;  }
.mr-60	{  margin-right: 60px;  }

.mb-0 	{  margin-bottom: 0;  }
.mb-5 	{  margin-bottom: 5px;  }
.mb-10	{  margin-bottom: 10px;  }
.mb-15 	{  margin-bottom: 15px;  }
.mb-20	{  margin-bottom: 20px;  }
.mb-25	{  margin-bottom: 25px;  }
.mb-30	{  margin-bottom: 30px;  }
.mb-35	{  margin-bottom: 35px;  }
.mb-40	{  margin-bottom: 40px;  }
.mb-45	{  margin-bottom: 45px;  }
.mb-50	{  margin-bottom: 50px;  }
.mb-55	{  margin-bottom: 55px;  }
.mb-60	{  margin-bottom: 60px;  }