@import './common';

// ***** GLOBAL
@import './global/header';
@import './global/footer';

// ***** PAGES
@import './pages/login';
@import './pages/registration';
@import './pages/landing';
@import './pages/addMetaData';
@import './pages/addData';
@import './pages/help';
@import './pages/admin';
@import './pages/submissionGuide';
@import './pages/reviewData';
@import './pages/crossFile';


// ***** COMPONENTS
@import './components/datepicker/datepicker';