.usa-da-help-content{
    @include contentBlockWrapper;
    padding: 20px 30px;
    margin: 0 0 40px;

    // resize the JIRA GIF
    img {
    	max-width: 100%;
    }

	.reactable-th-severity {
		width:150px;
	}

	.reactable-th-rule-name::after {
		content: '\21C5';
	}

	.practices-procedures {
		ul {
			padding-left:40px;
		}

		ul li:before{
			content:none;
		}

		p {
			max-width:110rem;
		}

	}

	.validation-table {
		p {
			max-width:110rem;
		}
	}

}
