.usa-da-help-content{
    @include contentBlockWrapper;
    padding: 20px 30px;
	margin: 0 0 40px;

	.usa-da-help-content__header {
		margin-bottom: 1rem;
	}

	.resources-page-content {
		max-width: 100%;
	}

    // resize the JIRA GIF
    img {
    	max-width: 100%;
    }

	h4 { // Dates
		margin-bottom: 1.2rem;
		font-size: 2.0rem;
		font-weight: bold;
	}

	h5 {
		margin-bottom: 1rem;
		margin-top: 1rem;
		font-size: 1.8rem;
		font-weight: normal;
	}

	h6 {
		font-size: 1.4rem;
		margin-bottom: .5rem;
	}

	p + h6 {
		margin-top: 4rem;
	}

	ul {
        margin-top: 1.5rem;
        margin-bottom: 2.2rem;
        margin-left: 0px;
        ul {
            padding-left: 20px;
            list-style-type: circle;
        }
    }

	.reactable-th-severity {
		width:150px;
	}

	.reactable-th-rule-name::after {
		content: '\21C5';
	}

	.validation-table {
		p {
			max-width:110rem;
		}
	}

}
