.usa-da-help-content{
    @include contentBlockWrapper;
    padding: 20px 30px;
	margin: 0 0 40px;

	.usa-da-help-content__header {
		margin-bottom: 0;
	}
	
	.usa-da-help-content-subheading {
		margin-top: -4rem;
	}

    // resize the JIRA GIF
    img {
    	max-width: 100%;
    }

	// margin updates for changelog
	h4 {
		margin-bottom: 1.6rem;
	}

	h5 {
		margin-bottom: 1rem;
	}

	h6 {
		font-size: 1.4rem;
		margin-bottom: .5rem;
	}

	p + h5, p + h6 {
		margin-top: 4rem;
	}

	ul {
        margin-top: 1.5rem;
        margin-bottom: 3.5rem;
        margin-left: 0px;
        ul {
            padding-left: 20px;
            list-style-type: circle;
        }
    }

	.reactable-th-severity {
		width:150px;
	}

	.reactable-th-rule-name::after {
		content: '\21C5';
	}

	.validation-table {
		p {
			max-width:110rem;
		}
	}

}
