.usa-da-help-sidebar {
    $dark-blue: #0071BC;

    ul {
        margin-top: 0;
    }

    h6 {
        margin-bottom: 1.3rem;
    }
    ul, li {
        list-style-type: none;
    }
    li a {
        font-size: 1.4rem;
    }
    li:before {
        content: "";
        padding-right: 0;
    }

    .usa-da-help-sidebar__signup {
        background-color: white;
        width: 28rem;
        padding: 4rem;
    }

    .usa-da-help-sidebar__sign-up-btn {
        background-color: $dark-blue;
        width: 5rem;
        padding: 1.2rem;
        color: white;
        font-weight: 600;
        text-decoration: none;
    }

    .usa-da-help-sidebar__signup-header {
        text-transform: capitalize;
        font-size: rem(20);
        margin-bottom: rem(10);
        display: inline-block;

    }

    .usa-da-help-sidebar__signup-header_bold {
        font-weight: 600;
    }
}