.usa-da-help-sidebar {
    $dark-blue: #0071BC;
    $light-gray: #CCCCCC;

    ul {
        margin-top: 0;
    }

    h6 {
        margin-bottom: 1.3rem;
    }
    ul, li {
        list-style-type: none;
    }
    li a {
        font-size: 1.4rem;
        text-decoration: none;
    }
    li:before {
        content: "";
        padding-right: 0;
    }

    .usa-da-help-sidebar__signup {
        background-color: white;
        width: rem(260);
        border: 1px solid $light-gray;
    }

    .usa-da-help-sidebar__signup-content {
        padding: rem(30);
        width: rem(230);
        margin: 0 auto;
    }

    .usa-da-help-sidebar__signup-btn {
        background-color: $dark-blue;
        width: rem(50);
        padding: rem(12);
        color: white;
        font-weight: 600;
        text-decoration: none;
    }

    .usa-da-help-sidebar__signup-header {
        text-transform: capitalize;
        font-size: rem(22);
        margin-bottom: rem(10);
        display: inline-block;
    }

    .usa-da-help-sidebar__signup-header_bold {
        font-weight: 600;
    }
}