.help-table {
    @import "../../components/tables/_tableHeaders";
    @include tableHeader;

    @import "../../components/tables/_genericBody";
    @include genericBody;

    table-layout: fixed;
    width: 100%;
    margin-bottom: 2.4rem;

    .col-15 {
        width: 15%;
    }
    .col-25 {
        width: 25%;
    }
    .col-45 {
        width: 45%;
    }
    .col-40 {
        width: 40%;
    }
    .col-12 {
        width: 12%;
    }
    .col-18 {
        width: 18%;
    }
    .col-20 {
        width: 20%;
    }

    .break-word {
        word-wrap: break-word;
    }
}