.usa-da-help-top-button {
    
    position: fixed;
    bottom: 60px;
    right: 40px;
    overflow: hidden;
    @include transition(all 0.5s ease-in-out);
    button {
        @include button-unstyled;
        width: 40px;
        height: 40px;
        display: block;
        background-color: $color-gray-light;
        text-align: center;
        svg.angle-up-icon {
            color: $color-white;
            position: relative;
            top: 10px;
            @include transition(all 0.5s ease-in-out);
        }
        .hidden-label {
            font-size: 0;
        }
        &:hover {
            background-color: $color-primary-alt-dark;
            & svg {
                top: 7px;
            }
        }
    }
}