.usa-da-help-style-page {
	@import "../../layouts/content/content";
	@include contentLayout;

	@import "./_content";
	@import "./_table";

	@import "./_sidebar";

	@import "./_topButton";

	@import "./_topNav";

	@import "./validationTable/_table.scss";

	@import "./_daims.scss";

	.published-submission-warning-banner {
		@import "../../layouts/login/_topBanner";
		@include loginTopBanner;
	}

}