// @import "../../../components/buttons/_base";
@import "../../../components/buttons/_primary";

.usa-da-button {
	@extend %primary-button;

	margin: 0;
    @media screen and (max-width: $small-screen) {
        width: 100%
    }
    &.disabled {
        background-color: $color-gray-light;
        color: $color-gray;
        cursor: default;
    }
}