@mixin fileItemFooter {
    // this is the expand/collapse section
    text-align: center;
    background-color: $color-gray-lightest;
    font-size: 1.2rem;
    color: $color-gray;
    padding: 2px 0;
    height: 36px;
    cursor: pointer;
    bottom: 0;
    width: 100%;
    position: absolute;
    &.usa-da-header-error {
        & .usa-da-icon {
            font-size: rem(19);
            margin-left: rem(9);
            & svg {
                position: relative;
                top: rem(4);
                fill: $color-gray-dark;
            }
        }
        &:hover {
            background: #ececec;
        }
        &.active {
            background: #a3a5aa;
            color: $color-white;
            border: 1px solid #999ba1;
            border-bottom: none;
            & .usa-da-icon {
                & svg {
                    fill: $color-white;
                }
            }
            &:hover {
                background: #93959a;
                color: $color-white;
            }
        }
    }
}