@import "./body/criticalBody";
@import "./body/warningBody";
@import "./body/textBody";
@import "./_icon";
@import "./_footer";
@import "./rightSide/rightSide";
@import "./bottomSide/bottomSide";

@mixin fileItem {
	margin-bottom: 40px;
    position: relative;
    @include contentBlockWrapper;
    
    &.successful {
        opacity: 0.3;
    }

    .usa-da-validate-item-warning {
    	@include fileItemWarningBody;
    }
    .usa-da-validate-item-critical {
    	@include fileItemCriticalBody;
    }
    .usa-da-validate-item-body {
		@include fileItemTextBody;
	}

    .usa-da-validate-icon {
        @include fileItemIcon;
    }

    .usa-da-validate-item-footer-wrap {
        position: relative;
    }
    .usa-da-validate-item-status-section {
		padding-top: rem(20);
        border-right: 1px solid #e4e2e0;
        min-height: 171px;
    }

    .usa-da-validate-item-header {
        @include display(flex);
        @include flex-direction(row);

        border-bottom: 1px solid #e4e2e0;
        min-height: 6.0rem;
        padding: 0 rem(15);

        @media screen and (max-width: $medium-screen) {
            @include flex-direction(column);
        }

        .validate-item-header-half {
            @include display(flex);
            @include flex-direction(column);
            @include flex-grow(1);

            &.right {
                text-align: right;

                @media screen and (max-width: $medium-screen) {
                    text-align: left;
                }
            }

            div {
                @include flex-grow(1);
                padding-bottom: rem(5);

                h4, p {
                    margin: 0;
                    line-height: rem(25);
                    vertical-align: bottom;
                    color: $color-gray;
                }

                h4 {
                    font-weight: $font-light;
                    font-size: rem(24);
                }
            }
        }
    }

    .usa-da-validate-item-footer {
	    @include fileItemFooter;
	}

	.usa-da-validate-item-file-section {
		@include fileItemRightSide;
	}

	.usa-da-validate-item-bottom-section {
		@include fileItemBottomSide;
	}
}
