//bottomOverlay component

.usa-da-validation-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: as-alpha($color-gray-dark, 0.75);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-shadow: 0px 0px 4px rgba(50, 58, 69, 0.4);
    z-index: 999;
    width: 100%;
    color: $color-white;
    & .usa-da-overlay-content-wrap {
        @extend .flex-center-content;
        @include justify-content(flex-start);
        height: 150px;
        @media screen and (max-width: $small-screen) {
            display: block;
            height: auto;
            padding: 20px 0;
        }
    }
    & h6 {
        color: $color-white;
        margin-top:0;
        text-shadow: 0px 0px 4px rgba(50, 58, 69, 0.4);
        @media screen and (max-width: $small-screen) {
            font-size: 1.6rem;
            margin: 10px 0;
            text-align: center;
        }
    }
    & .usa-da-alert-icon {
        & svg {
            fill: $color-white;
            left: 0;
            top: -5px;
            width: 5.5rem;
            height: 5.5rem;
        }
        @media screen and (max-width: $small-screen) {
            top: 15px;
            float: right;
            & svg {
                float: right;
            }
        }
    }
    & svg.usa-da-icon-check-circle,
    & svg.usa-da-icon-exclamation-circle {
        width: 5.5rem;
        height: 5.5rem;
        position: relative;
    }
    & svg.usa-da-icon-check-circle {
        fill: $color-green-light;
    }
    & svg.usa-da-icon-exclamation-circle {
        fill: $color-secondary;
    }
    .usa-da-errorRed,
    .usa-da-successGreen {
        &:after {
            content: " ";
            background: white;
            position: absolute;
            top: 2px;
            left: 17px;
            height: 51px;
            width: 51px;
            z-index: -2;
            border-radius: 100px;
        }
    }
    & .usa-da-validation-overlay-review {
        margin-left: 5px;
    }
    & .usa-da-btn-bg {
        @extend .flex-center-content;
        background: as-alpha($color-base, 0.40);
        height: 150px;
        margin-left: -22px;
        @media screen and (max-width: $medium-screen) {
            display: block;
            margin: 0;
            height: auto;
            padding: 20px 0;
            text-align: center;
        }
    }
    .overlay-help-text {
        & a {
            color: $color-white;
        }
    }
}