.agency-toggle {
    @include display(flex);
    @include align-items(center);
    padding-bottom: rem(15);

    .agency-toggle__text {
        font-size: rem(13);
        padding-right: rem(5);
        @include display(flex);
        @include flex(1 1 auto);
    }

    .agency-toggle__button {
        @include button-unstyled;
        @include display(flex);
        @include justify-content(flex-end);
        @include align-items(center);
        color: $color-base;
        padding: 0 rem(2);

        .agency-toggle__label {
            font-size: rem(12);
            color: #494E58;
            // use a fixed width to deal with the text width difference due to bold vs not bold text
            width: rem(105);

            &.agency-toggle__label_active {
                font-weight: $font-semibold;
                margin: 0;
            }
        }
    }

    .agency-toggle__switch {
        margin: 0 rem(10);
        .agency-switch__track {
            fill: #0074BE;
            box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.31), 0 2px 2px 0 rgba(0,0,0,0.5);
            @include transition(fill 200ms);
        }

        .agency-switch__switch {
            @include transition(transform 200ms);
        }

        .agency-switch__switch-fill {
            fill: $color-white;
        }
    }

    @import "./_agencyToggleTooltip";
}