@import '../../abstract/mixins/buttons';
.fy-picker {
    @include display(flex);
    margin-top: rem(5);

    .fy-picker__header {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);

        .fy-picker__icon {
            @include flex(0 0 rem(30));
            margin-right: rem(25);

            svg {
                width: rem(30);
                height: rem(30);
                fill: $color-white;
            }
        }

        .fy-picker__dropdown-container {
            @include flex(0 1 auto);
            @include align-self(stretch);
            position: relative;
        }

        .fy-picker__button {
            @include button-unstyled;

            @include display(flex);
            @include justify-content(center);
            @include align-items(center);

            border-bottom: 1px solid $color-gray;
        }

        .fy-picker__button-text {
            @include flex(1 1 auto);
            margin-right: rem(15);
            color: $color-gray;
            font-weight: $font-light;
            font-size: rem(30);
            line-height: rem(25);
        }

        .fy-picker__button-icon {
            @include flex(0 0 rem(20));
            svg {
                width: rem(20);
                height: rem(20);
                color: $color-gray;
            }
        }
    }

    .fy-picker__list {
        @import '../../abstract/mixins/utilities';
        @include unstyled-list;

        position: absolute;
        left: 0;
        right: 0;
        border: 1px solid $color-gray-light;
        background-color: $color-white;
        width: 100%;

        z-index: 10;

        &.fy-picker__list_hidden {
            display: none;
        }

        .fy-picker__list-item {
            .fy-picker__list-button {
                border-top: 1px solid $color-gray-light;
            }
            
            &:first-child {
                .fy-picker__list-button {
                    border-top: none;
                }
            }
        }

        .fy-picker__list-button {
            @include button-unstyled;
            color: $color-gray;
            font-size: rem(20);
            text-align: center;
            padding: rem(10) rem(15);
            width: 100%;

            &:hover, &:active {
                background-color: $color-gray-lightest;
            }
        }
    }
}
