@import '../../abstract/mixins/buttons';
@import '../../abstract/mixins/utilities';

.period-picker {
    @include display(flex);
    margin-top: rem(5);
    padding-left: rem(30);

    .period-picker__header {
        @include display(flex);
        @include justify-content(flex-start);
        @include align-items(center);

        .period-picker__icon {
            @include flex(0 0 rem(30));
            margin-right: rem(25);

            svg {
                width: rem(30);
                height: rem(30);
                fill: $color-white;
            }
        }

        .period-picker__dropdown-container {
            @include flex(0 1 auto);
            @include align-self(stretch);
            position: relative;
        }

        .period-picker__button {
            @include button-unstyled;
            @include display(flex);
            @include justify-content(center);
            @include align-items(center);
            padding: rem(3) rem(10);
            background-color: $color-gray-lightest;
            border: rem(1) solid $color-gray;
        }

        .period-picker__button-text {
            @include flex(1 1 auto);
            margin-right: rem(15);
            color: $color-gray;
            font-size: rem(15);
            line-height: rem(25);
        }

        .period-picker__button-icon {
            @include flex(0 0 rem(20));
            svg {
                margin-top: 5px;
                width: rem(20);
                height: rem(20);
                fill: $color-gray;
            }
        }
    }

    .period-picker__list {
        @import '../../abstract/mixins/utilities';
        @import '../../components/tooltip/_dropdownTooltip';
        @include unstyled-list;
        position: absolute;
        left: 0;
        right: 0;
        border: 1px solid $color-gray-light;
        background-color: $color-white;
        width: 100%;
        z-index: 10;

        &.period-picker__list_hidden {
            display: none;
        }

        .period-picker__list-item {
            border-top: 1px solid $color-gray-light;

            &:first-child {
                border-top: none;
            }
        }

        .period-picker__list-button {
            @include button-unstyled;
            color: $color-gray;
            background-color: $color-white;
            font-size: rem(13);
            padding: rem(5);
            width: 100%;

            span.period-picker__quarter {
                font-weight: 700;
                float: right;
            }

            &.period-picker__list-button_active {
                background-color: $color-gray-lightest;
            }

            &:disabled {
                cursor: not-allowed;
                background-color: $color-gray-lightest;
                color:$color-gray-lighter;
            }
        }
    }
}
