@import '../../abstract/mixins/utilities';
.quarter-picker {
    @include display(flex);

    ul.quarter-picker__list {
        @include unstyled-list;

        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
    }

    li.quarter-picker__list-item {
        margin-right: rem(1);
        margin-top: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    button.quarter-picker__quarter {
        @include button-unstyled;
        color: $color-white;
        text-align: center;
        line-height: rem(22);
        font-size: rem(12);
        font-weight: 700;

        background-color: $color-primary-alt-light;

        padding: 0 rem(20);

        &.quarter-picker__quarter_first {
            border-radius: rem(11) 0 0 rem(11);
        }
        &.quarter-picker__quarter_last {
            border-radius: 0 rem(11) rem(11) 0;
        }

        &:hover, &:active, &.quarter-picker__quarter_active {
            background-color:  $color-primary;
        }

        &[disabled] {
            background-color: $color-gray-lightest;
            cursor: not-allowed;
            color: $color-gray-light;
        }
    }
}