@import "./_tableHeaders";
@import "./_genericBody";

@mixin genericTable {
	.usa-da-table-header {
		table {
			margin-bottom: 0px;
			width: 100%;
		}

		@include tableHeader;
	}
	.usa-da-table-content {
		table {
			margin-bottom: 2.4rem;
			width: 100%;
		}

		@include genericBody;
	}
}