@mixin submissionTableLink {
    a {
        display: inline-block;
        min-width: rem(61);
    }
    svg {
        width: 3.5rem;
        height: 2.4rem;
        display: inline-block;
        position: relative;
        top: 5px;
        left: 2px;
        fill: $color-gray;
    }
    
    .test-submission-label {
        font-weight: $font-bold;
        background-color: $color-gold-light;
        padding: 0 rem(8);
        border-radius: rem(2);
    }
}
