@mixin submissionTableLink {
    a {
        display: inline-block;
        min-width: rem(61);
    }
    svg {
        font-size: rem(20);
        display: inline-block;
        position: relative;
        color: $color-gray;

        &.fa-calendar-days {
            font-size: rem(27);
        }
    }
    
    .test-submission-label {
        font-weight: $font-bold;
        background-color: $color-gold-light;
        padding: 0 rem(8);
        border-radius: rem(2);
    }
}
