@import "./_genericTables";
@mixin submissionTable {
    @include genericTable;

    // apply custom styles for the sorters
    th {
        .table-header-value {
            font-size: 1.2rem;
            padding-right: 50px;
        }
        .usa-da-table-sorter {
            width: 40px;
        }
    }

    // apply the custom column widths
    table {
        table-layout: fixed;
        height: 100%;
        min-height: 1px;
        .row-10 {
            width: 10%;
        }
        .row-12_5 {
            width: 12.5%;
        }
        .row-15 {
            width: 15%;
        }
        .row-20 {
            width: 20%;
        }
        .row-25 {
            width: 25%;
        }
        .row-30 {
            width: 30%;
        }
        .warning {
            background-color: #f2dede;
        }
        .test-submission-row{
            background-color: as-alpha($color-gold-lightest, 0.50);
        }
    }
}