.validation-table {
	.usa-da-table {
		@import "../../../components/tables/_genericTables";
		@include tableHeader;

		@include genericBody;

		tbody tr td {
			// slight padding override to fit the table onto the page
			padding: 10px;
		}
		

		// restyle the filter search box
		thead {
			.reactable-filterer {
				input[type=text] {
					font-weight: normal;
					font-size: 1.4rem;
					color: $color-gray;
					padding: 2px 5px;
				}
			}
		}
	}
}