.usa-da-add-data-meta {
	 .meta-holder {
        padding: 15px 30px 30px 30px;
        @include contentBlockWrapper;
        input {
            max-width: none;
            &.error {
                border: 1px $color-secondary solid;
            }
        }
        .usa-da-date-type {
            margin-top: 0px;
            .usa-da-date-type-group {
                float: left;
                margin-left: 40px;
                &:first-child {
                    margin-left: 0px;
                }
            }
        }

        .quarterly-submission-note {
            text-align: left;
            font-style: italic;
            padding-left: rem(15);
            color: $color-gray;
        }

        .usa-da-submission-type {
            .usa-da-submission-type-group {
                margin-top: rem(20);
                .subtype-description {
                    font-style: italic;
                }
                .disabled {
                    color: $color-gray-light;
                }

                label {
                    font-weight: bold;
                    line-height: rem(18);
                    .subtype-description {
                        font-weight: normal;

                        &.test-submission-note {
                            margin-top: rem(7.5);
                            b {
                                color: $color-gray;
                            }
                        }
                    }
                }
            }
            .alert-warning {
                @import "../../components/alerts/_alerts";
                @include warningAlert;
                border-color: rgb(243,199,77);
                margin: 0;
                padding: rem(7.5) 0;
                h3 {
                    margin: 0;
                    font-weight: bold;
                    font-size: rem(15);
                }
                p {
                    margin: 0;
                    margin-top: rem(5);
                    font-size: rem(14);
                    line-height: rem(18);
                }
                .fa-exclamation-triangle {
                    font-size: rem(18);
                    color: #f0ad4e;
                    float: right;
                }

                .col-xs-11 {
                    padding-left: 0;
                }
            }
        }

        // style the icons
        .usa-da-form-icon {
        	@import "../../components/inputs/_fieldIcon";
        	@include fieldIcon;
        }

        // style the info alert
        .alert-info {
            @import "../../components/alerts/_alerts";
            @include infoAlert;
        }

        // style the fields
        @import "./fields/_label";
        @import "./fields/_agency";
        @import "./fields/durationType";
        @import "./fields/_dateRange";
        @import "./fields/_submit";

    }

    
    // style the submission guide link
    .usa-da-guide-link {
        font-size: 1.2rem;
        margin-top: 20px;
    }

}