.usa-da-add-data-page {
	@import "../../layouts/validation/validation";
	@include validationLayout;

	@import "./_content";
	@import "./_transitions";

	@import "./uploadPage/uploadPage";

	// style the warning for published submissions
	.published-submission-warning-banner {
		@import "../../layouts/login/_topBanner";
		@include loginTopBanner;
	}

	.alert-error { 
		@import "../../components/alerts/_alerts";
		@include dangerAlert;
	}

	.short {
		margin-bottom: -40px;
	}
}

.site_content { 
	.published-submission-warning-banner {
		@import "../../layouts/login/_topBanner";
		@include loginTopBanner;
	}
}