.usa-da-add-data-page {
	@import "../../layouts/validation/validation";
	@include validationLayout;

	@import "./_content";
	@import "./_transitions";

	@import "./uploadPage/uploadPage";

	// style the warning for published submissions
	.internal-banner {
		@import "../../layouts/login/_topBanner";
		@include loginTopBanner;
	}
	.alert {
		div {
			display: inline-block;
		}
	}

	.alert-error {
		@import "../../components/alerts/_alerts";
		@include dangerAlert;
	}
	.alert-warning {
		@import "../../components/alerts/_alerts";
		@include warningAlert;
		border-color: rgb(243,199,77);
		background: rgb(255,252,246);
	}

	.usa-da-icon-file-upload {
	    width: 2.0rem;
	}

	.short {
		margin-bottom: -40px;
	}
}

.site_content {
	.internal-banner {
		@import "../../layouts/login/_topBanner";
		@include loginTopBanner;
	}
}
