@import "../../../components/inputs/_container";

@mixin loginFormInputContainer {

    @include inputContainer;

    input {
        width: 100%;
        font-family: $font-sans;
        font-size: 1.6rem;

        padding-left: 55px;
        height: 44px;
        margin-top: 0;
        margin-bottom: 0;
        max-width: none;
        &[name="password"] {
            margin-bottom: 0;
        }
    }

    .usa-da-input-with-icon {
        padding-left: 2.5em;
    }

    .usa-da-icon {
        font-size: rem(20);
        position: absolute;
        left: rem(10);
        top: rem(8);
        color: $color-gray-dark;
    }
}