// handle alert boxes
@import "../../../components/alerts/_alerts";

@mixin loginFormAlerts {
	.alert-error {
		@include dangerAlert;

		.usa-da-icon {
            svg {
                color: #d9534f;
            } 
        }
	}
	.alert-success {
		@include successAlert;

		.usa-da-icon {
            svg {
                color: #5cb85c;
            } 
        }
	}
	.alert-info {
		@include infoAlert;

		.usa-da-icon {
            svg {
                color: #5bc0de;
            } 
        }
	}
	.alert-warning {
		@include warningAlert;

		.usa-da-icon {
            svg {
                color: #f0ad4e;
            } 
        }
	}
}