.dashboard-table {
    overflow-x: scroll;
    margin-bottom: rem(21);

    .results-table-content {
        .title, .description, .loading-message {
            font-size: rem(25);
            line-height: rem(24);
        }
        .results-table-error {
            .icon {
                color: #d9534f;
                width: rem(53);
                height: rem(50);

                svg {
                    width: rem(50);
                    height: rem(53);
                }
            }
            margin-top: rem(20);
            margin-bottom: rem(20);
            max-width: none;
        }
        .results-table-no-results {
            .no-results-icon {
                width: rem(50);
                height: rem(53);

                svg {
                    color: $color-primary;
                    width: rem(50);
                    height: rem(53);
                }
            }
            margin-top: rem(20);
            margin-bottom: rem(20);
            max-width: none;
        }
        .results-table-loading {
            .loading-animation {
                svg.loading-bars {
                    rect {
                        fill: $color-primary;
                    }
                }
            }
            margin-top: rem(20);
            margin-bottom: rem(20);
            max-width: none;
        }
    }

    @import '../../../components/tables/brokerTable';
    @include brokerTable;
    .broker-table {
        width: 100%;

        .dashboard-table__rule-column {
            padding-right: 2em;
        }

        thead.broker-table__header {
            th {
                .dashboard-table__header-wrapper {
                    display: flex;
                    height: rem(36);

                    .dashboard-table__header-text{
                        margin: auto 0;
                        white-space: nowrap;
                    }

                    .dashboard-table__sort-icons {
                        margin: auto 0;
                        margin-left: rem(10);

                        button {
                            display: block;
                            background: none;
                            border: none;
                            padding: 0;
                            overflow: hidden;
                            height: rem(13);
                            margin: rem(4) 0;

                            &.active {
                                color: $color-gold-light;
                            }
                        }

                        svg {
                            vertical-align: 0;
                            margin-top: -9px;
                        }
                    }
                }
            }
        }

        tbody.broker-table__body {
            tr {
                td {
                    &.capitalized {
                        text-transform: capitalize;
                    }

                    .modal-button {
                        @include button-unstyled;
                        color: $color-primary;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
