.dashboard-table-pagination {
    @import "../../../sharedComponents/paginator";
    @import "../../../sharedComponents/limitSelector";
    @import "../../../sharedComponents/goTo";
    @include display(flex);

    .table-paginator {
        li {
            line-height: 1em;
            font-size: rem(12);

            button {
                border-color: $color-gray-lighter;
                color: $color-primary;
                height: rem(26);
                width: rem(26);
                padding: rem(2);
            }

            svg {
                &.fa-ellipsis-h {
                    font-size: rem(13);
                }
            }
    
            &.active {
                button {
                    background-color: $color-primary-alt-dark;
                    border-color: $color-primary-alt-dark;
                    color: $color-white;
                    font-weight: initial;
                }
            }

            &.page-arrow {
                button {
                    padding: rem(2);

                    .usa-da-icon {
                        height: rem(20);
                        width: rem(20);

                        svg{
                            fill: $color-primary;
                        }
                    }
                }
            }
        }
    }
}