.usa-da-generate-download {
	border: 1px solid $color-gray-lighter;
	border-top: none;
	width: 100%;
	padding: 20px;

	.download-title {
		font-weight: bold;
		margin-bottom: rem(5);
	}

	.usa-da-download {
		// implement the download button
		@import "../../../components/buttons/_download";
		@include downloadButton;
		text-decoration: none;
	}


	.file-download-btn {
		background-color: $color-primary;
		color: $color-white;
		padding: 0px 16px 8px 16px;
		margin-top: 10px;
		display: inline-block;
		font-size: rem(14);
		border: 1px solid $color-primary;
		.usa-da-icon.usa-da-download-report svg {
			fill: $color-white;
		}
		&:hover {
			color: $color-primary;
			background-color: $color-white;
		}
		&:hover .usa-da-icon.usa-da-download-report svg {
			fill: $color-primary;
		}
	}
}
