@use "sass:color";

@mixin contentBlockWrapper() {
    background-color: $color-white;
    box-shadow: 0 1px 2px rgba(43,59,93,.29);
}

@mixin border-radius($radius) {
	@include prefixer(border-radius, $radius, webkit moz spec);
}

@function as-alpha($hex-color, $alpha) {
	$-local-red: color.channel($hex-color, "red", $space: rgb);
	$-local-green: color.channel($hex-color, "green", $space: rgb);
	$-local-blue: color.channel($hex-color, "blue", $space: rgb);
	@return rgba($-local-red, $-local-green, $-local-blue, $alpha);
}