@mixin btnBase($txtColor, $bgColor){
    color: $txtColor;
    background: $bgColor;
}

@mixin button-unstyled {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-weight: $font-normal;
    margin: 0;
    padding: 0;
    text-align: left;
    &:hover {
        background-color: transparent;
    }
}

@mixin button-link {
    // makes a button look like a hyperlink
    @include button-unstyled;
    color: $color-primary;
    &:hover {
        color: $color-primary-darker;
        text-decoration: underline;
    }
}
