@mixin betaMark() {
    content:"Beta";
    background: as-alpha($color-green-light, .9);
    padding: 7px 13px 7px 12px;
    margin-left: 8px;
    font-size: 1.2rem;
    font-weight: $font-bold;
    color: $color-white;
    position: relative;
    top: -8px;
    @include border-radius(15px 0px 15px 0px)
}

@mixin border-radius($radius) {
	@include prefixer(border-radius, $radius, webkit moz spec);
}

