// typeahead styles
.typeahead-holder {
    div {
        width: 100%;
        border-radius: 0;
        box-sizing: border-box;
        color: #a9a9a9;
        font-size: 1.7rem;
        margin: .2em 0;
        max-width: none;
        outline: none;
    }
    .awesomplete {
        .visually-hidden {
            position: absolute;
            clip: rect(0, 0, 0, 0);
        }

        [hidden] {
            display: none;
        }
    }
    .alert {
        div {
            display: inline-block;
            width: auto;
        }

        .error-icon {
            svg {
                color: $color-secondary !important;
                height: 45px;
                width: 45px;
                right: 0px !important;
            }
        }
    }

    @import "./_dropdownList";

    input {
        @import "../inputs/_generic";
        @include genericInput;
    }
}
