// typeahead styles
.typeahead-holder {
    div {
        width: 100%;
        border-radius: 0;
        box-sizing: border-box;
        color: #a9a9a9;
        font-size: 1.7rem;
        margin: .2em 0;
        max-width: none;
        outline: none;
    }
    .awesomplete {
        .visually-hidden {
            position: absolute;
            clip: rect(0, 0, 0, 0);
        }
    }
    .error-icon {
        svg {
            fill: $color-secondary !important;
            height: 45px;
            width: 45px;
            right: 0px !important;
        }
    }

    @import "./_dropdownList";

    input {
        @import "../inputs/_generic";
        @include genericInput;
    }
    
    // REPLACE RESPONSIVE WITH BOOTSTRAP IN THE FUTURE
    /* Small Devices, Tablets */
    @media (min-width : 768px) and (max-width : 991px) {
        input {
            max-width: rem(120);
        }
    }

    /* Medium Devices, Desktops */
    @media (min-width : 992px) and (max-width : 1199px) {
        input {
            max-width: rem(120);
        }
    }

    /* Large Devices, Wide Screens */
    @media (min-width : 1200px) {
        input {
            max-width: none;
        }
    }
}
