.usa-da-input-container {
    margin-bottom: 20px;
    display: inline-flex;
    position: relative;
    width: 100%;

    input {
        width: 100%;
        font-family: $font-sans;
        font-size: 1.6rem;

        padding-left: 55px;
        height: 44px;
        margin-top: 0;
        margin-bottom: 0;
        max-width: none;
        &[name="password"] {
            margin-bottom: 0;
        }
    }

    .usa-da-input-with-icon {
        padding-left: 2.5em;
    }

    .usa-da-icon {
        position: absolute;
        left: 10px;
        top: 12px;
        width: 2.2rem;
        height: 2.2rem;
        overflow: hidden;
        fill: $color-gray-dark;
    }
}