.usa-da-warning-msg {
    @include align-self(stretch);
    & p {
        max-width: 100%;
        font-size: 1.1rem;
        color: $color-white;
        margin-bottom: 2.4rem;
        & strong {
            color: $color-secondary-light;
        }
    }
}