.usa-da-login-page {
	// inherit the basic layout of the page
	@import "../../layouts/login/login";
	@include loginLayout;

	.usa-da-login-container {
		p.instructions {
			color: $color-white;
			font-size: 1.6rem;
		}

		.back-link {
			a {
				color: $color-white;
				font-size: 1.2rem;
			}
		}

		.alert {
			.usa-da-icon {
				font-size: rem(25);
			}
		}
	}
}