@import "../../../../../components/buttons/_optional";

@mixin replacementOverlayModal {

    background-color: $color-gray-lightest;
    height: 172px;
    width: 100%;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);

    .usa-da-icon {
        cursor: pointer;
        font-size: rem(18);
        svg {
            position: absolute;
            right: rem(10);
            top: rem(10);
            color: $color-gray;
            &:hover {
                color: $color-gray-dark;
            }
        }
    }

    // implement the upload button
    .usa-da-button {
    	@include optionalButton;
    }

}