@import "../../../../../components/buttons/_optional";

@mixin replacementOverlayModal {

    background-color: $color-gray-lightest;
    height: 172px;
    width: 100%;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);

    .usa-da-icon {
        cursor: pointer;
        * {
            height: 18px;
            position: absolute;
            right: 6px;
            top: 10px;
        }
    }

    .usa-da-icon-times {
        fill: $color-gray;
        &:hover {
            fill: $color-gray-dark;
        }
    }

    // implement the upload button
    .usa-da-button {
    	@include optionalButton;
    }

}