.usa-da-admin-action-block {
    display: table;
    width: 100%;

    .usa-da-button {
    	@import "../../../components/buttons/_optional";
    	@import "../../../components/buttons/_primary";
    	@import "../../../components/buttons/_danger";
    	@include optionalButton;
    	@include primaryButton;
    	@include dangerButton;

    	width: 100%;

    	margin-top: 10px;
    	&:first-child {
    		margin-top: 0px;
    	}
    }
}