.validate-data-page {
	.usa-da-submission-items {
		margin-top: 60px;
		padding-bottom: 30px;
	}

	@import "../../components/alerts/_alerts";

	.alert-warning {
		@include warningAlert;
	}

	.alert-error {
		@include dangerAlert;	
	}

	.usa-da-validate-items {
		padding: 0;
		.usa-da-validate-item {
			@import "./fileItem/fileItem";
			@include fileItem;
		}
	}
}
