.usa-da-admin-message-wrap {
	position: fixed;
	bottom: 0;
	z-index: 999999;
	width: 100%;
	left: 15px;

	.usa-da-admin-message {
		margin-bottom: 20px;
	}


	.usa-alert {
		// this page uses a custom alert style so we will need to implement these manually instead of using the standard alert mixins
		@media screen and (min-width: $medium-screen) {
	    	background-size: 5.2rem;
	  	}
		background-color: $color-gray-lightest;  
		background-position: 1rem 2rem;
		background-repeat: no-repeat;
		background-size: 4rem;
		margin-top: 1.5em;
		padding: 1em;
	}

	.usa-alert-body {
		@media screen and (min-width: $medium-screen) {
			padding-left: 5rem;
		}
		display: table-cell;
		padding-left: 3.5rem;
		vertical-align: top;

		.usa-alert-heading {
			@media screen and (min-width: $medium-screen) {
				margin-top: .3rem;
			}
			margin: {
				bottom: .3rem;
				top: 0;
			}
		}

		.usa-alert-text {
			font-family: $font-sans;
			margin: {
				bottom: 0;
				top: 0;
			}
		}
	}

	.usa-alert-success {
		background-color: $color-green-lightest;
		background-image: url('../img/alerts/success.png');  
		background-image: url('../img/alerts/success.svg');
	}
	.usa-alert-error {
		background-color: $color-secondary-lightest;
		background-image: url('../img/alerts/error.png');  
		background-image: url('../img/alerts/error.svg');   
	}
}

// also import the message animations
.usa-da-admin-message-fade-enter {
    opacity: 0.01;
    &.usa-da-admin-message-fade-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}

.usa-da-admin-message-fade-leave {
    opacity: 1;
    &.usa-da-admin-message-fade-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
}